<div class="flex items-center gap-2 justify-between w-full">
              <div class="w-1/2 flex flex-col gap-1">
                <div class="flex items-center gap-2">
                  <span class="material-symbols-outlined text-violet-sky ">
                    quiz
                  </span>
                  <p class="text-sm font-semibold">FAQ Section</p>
                </div>
                <p class="font-normal text-sm text-medium-gray">Quick Answers.</p>
              </div>
              <div class="w-1/2 flex items-center justify-end">
                <div class="w-full max-w-[360px] h-[48px] rounded-[6px] text-sm flex items-center justify-center">
                  <a href="#" class="underline text-violet-sky  font-normal">
                    Click to read More/Hide
                  </a>
                </div>
              </div>
            </div>