{% extends "dashboard/layout.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}


<!-- Main Content -->
<div
  class="h-full flex-1 flex flex-col gap-8 p-6 overflow-y-auto scroll bg-slate-white relative transition-all duration-300 main-content">
  <div class="show-sidebar-toggle hidden fixed top-24 left-0 z-50 h-10 w-10 bg-transparent-violet-sky items-center justify-center rounded-r-md cursor-pointer">
    <span class="material-symbols-outlined bold-weight text-violet-sky">
        arrow_forward_ios
    </span>
  </div>

  <div class="bg-white shadow-(--box-shadow-5) rounded-[10px] px-2 sm:px-4 py-4 max-w-full">
    <!-- Support header -->
      {% include "support-form-header.html" %}
    
    <!-- Support form and list -->
      <div class="report-issue tab-content pt-8 ">
        {% include "support-form.html" %}
        {% include "support-list.html" %}
      </div>
    
    <!-- Email Support Div -->
      <div class="contact-support tab-content pt-8 space-y-6 hidden">
        {% include "support-email.html" %} 
        
        <!-- FAQ Section  -->
        <div class="flex items-center gap-2 justify-between w-full">
          <div class="w-1/2 flex flex-col gap-1">
            <div class="flex items-center gap-2">
              <span class="material-symbols-outlined text-violet-sky"> quiz </span>
              <p class="text-sm font-semibold">FAQ Section</p>
            </div>
            <p class="font-normal text-sm text-medium-gray">Quick Answers.</p>
          </div>
          <div class="w-1/2 flex items-center justify-end">
            <div
              class="w-full max-w-[360px] h-[48px] rounded-[6px] text-sm flex items-center justify-center"
            >
              <a href="#" class="underline text-violet-sky font-normal">
                Click to read More/Hide
              </a>
            </div>
          </div>
        </div>

        <div class="relative mt-6 flex items-center rounded-md w-full">
          <input
            type="text"
            id="faq-search-input"
            class="flex-grow px-4 py-4 border border-dark-gray rounded-md pr-10 placeholder-black"
            placeholder="Search by question or answer"
          />
          <span class="absolute right-3 top-4 text-medium-gray">
            <span class="material-symbols-outlined"> search </span>
          </span>
        </div>
          {% include "support-faq.html" %}
        
      </div>
    
   <!-- Chat Section -->
      {% include "chat.html" %}
  </div>

</div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/tabs.js' %}"></script>
  <script src="{% static 'js/help.js' %}"></script>
  <script src="{% static 'js/table-pagination.js' %}"></script>
  <script src="{% static 'js/toaster.js' %}"></script>
  <script src="{% static 'js/dropdown.js' %}"></script>

  <script>
    const getIssueOptionLists = "{% url 'get-issue-options' %}";
    const saveTickets = "{% url 'submit_support_ticket' %}";
    const getTicketLists = "{% url 'get-tickets-list' %}";
    const ticketDetailsIdWise = "{% url 'get-tickets-details' %}";
    const ticketDetailsDateWise = "{% url 'get-tickets-filters' %}";
    const faqLists = "{% url 'get-faq-lists' %}";
    const sendMail = "{% url 'send-support-email' %}";
  </script>
{% endblock %}
