<div class="space-y-2">
  <div class="flex items-center space-x-2">
    <span class="material-symbols-outlined"> search_activity</span>
    <p class="font-medium text-xl">Support</p>
  </div>
  <p class="text-18-nr">We’re Just a Click Away—Support When You Need It!</p>
</div>
<!-- Tabs -->
<div
  class="flex gap-4 sm:gap-4 whitespace-nowrap mt-8 overflow-x-auto no-scrollbar"
> 
  <button
    class="tab-btn-ngo active-tab-ngo tab-btn-report text-sm sm:text-18-nr px-4 py-1.5 font-semibold cursor-pointer text-dark-gray"
    data-tab="report-issue"
  >
    Report Issue
  </button>
  <button
    class="tab-btn-ngo tab-btn-faq text-sm sm:text-18-nr px-4 py-1.5 font-medium cursor-pointer text-dark-gray"
    data-tab="contact-support"
  >
    FAQ or Contact Support
  </button>
</div>
