<div class="space-y-2 mt-6">

<div class="flex items-center gap-5">
<h1 class="font-semibold text-base text-dark-gray">Points History</h1>
<div
    class="search-filter-section flex items-center justify-end gap-5 w-full sm:w-auto mt-2 sm:mt-0 sm:ml-auto">
    <div class="w-full max-w-[800px] rounded-[6px] bg-light-white flex items-center pl-6 pr-4">
    <span class="material-symbols-outlined text-dark-gray mr-2">search</span>
    <input type="text" placeholder="Search by medicine name or categories"
        class="w-full py-2.5 bg-light-white text-black placeholder:text-medium-gray border-none focus:outline-none focus:ring-0" />
    </div>

    <div class="custom-dropdown relative z-10">
    <button
        class="custom-dropdown-btn flex items-center border border-slate-gray rounded-md p-2 cursor-pointer">
        <span class="material-symbols-outlined">tune</span>
    </button>
    <div
        class="custom-dropdown-option absolute right-0 bg-white text-dark-gray shadow-[4px_4px_10px_2px_#00000026] hidden rounded-md w-44">
        <div class="p-2 pl-4 flex justify-between items-center hover:bg-violet-sky hover:text-white rounded">Custom date
        <span class="material-symbols-outlined">calendar_today</span>
        </div>
        <div class="p-2 pl-4 hover:bg-violet-sky hover:text-white rounded ">1 Week</div>
        <div class="p-2 pl-4 hover:bg-violet-sky hover:text-white rounded">1 Month</div>
        <div class="p-2 pl-4 hover:bg-violet-sky hover:text-white rounded">1 Year</div>
    </div>
                  