{% load static %}

          <div
            class="order-history tab-content py-6 space-y-6 hidden"
          >
            <!-- Header -->
            <div
              class="px-2 flex flex-col md:flex-row items-start md:items-center justify-between gap-2"
            >
              <p class="text-sm font-semibold">Order History</p>
              <div class="flex items-center justify-start md:justify-end gap-5 w-full sm:w-5/6">
                <div
                  class="w-full max-w-[280px] rounded-[6px] bg-light-white flex items-center gap-2 px-2"
                >
                  <span class="material-symbols-outlined text-dark-gray">
                    search
                  </span>
                  <input
                    type="text"
                    placeholder="Search by name or categories"
                    class="w-full py-2.5 focus:!outline-none placeholder:text-medium-gray"
                  />
                </div>
                <div class="dropdown relative flex justify-end">
                  <button
                  class="filterToggle w-full max-w-[90px] h-[40px] border border-light-sea-green rounded-[10px] text-light-sea-green flex items-center justify-center gap-1 cursor-pointer group hover:bg-light-sea-green hover:text-white px-3"
                >
                  <span class="material-symbols-outlined text-light-sea-green group-hover:text-white">
                    keyboard_arrow_down
                  </span>
                  Filter
                </button>
                  <div
                    class="filterDropdown text-sm absolute right-0 top-10 bg-white text-dark-gray shadow-[4px_4px_10px_2px_#00000026] hidden rounded-md w-[95px] z-10"
                  >
                    <div
                      class="p-2 pl-4 cursor-pointer hover:bg-light-sea-green hover:text-white rounded"
                    >
                     Show 5
                    </div>
                    <div
                      class="p-2 pl-4 cursor-pointer hover:bg-light-sea-green hover:text-white rounded"
                    >
                     Show 10
                    </div>
                    <div
                      class="p-2 pl-4 cursor-pointer hover:bg-light-sea-green hover:text-white rounded"
                    >
                      Show 15
                    </div>
                  </div>
                </div>
                <button
                  class="order-view-btn w-full max-w-[100px] h-[40px] border border-light-sea-green rounded-[10px] text-light-sea-green flex items-center justify-center gap-1 cursor-pointer group hover:bg-light-sea-green hover:text-white"
                >
                  <span class="material-symbols-outlined text-light-sea-green group-hover:text-white">
                    file_export
                  </span>
                  <span class="hidden sm:block">View</span>
                </button>
              </div>
            </div>

            <!-- Table -->
            <div class="overflow-x-auto">
              <table class="min-w-full table-auto whitespace-nowrap docTable">
                <thead
                  class="bg-light-sea-green text-white text-sm sm:text-18-b"
                >
                  <tr>
                    <th class="text-center px-4 py-6 border-r border-white">
                      <div class="flex items-center justify-center gap-2">
                        Date & Time
                        <img
                          src="/static/images/sort-alt.svg"
                          alt="sort"
                          loading="lazy"
                        />
                      </div>
                    </th>
                    <th class="text-center px-4 py-6 border-r border-white">
                      Customer
                    </th>
                    <th class="text-center px-4 py-6 border-r border-white">
                      Customer Type
                    </th>
                    <th class="text-center px-4 py-6 border-r border-white">
                      Platform Discount
                    </th>
                    <th class="text-center px-4 py-6 border-r border-white">
                      Payment Received
                    </th>
                    <th class="text-center px-4 py-6 border-r border-white">
                      Points
                    </th>
                    <th class="text-center px-4 py-6 border-r border-white">
                      <div class="flex items-center justify-center gap-2">
                        Status
                        <img
                          src="/static/images/sort-alt.svg"
                          alt="sort"
                          loading="lazy"
                        />
                      </div>
                    </th>
                    <th class="text-center px-4 py-6 w-52">Actions</th>
                  </tr>
                </thead>
                <tbody class="bg-white text-dark-gray text-16-fs">
                  <tr>
                    <td class="px-4 py-4.5 text-center">20/03/25,14:30</td>
                    <td class="px-4 py-4.5 text-center">Monika</td>
                    <td class="px-4 py-4.5 text-center">Gold</td>
                    <td class="px-4 py-4.5 text-center">-10</td>
                    <td class="px-4 py-4.5 text-center">980</td>
                    <td class="px-4 py-4.5 text-center">2580</td>
                    <td class="px-6 py-4.5 text-center">
                      <div
                        class="bg-mint-cream text-green py-2 px-4 rounded-md border-none"
                      >
                        Completed
                      </div>
                    </td>
                    <td class="px-4 py-4.5 text-center flex items-center justify-center gap-2 w-52">
                      <span
                        class="material-symbols-outlined saved-icon cursor-pointer material-filled text-light-sea-green hover:bg-transparent-light-sea-green rounded-full p-1 transition-all mr-2"
                      >
                        bookmark
                      </span>
                      <span class="relative cursor-pointer platform-bill-view hover:bg-transparent-light-sea-green rounded-full p-1 transition-all mr-2">
                        <img src="/static/images/assignment.svg" alt="Icon"class="has-tooltip" />
                        <div class="absolute py-1 px-1.5 text-start text-xs tooltip -bottom-7 right-1 z-10 bg-white border rounded-md border-light-sea-green font-normal">
                          Platform Bill
                        </div>
                      </span>
                      <span class="relative cursor-pointer medicine-bill-view hover:bg-transparent-light-sea-green rounded-full p-1 transition-all mr-2">
                        <img src="/static/images/medicine-bill-icon.svg" alt="Icon" class="has-tooltip"/>
                        <div class="absolute py-1 px-1.5 text-start text-xs tooltip -bottom-7 right-1 z-10 bg-white border rounded-md border-light-sea-green font-normal">
                          Medicine Bill
                        </div>
                      </span>
                      <span class="relative cursor-pointer hover:bg-transparent-light-sea-green rounded-full p-1 transition-all mr-2">
                        <img src="/static/images/troubleshoot.svg" alt="Icon" class="has-tooltip"/>
                        <div class="absolute py-1 px-1.5 text-start text-xs tooltip -bottom-7 right-1 z-10 bg-white border rounded-md border-light-sea-green font-normal">
                          Statistics
                        </div>
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td class="px-4 py-4.5 text-center">20/03/25,14:30</td>
                    <td class="px-4 py-4.5 text-center">Monika</td>
                    <td class="px-4 py-4.5 text-center">Silver</td>
                    <td class="px-4 py-4.5 text-center">-20</td>
                    <td class="px-4 py-4.5 text-center">980</td>
                    <td class="px-4 py-4.5 text-center">2580</td>
                    <td class="px-6 py-4.5 text-center">
                      <div
                        class="bg-peach text-burnt-orange py-2 px-4 rounded-md border-none"
                      >
                        Processing
                      </div>
                    </td>
                    <td class="px-4 py-4.5 text-center flex items-center justify-center gap-2 w-52">
                      <span
                        class="material-symbols-outlined saved-icon cursor-pointer material-filled text-light-sea-green hover:bg-transparent-light-sea-green rounded-full p-1 transition-all mr-2"
                      >
                        bookmark
                      </span>
                      <span class="relative cursor-pointer platform-bill-view hover:bg-transparent-light-sea-green rounded-full p-1 transition-all mr-2">
                        <img src="/static/images/assignment.svg" alt="Icon"class="has-tooltip" />
                        <div class="absolute py-1 px-1.5 text-start text-xs tooltip -bottom-7 right-1 z-10 bg-white border rounded-md border-light-sea-green font-normal">
                          Platform Bill
                        </div>
                      </span>
                      <span class="relative cursor-pointer medicine-bill-view hover:bg-transparent-light-sea-green rounded-full p-1 transition-all mr-2">
                        <img src="/static/images/medicine-bill-icon.svg" alt="Icon" class="has-tooltip"/>
                        <div class="absolute py-1 px-1.5 text-start text-xs tooltip -bottom-7 right-1 z-10 bg-white border rounded-md border-light-sea-green font-normal">
                          Medicine Bill
                        </div>
                      </span>
                      <span class="relative cursor-pointer hover:bg-transparent-light-sea-green rounded-full p-1 transition-all mr-2">
                        <img src="/static/images/troubleshoot.svg" alt="Icon" class="has-tooltip"/>
                        <div class="absolute py-1 px-1.5 text-start text-xs tooltip -bottom-7 right-1 z-10 bg-white border rounded-md border-light-sea-green font-normal">
                          Statistics
                        </div>
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td class="px-4 py-4.5 text-center">20/03/25,14:30</td>
                    <td class="px-4 py-4.5 text-center">Monika</td>
                    <td class="px-4 py-4.5 text-center">Diamond</td>
                    <td class="px-4 py-4.5 text-center">-10</td>
                    <td class="px-4 py-4.5 text-center">980</td>
                    <td class="px-4 py-4.5 text-center">2580</td>
                    <td class="px-6 py-4.5 text-center">
                      <div
                        class="bg-mint-cream text-green py-2 px-4 rounded-md border-none"
                      >
                        Completed
                      </div>
                    </td>
                    <td class="px-4 py-4.5 text-center flex items-center justify-center gap-2 w-52">
                      <span
                        class="material-symbols-outlined saved-icon cursor-pointer material-filled text-light-sea-green hover:bg-transparent-light-sea-green rounded-full p-1 transition-all mr-2"
                      >
                        bookmark
                      </span>
                      <span class="relative cursor-pointer platform-bill-view hover:bg-transparent-light-sea-green rounded-full p-1 transition-all mr-2">
                        <img src="/static/images/assignment.svg" alt="Icon"class="has-tooltip" />
                        <div class="absolute py-1 px-1.5 text-start text-xs tooltip -bottom-7 right-1 z-10 bg-white border rounded-md border-light-sea-green font-normal">
                          Platform Bill
                        </div>
                      </span>
                      <span class="relative cursor-pointer medicine-bill-view hover:bg-transparent-light-sea-green rounded-full p-1 transition-all mr-2">
                        <img src="/static/images/medicine-bill-icon.svg" alt="Icon" class="has-tooltip"/>
                        <div class="absolute py-1 px-1.5 text-start text-xs tooltip -bottom-7 right-1 z-10 bg-white border rounded-md border-light-sea-green font-normal">
                          Medicine Bill
                        </div>
                      </span>
                      <span class="relative cursor-pointer hover:bg-transparent-light-sea-green rounded-full p-1 transition-all mr-2">
                        <img src="/static/images/troubleshoot.svg" alt="Icon" class="has-tooltip"/>
                        <div class="absolute py-1 px-1.5 text-start text-xs tooltip -bottom-7 right-1 z-10 bg-white border rounded-md border-light-sea-green font-normal">
                          Statistics
                        </div>
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td class="px-4 py-4.5 text-center">20/03/25,14:30</td>
                    <td class="px-4 py-4.5 text-center">Monika</td>
                    <td class="px-4 py-4.5 text-center">Gold</td>
                    <td class="px-4 py-4.5 text-center">-20</td>
                    <td class="px-4 py-4.5 text-center">980</td>
                    <td class="px-4 py-4.5 text-center">2580</td>
                    <td class="px-6 py-4.5 text-center">
                      <div
                        class="bg-mint-cream text-green py-2 px-4 rounded-md border-none"
                      >
                        Completed
                      </div>
                    </td>
                    <td class="px-4 py-4.5 text-center flex items-center justify-center gap-2 w-52">
                      <span
                        class="material-symbols-outlined saved-icon cursor-pointer material-filled text-light-sea-green hover:bg-transparent-light-sea-green rounded-full p-1 transition-all mr-2"
                      >
                        bookmark
                      </span>
                      <span class="relative cursor-pointer platform-bill-view hover:bg-transparent-light-sea-green rounded-full p-1 transition-all mr-2">
                        <img src="/static/images/assignment.svg" alt="Icon"class="has-tooltip" />
                        <div class="absolute py-1 px-1.5 text-start text-xs tooltip -bottom-7 right-1 z-10 bg-white border rounded-md border-light-sea-green font-normal">
                          Platform Bill
                        </div>
                      </span>
                      <span class="relative cursor-pointer medicine-bill-view hover:bg-transparent-light-sea-green rounded-full p-1 transition-all mr-2">
                        <img src="/static/images/medicine-bill-icon.svg" alt="Icon" class="has-tooltip"/>
                        <div class="absolute py-1 px-1.5 text-start text-xs tooltip -bottom-7 right-1 z-10 bg-white border rounded-md border-light-sea-green font-normal">
                          Medicine Bill
                        </div>
                      </span>
                      <span class="relative cursor-pointer hover:bg-transparent-light-sea-green rounded-full p-1 transition-all mr-2">
                        <img src="/static/images/troubleshoot.svg" alt="Icon" class="has-tooltip"/>
                        <div class="absolute py-1 px-1.5 text-start text-xs tooltip -bottom-7 right-1 z-10 bg-white border rounded-md border-light-sea-green font-normal">
                          Statistics
                        </div>
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td class="px-4 py-4.5 text-center">20/03/25,14:30</td>
                    <td class="px-4 py-4.5 text-center">Monika</td>
                    <td class="px-4 py-4.5 text-center">Silver</td>
                    <td class="px-4 py-4.5 text-center">-30</td>
                    <td class="px-4 py-4.5 text-center">980</td>
                    <td class="px-4 py-4.5 text-center">2580</td>
                    <td class="px-6 py-4.5 text-center">
                      <div
                        class="bg-mint-cream text-green py-2 px-4 rounded-md border-none"
                      >
                        Completed
                      </div>
                    </td>
                    <td class="px-4 py-4.5 text-center flex items-center justify-center gap-2 w-52">
                      <span
                        class="material-symbols-outlined saved-icon cursor-pointer material-filled text-light-sea-green hover:bg-transparent-light-sea-green rounded-full p-1 transition-all mr-2"
                      >
                        bookmark
                      </span>
                      <span class="relative cursor-pointer platform-bill-view hover:bg-transparent-light-sea-green rounded-full p-1 transition-all mr-2">
                        <img src="/static/images/assignment.svg" alt="Icon"class="has-tooltip" />
                        <div class="absolute py-1 px-1.5 text-start text-xs tooltip -bottom-7 right-1 z-10 bg-white border rounded-md border-light-sea-green font-normal">
                          Platform Bill
                        </div>
                      </span>
                      <span class="relative cursor-pointer medicine-bill-view hover:bg-transparent-light-sea-green rounded-full p-1 transition-all mr-2">
                        <img src="/static/images/medicine-bill-icon.svg" alt="Icon" class="has-tooltip"/>
                        <div class="absolute py-1 px-1.5 text-start text-xs tooltip -bottom-7 right-1 z-10 bg-white border rounded-md border-light-sea-green font-normal">
                          Medicine Bill
                        </div>
                      </span>
                      <span class="relative cursor-pointer hover:bg-transparent-light-sea-green rounded-full p-1 transition-all mr-2">
                        <img src="/static/images/troubleshoot.svg" alt="Icon" class="has-tooltip"/>
                        <div class="absolute py-1 px-1.5 text-start text-xs tooltip -bottom-7 right-1 z-10 bg-white border rounded-md border-light-sea-green font-normal">
                          Statistics
                        </div>
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td class="px-4 py-4.5 text-center">20/03/25,14:30</td>
                    <td class="px-4 py-4.5 text-center">Monika</td>
                    <td class="px-4 py-4.5 text-center">Gold</td>
                    <td class="px-4 py-4.5 text-center">-20</td>
                    <td class="px-4 py-4.5 text-center">980</td>
                    <td class="px-4 py-4.5 text-center">2580</td>
                    <td class="px-6 py-4.5 text-center">
                      <div
                        class="bg-mint-cream text-green py-2 px-4 rounded-md border-none"
                      >
                        Completed
                      </div>
                    </td>
                    <td class="px-4 py-4.5 text-center flex items-center justify-center gap-2 w-52">
                      <span
                        class="material-symbols-outlined saved-icon cursor-pointer material-filled text-light-sea-green hover:bg-transparent-light-sea-green rounded-full p-1 transition-all mr-2"
                      >
                        bookmark
                      </span>
                      <span class="relative cursor-pointer platform-bill-view hover:bg-transparent-light-sea-green rounded-full p-1 transition-all mr-2">
                        <img src="/static/images/assignment.svg" alt="Icon"class="has-tooltip" />
                        <div class="absolute py-1 px-1.5 text-start text-xs tooltip -bottom-7 right-1 z-10 bg-white border rounded-md border-light-sea-green font-normal">
                          Platform Bill
                        </div>
                      </span>
                      <span class="relative cursor-pointer medicine-bill-view hover:bg-transparent-light-sea-green rounded-full p-1 transition-all mr-2">
                        <img src="/static/images/medicine-bill-icon.svg" alt="Icon" class="has-tooltip"/>
                        <div class="absolute py-1 px-1.5 text-start text-xs tooltip -bottom-7 right-1 z-10 bg-white border rounded-md border-light-sea-green font-normal">
                          Medicine Bill
                        </div>
                      </span>
                      <span class="relative cursor-pointer hover:bg-transparent-light-sea-green rounded-full p-1 transition-all mr-2">
                        <img src="/static/images/troubleshoot.svg" alt="Icon" class="has-tooltip"/>
                        <div class="absolute py-1 px-1.5 text-start text-xs tooltip -bottom-7 right-1 z-10 bg-white border rounded-md border-light-sea-green font-normal">
                          Statistics
                        </div>
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td class="px-4 py-4.5 text-center">20/03/25,14:30</td>
                    <td class="px-4 py-4.5 text-center">Monika</td>
                    <td class="px-4 py-4.5 text-center">Diamond</td>
                    <td class="px-4 py-4.5 text-center">-10</td>
                    <td class="px-4 py-4.5 text-center">980</td>
                    <td class="px-4 py-4.5 text-center">2580</td>
                    <td class="px-6 py-4.5 text-center">
                      <div
                        class="bg-mint-cream text-green py-2 px-4 rounded-md border-none"
                      >
                        Completed
                      </div>
                    </td>
                    <td class="px-4 py-4.5 text-center flex items-center justify-center gap-2 w-52">
                      <span
                        class="material-symbols-outlined saved-icon cursor-pointer material-filled text-light-sea-green hover:bg-transparent-light-sea-green rounded-full p-1 transition-all mr-2"
                      >
                        bookmark
                      </span>
                      <span class="relative cursor-pointer platform-bill-view hover:bg-transparent-light-sea-green rounded-full p-1 transition-all mr-2">
                        <img src="/static/images/assignment.svg" alt="Icon"class="has-tooltip" />
                        <div class="absolute py-1 px-1.5 text-start text-xs tooltip -bottom-7 right-1 z-10 bg-white border rounded-md border-light-sea-green font-normal">
                          Platform Bill
                        </div>
                      </span>
                      <span class="relative cursor-pointer medicine-bill-view hover:bg-transparent-light-sea-green rounded-full p-1 transition-all mr-2">
                        <img src="/static/images/medicine-bill-icon.svg" alt="Icon" class="has-tooltip"/>
                        <div class="absolute py-1 px-1.5 text-start text-xs tooltip -bottom-7 right-1 z-10 bg-white border rounded-md border-light-sea-green font-normal">
                          Medicine Bill
                        </div>
                      </span>
                      <span class="relative cursor-pointer hover:bg-transparent-light-sea-green rounded-full p-1 transition-all mr-2">
                        <img src="/static/images/troubleshoot.svg" alt="Icon" class="has-tooltip"/>
                        <div class="absolute py-1 px-1.5 text-start text-xs tooltip -bottom-7 right-1 z-10 bg-white border rounded-md border-light-sea-green font-normal">
                          Statistics
                        </div>
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td class="px-4 py-4.5 text-center">20/03/25,14:30</td>
                    <td class="px-4 py-4.5 text-center">Monika</td>
                    <td class="px-4 py-4.5 text-center">Gold</td>
                    <td class="px-4 py-4.5 text-center">-10</td>
                    <td class="px-4 py-4.5 text-center">980</td>
                    <td class="px-4 py-4.5 text-center">2580</td>
                    <td class="px-6 py-4.5 text-center">
                      <div
                        class="bg-mint-cream text-green py-2 px-4 rounded-md border-none"
                      >
                        Completed
                      </div>
                    </td>
                    <td class="px-4 py-4.5 text-center flex items-center justify-center gap-2 w-52">
                      <span
                        class="material-symbols-outlined saved-icon cursor-pointer material-filled text-light-sea-green hover:bg-transparent-light-sea-green rounded-full p-1 transition-all mr-2"
                      >
                        bookmark
                      </span>
                      <span class="relative cursor-pointer platform-bill-view hover:bg-transparent-light-sea-green rounded-full p-1 transition-all mr-2">
                        <img src="/static/images/assignment.svg" alt="Icon"class="has-tooltip" />
                        <div class="absolute py-1 px-1.5 text-start text-xs tooltip -bottom-7 right-1 z-10 bg-white border rounded-md border-light-sea-green font-normal">
                          Platform Bill
                        </div>
                      </span>
                      <span class="relative cursor-pointer medicine-bill-view hover:bg-transparent-light-sea-green rounded-full p-1 transition-all mr-2">
                        <img src="/static/images/medicine-bill-icon.svg" alt="Icon" class="has-tooltip"/>
                        <div class="absolute py-1 px-1.5 text-start text-xs tooltip -bottom-7 right-1 z-10 bg-white border rounded-md border-light-sea-green font-normal">
                          Medicine Bill
                        </div>
                      </span>
                      <span class="relative cursor-pointer hover:bg-transparent-light-sea-green rounded-full p-1 transition-all mr-2">
                        <img src="/static/images/troubleshoot.svg" alt="Icon" class="has-tooltip"/>
                        <div class="absolute py-1 px-1.5 text-start text-xs tooltip -bottom-7 right-1 z-10 bg-white border rounded-md border-light-sea-green font-normal">
                          Statistics
                        </div>
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td class="px-4 py-4.5 text-center">20/03/25,14:30</td>
                    <td class="px-4 py-4.5 text-center">Monika</td>
                    <td class="px-4 py-4.5 text-center">Gold</td>
                    <td class="px-4 py-4.5 text-center">-10</td>
                    <td class="px-4 py-4.5 text-center">980</td>
                    <td class="px-4 py-4.5 text-center">2580</td>
                    <td class="px-6 py-4.5 text-center">
                      <div
                        class="bg-mint-cream text-green py-2 px-4 rounded-md border-none"
                      >
                        Completed
                      </div>
                    </td>
                    <td class="px-4 py-4.5 text-center flex items-center justify-center gap-2 w-52">
                      <span
                        class="material-symbols-outlined saved-icon cursor-pointer material-filled text-light-sea-green hover:bg-transparent-light-sea-green rounded-full p-1 transition-all mr-2"
                      >
                        bookmark
                      </span>
                      <span class="relative cursor-pointer platform-bill-view hover:bg-transparent-light-sea-green rounded-full p-1 transition-all mr-2">
                        <img src="/static/images/assignment.svg" alt="Icon"class="has-tooltip" />
                        <div class="absolute py-1 px-1.5 text-start text-xs tooltip -bottom-7 right-1 z-10 bg-white border rounded-md border-light-sea-green font-normal">
                          Platform Bill
                        </div>
                      </span>
                      <span class="relative cursor-pointer medicine-bill-view hover:bg-transparent-light-sea-green rounded-full p-1 transition-all mr-2">
                        <img src="/static/images/medicine-bill-icon.svg" alt="Icon" class="has-tooltip"/>
                        <div class="absolute py-1 px-1.5 text-start text-xs tooltip -bottom-7 right-1 z-10 bg-white border rounded-md border-light-sea-green font-normal">
                          Medicine Bill
                        </div>
                      </span>
                      <span class="relative cursor-pointer hover:bg-transparent-light-sea-green rounded-full p-1 transition-all mr-2">
                        <img src="/static/images/troubleshoot.svg" alt="Icon" class="has-tooltip"/>
                        <div class="absolute py-1 px-1.5 text-start text-xs tooltip -bottom-7 right-1 z-10 bg-white border rounded-md border-light-sea-green font-normal">
                          Statistics
                        </div>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <!-- View Popup -->
            <div
              class="order-view-modal fixed inset-0 items-center justify-center bg-black/40 px-3 z-50 hidden h-full"
            >
              <div
                class="bg-white rounded-[6px] shadow-(--box-shadow-1) backdrop-filter-[20] max-w-[1000px] h-[550px] sm:h-[650px] w-full space-y-4 overflow-hidden"
              >
                <div
                  class="flex items-center justify-between text-white h-10 bg-light-sea-green px-3"
                >
                  <div class="flex items-center gap-4">
                    <span class="material-symbols-outlined cursor-pointer">
                      share
                    </span>
                    <span class="material-symbols-outlined cursor-pointer">
                      download
                    </span>
                  </div>
                  <span class="font-medium">Order History</span>
                  <span
                    class="material-symbols-outlined cursor-pointer order-view-close"
                  >
                    close
                  </span>
                </div>
                <div
                  class="px-3 h-[calc(100%-40px)] overflow-y-auto scroll space-y-2 pb-6"
                >
                  <div
                    class="flex flex-col sm:flex-row items-center justify-between"
                  >
                    <h3 class="font-semibold text-black text-sm sm:text-base">
                      Mr. Ravi Gupta
                    </h3>
                    <p class="font-normal text-black text-xs sm:text-sm">
                      Last 7 days (14/05/2025 to 21/05/2025)
                    </p>
                  </div>
                  <div class="overflow-x-auto">
                    <table class="min-w-full table-auto whitespace-nowrap">
                      <thead
                        class="bg-light-sea-green text-white text-sm sm:text-16-b"
                      >
                        <tr>
                          <th
                            class="text-center px-4 py-4 border-r border-white"
                          >
                            <div class="flex items-center justify-center gap-2">
                              Date & Time
                              <img
                                src="/static/images/sort-alt.svg"
                                alt="sort"
                                loading="lazy"
                              />
                            </div>
                          </th>
                          <th
                            class="text-center px-4 py-4 border-r border-white"
                          >
                            Customer
                          </th>
                          <th
                            class="text-center px-4 py-4 border-r border-white"
                          >
                            Customer Type
                          </th>
                          <th
                            class="text-center px-4 py-4 border-r border-white"
                          >
                            Platform Discount
                          </th>
                          <th
                            class="text-center px-4 py-4 border-r border-white"
                          >
                            Payment Received
                          </th>
                          <th
                            class="text-center px-4 py-4 border-r border-white"
                          >
                            Points
                          </th>
                          <th
                            class="text-center px-4 py-4 border-r border-white"
                          >
                            <div class="flex items-center justify-center gap-2">
                              Status
                              <img
                                src="/static/images/sort-alt.svg"
                                alt="sort"
                                loading="lazy"
                              />
                            </div>
                          </th>
                        </tr>
                      </thead>
                      <tbody class="bg-white text-dark-gray text-14-fs">
                        <tr>
                          <td class="px-4 py-4.5 text-center">
                            20/03/25,14:30
                          </td>
                          <td class="px-4 py-4.5 text-center">Monika</td>
                          <td class="px-4 py-4.5 text-center">Gold</td>
                          <td class="px-4 py-4.5 text-center">-10</td>
                          <td class="px-4 py-4.5 text-center">980</td>
                          <td class="px-4 py-4.5 text-center">2580</td>
                          <td class="px-6 py-4.5 text-center">
                            <div
                              class="bg-mint-cream text-green py-2 rounded-md border-none px-3"
                            >
                              Completed
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="px-4 py-4.5 text-center">
                            20/03/25,14:30
                          </td>
                          <td class="px-4 py-4.5 text-center">Monika</td>
                          <td class="px-4 py-4.5 text-center">Silver</td>
                          <td class="px-4 py-4.5 text-center">-20</td>
                          <td class="px-4 py-4.5 text-center">980</td>
                          <td class="px-4 py-4.5 text-center">2580</td>
                          <td class="px-6 py-4.5 text-center">
                            <div
                              class="bg-peach text-burnt-orange py-2 rounded-md border-none px-3"
                            >
                              Processing
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="px-4 py-4.5 text-center">
                            20/03/25,14:30
                          </td>
                          <td class="px-4 py-4.5 text-center">Monika</td>
                          <td class="px-4 py-4.5 text-center">Diamond</td>
                          <td class="px-4 py-4.5 text-center">-10</td>
                          <td class="px-4 py-4.5 text-center">980</td>
                          <td class="px-4 py-4.5 text-center">2580</td>
                          <td class="px-6 py-4.5 text-center">
                            <div
                              class="bg-mint-cream text-green py-2 rounded-md border-none px-3"
                            >
                              Completed
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="px-4 py-4.5 text-center">
                            20/03/25,14:30
                          </td>
                          <td class="px-4 py-4.5 text-center">Monika</td>
                          <td class="px-4 py-4.5 text-center">Gold</td>
                          <td class="px-4 py-4.5 text-center">-20</td>
                          <td class="px-4 py-4.5 text-center">980</td>
                          <td class="px-4 py-4.5 text-center">2580</td>
                          <td class="px-6 py-4.5 text-center">
                            <div
                              class="bg-mint-cream text-green py-2 rounded-md border-none px-3"
                            >
                              Completed
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="px-4 py-4.5 text-center">
                            20/03/25,14:30
                          </td>
                          <td class="px-4 py-4.5 text-center">Monika</td>
                          <td class="px-4 py-4.5 text-center">Silver</td>
                          <td class="px-4 py-4.5 text-center">-30</td>
                          <td class="px-4 py-4.5 text-center">980</td>
                          <td class="px-4 py-4.5 text-center">2580</td>
                          <td class="px-6 py-4.5 text-center">
                            <div
                              class="bg-mint-cream text-green py-2 rounded-md border-none px-3"
                            >
                              Completed
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="px-4 py-4.5 text-center">
                            20/03/25,14:30
                          </td>
                          <td class="px-4 py-4.5 text-center">Monika</td>
                          <td class="px-4 py-4.5 text-center">Gold</td>
                          <td class="px-4 py-4.5 text-center">-20</td>
                          <td class="px-4 py-4.5 text-center">980</td>
                          <td class="px-4 py-4.5 text-center">2580</td>
                          <td class="px-6 py-4.5 text-center">
                            <div
                              class="bg-mint-cream text-green py-2 rounded-md border-none px-3"
                            >
                              Completed
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="px-4 py-4.5 text-center">
                            20/03/25,14:30
                          </td>
                          <td class="px-4 py-4.5 text-center">Monika</td>
                          <td class="px-4 py-4.5 text-center">Diamond</td>
                          <td class="px-4 py-4.5 text-center">-10</td>
                          <td class="px-4 py-4.5 text-center">980</td>
                          <td class="px-4 py-4.5 text-center">2580</td>
                          <td class="px-6 py-4.5 text-center">
                            <div
                              class="bg-mint-cream text-green py-2 rounded-md border-none px-3"
                            >
                              Completed
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="px-4 py-4.5 text-center">
                            20/03/25,14:30
                          </td>
                          <td class="px-4 py-4.5 text-center">Monika</td>
                          <td class="px-4 py-4.5 text-center">Gold</td>
                          <td class="px-4 py-4.5 text-center">-10</td>
                          <td class="px-4 py-4.5 text-center">980</td>
                          <td class="px-4 py-4.5 text-center">2580</td>
                          <td class="px-6 py-4.5 text-center">
                            <div
                              class="bg-mint-cream text-green py-2 rounded-md border-none px-3"
                            >
                              Completed
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="px-4 py-4.5 text-center">
                            20/03/25,14:30
                          </td>
                          <td class="px-4 py-4.5 text-center">Monika</td>
                          <td class="px-4 py-4.5 text-center">Gold</td>
                          <td class="px-4 py-4.5 text-center">-10</td>
                          <td class="px-4 py-4.5 text-center">980</td>
                          <td class="px-4 py-4.5 text-center">2580</td>
                          <td class="px-6 py-4.5 text-center">
                            <div
                              class="bg-mint-cream text-green py-2 rounded-md border-none px-3"
                            >
                              Completed
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>