{% if created_coupons %}
    {% for c in created_coupons %}
        <div class="bg-white mt-4 p-4 rounded-md shadow-lg created-coupon">
            <div class="flex lg:justify-between lg:items-center flex-col lg:flex-row">

                <div class="flex flex-col">
                    <p class="font-bold text-sm text-deep-teal-green tracking-[0.25em] uppercase">
                        {{ c.seller_type|title }}
                    </p>

                    <p class="font-bold text-lg text-jet-black">
                        {{ c.coupon_name }}
                    </p>

                    <p class="font-normal text-base text-dark-gray">
                        Valid till {{ c.expiry_date|date:"d M Y" }}
                    </p>
                </div>

                <div class="flex flex-col pt-4">
                    <div class="flex lg:justify-between lg:items-center gap-6">
                        <p class="font-normal text-base text-jet-black">Redeemed</p>
                        <p class="text-xs font-medium text-jet-black">
                            {{ c.used_count }}/{{ c.usage_limit }}
                        </p>
                    </div>

                    <div class="w-full max-w-md pt-4">
                        <div class="w-full bg-pale-ice-blue rounded-full h-2">
                            {% with percent=c.used_count|floatformat:0 %}
                            <div class="bg-deep-teal-green h-2 rounded-full"
                                 style="width: {{ c.used_count|divisibleby:c.usage_limit }}%">
                            </div>
                            {% endwith %}
                        </div>
                    </div>
                </div>

                <div class="hidden lg:block h-20 w-px bg-deep-teal-green mx-4"></div>

                <div class="pt-4">
                    <button 
                        class="copy-coupon bg-deep-teal-green font-bold text-lg text-white w-full rounded-md p-2 flex items-center gap-2 justify-center cursor-pointer"
                        data-code="{{ c.coupon_code }}"
                    >
                        {{ c.coupon_code }}
                        <span class="material-symbols-outlined">content_copy</span>
                    </button>
                </div>

            </div>
        </div>
    {% endfor %}
{% else %}
    <p class="text-center text-gray-500 mt-6">No coupons created yet.</p>
{% endif %}
