{% for coupon in coupon_history %}
                    <tr>
                    <td style="padding: 12px; text-align: center;">
                        {{ coupon.created_at|date:"d/m/y,H:i" }}
                    </td>
                    <td style="padding: 12px; text-align: center;">
                        {{ coupon.category }}
                    </td>
                    <td style="padding: 12px; text-align: center;">
                        {{ coupon.brand_name }}
                    </td>
                    <td style="padding: 12px; text-align: center;">
                        {{ coupon.max_redemptions }}
                    </td>
                    <td style="padding: 12px; text-align: center;">
                        {{ coupon.redeemed_count|default:"0" }}
                    </td>
                    <td style="padding: 12px; text-align: center;">
                        {{ coupon.max_redemptions|add:"-"|add:coupon.redeemed_count|default:coupon.max_redemptions }}
                    </td>
                    <td style="padding: 12px; text-align: center;">
                        {{ coupon.validity|date:"dM Y" }}
                    </td>
                    <td style="padding: 12px; text-align: center;">
                        <div style="{% if coupon.validity > today %}background-color: #F0FFF0; color: #32CD32;{% else %}background-color: #FFEBEE; color: #D32F2F;{% endif %} padding: 8px 12px; border-radius: 8px;">
                        {% if coupon.validity > today %}Active{% else %}Expired{% endif %}
                        </div>
                    </td>
                    </tr>
                {% empty %}
                    <tr>
                    <td colspan="8" style="text-align: center; padding: 12px;">No coupon history available.</td>
                    </tr>
                {% endfor %}