                    <div class="tab-content created-coupons hidden mt-5">
                        <div class="flex justify-between items-center pt-6">
                            <p class="font-semibold text-lg text-jet-black">Popular Coupons</p>

                        </div>

                        <div id="created-coupons">
                            <!--Coupon1-->
                            <div class="bg-white mt-4 p-4 rounded-md shadow-lg created-coupon">
                                <div class="flex lg:justify-between lg:items-center flex-col lg:flex-row">
                                    <div class="flex flex-col">
                                        <p class="font-bold text-sm text-deep-teal-green tracking-[0.25em] uppercase">
                                            Category : Brand name
                                        </p>
                                        <p class="font-bold text-lg text-jet-black">
                                            25% Off Premium Supplements
                                        </p>
                                        <p class="font-normal text-base text-dark-gray">
                                            Complete health assessment including blood work, cardiac
                                            evaluation, and nutritionist consultation
                                        </p>
                                    </div>
                                    <div class="flex flex-col pt-4">
                                        <div class="flex lg:justify-between lg:items-center gap-6">
                                            <p class="font-normal text-base text-jet-black">Redeemed</p>
                                            <p class="text-xs font-medium text-jet-black">50/100</p>
                                        </div>
                                        <div class="w-full max-w-md pt-4">
                                            <div class="w-full bg-pale-ice-blue rounded-full h-2">
                                                <div class="bg-deep-teal-green h-2 rounded-full w-[50%]">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hidden lg:block h-20 w-px bg-deep-teal-green mx-4"></div>
                                    <div class="pt-4">
                                        <button
                                            class="bg-deep-teal-green font-bold text-lg text-white w-full rounded-md p-2 flex items-center gap-2 justify-center cursor-pointer">
                                            #123GHJSAI<span class="material-symbols-outlined">
                                                content_copy
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!--Coupon2-->
                            <div class="bg-white mt-4 p-4 rounded-md shadow-lg created-coupon">
                                <div class="flex lg:justify-between lg:items-center flex-col lg:flex-row">
                                    <div class="flex flex-col">
                                        <p class="font-bold text-sm text-deep-teal-green tracking-[0.25em] uppercase">
                                            Category : Brand name
                                        </p>
                                        <p class="font-bold text-lg text-jet-black">
                                            25% Off Premium Supplements
                                        </p>
                                        <p class="font-normal text-base text-dark-gray">
                                            Complete health assessment including blood work, cardiac
                                            evaluation, and nutritionist consultation
                                        </p>
                                    </div>
                                    <div class="flex flex-col pt-4">
                                        <div class="flex lg:justify-between lg:items-center gap-6">
                                            <p class="font-normal text-base text-jet-black">Redeemed</p>
                                            <p class="text-xs font-medium text-jet-black">50/100</p>
                                        </div>
                                        <div class="w-full max-w-md pt-4">
                                            <div class="w-full bg-pale-ice-blue rounded-full h-2">
                                                <div class="bg-deep-teal-green h-2 rounded-full w-[50%]">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hidden lg:block h-20 w-px bg-deep-teal-green mx-4"></div>
                                    <div class="pt-4">
                                        <button
                                            class="bg-deep-teal-green font-bold text-lg text-white w-full rounded-md p-2 flex items-center gap-2 justify-center cursor-pointer">
                                            #123GHJSAI<span class="material-symbols-outlined">
                                                content_copy
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!--Coupon3-->
                            <div class="bg-white mt-4 p-4 rounded-md shadow-lg created-coupon">
                                <div class="flex lg:justify-between lg:items-center flex-col lg:flex-row">
                                    <div class="flex flex-col">
                                        <p class="font-bold text-sm text-deep-teal-green tracking-[0.25em] uppercase">
                                            Category : Brand name
                                        </p>
                                        <p class="font-bold text-lg text-jet-black">
                                            25% Off Premium Supplements
                                        </p>
                                        <p class="font-normal text-base text-dark-gray">
                                            Complete health assessment including blood work, cardiac
                                            evaluation, and nutritionist consultation
                                        </p>
                                    </div>
                                    <div class="flex flex-col pt-4">
                                        <div class="flex lg:justify-between lg:items-center gap-6">
                                            <p class="font-normal text-base text-jet-black">Redeemed</p>
                                            <p class="text-xs font-medium text-jet-black">50/100</p>
                                        </div>
                                        <div class="w-full max-w-md pt-4">
                                            <div class="w-full bg-pale-ice-blue rounded-full h-2">
                                                <div class="bg-deep-teal-green h-2 rounded-full w-[50%]">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hidden lg:block h-20 w-px bg-deep-teal-green mx-4"></div>
                                    <div class="pt-4">
                                        <button
                                            class="bg-deep-teal-green font-bold text-lg text-white w-full rounded-md p-2 flex items-center gap-2 justify-center cursor-pointer">
                                            #123GHJSAI<span class="material-symbols-outlined">
                                                content_copy
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!--Coupon4-->
                            <div class="bg-white mt-4 p-4 rounded-md shadow-lg created-coupon">
                                <div class="flex lg:justify-between lg:items-center flex-col lg:flex-row">
                                    <div class="flex flex-col">
                                        <p class="font-bold text-sm text-deep-teal-green tracking-[0.25em] uppercase">
                                            Category : Brand name
                                        </p>
                                        <p class="font-bold text-lg text-jet-black">
                                            25% Off Premium Supplements
                                        </p>
                                        <p class="font-normal text-base text-dark-gray">
                                            Complete health assessment including blood work, cardiac
                                            evaluation, and nutritionist consultation
                                        </p>
                                    </div>
                                    <div class="flex flex-col pt-4">
                                        <div class="flex lg:justify-between lg:items-center gap-6">
                                            <p class="font-normal text-base text-jet-black">Redeemed</p>
                                            <p class="text-xs font-medium text-jet-black">50/100</p>
                                        </div>
                                        <div class="w-full max-w-md pt-4">
                                            <div class="w-full bg-pale-ice-blue rounded-full h-2">
                                                <div class="bg-deep-teal-green h-2 rounded-full w-[50%]">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hidden lg:block h-20 w-px bg-deep-teal-green mx-4"></div>
                                    <div class="pt-4">
                                        <button
                                            class="bg-deep-teal-green font-bold text-lg text-white w-full rounded-md p-2 flex items-center gap-2 justify-center cursor-pointer">
                                            #123GHJSAI<span class="material-symbols-outlined">
                                                content_copy
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!--Coupon 5-->
                            <div class="bg-white mt-4 p-4 rounded-md shadow-lg created-coupon">
                                <div class="flex lg:justify-between lg:items-center flex-col lg:flex-row">
                                    <div class="flex flex-col">
                                        <p class="font-bold text-sm text-deep-teal-green tracking-[0.25em] uppercase">
                                            Category : Brand name
                                        </p>
                                        <p class="font-bold text-lg text-jet-black">
                                            25% Off Premium Supplements
                                        </p>
                                        <p class="font-normal text-base text-dark-gray">
                                            Complete health assessment including blood work, cardiac
                                            evaluation, and nutritionist consultation
                                        </p>
                                    </div>
                                    <div class="flex flex-col pt-4">
                                        <div class="flex lg:justify-between lg:items-center gap-6">
                                            <p class="font-normal text-base text-jet-black">Redeemed</p>
                                            <p class="text-xs font-medium text-jet-black">50/100</p>
                                        </div>
                                        <div class="w-full max-w-md pt-4">
                                            <div class="w-full bg-pale-ice-blue rounded-full h-2">
                                                <div class="bg-deep-teal-green h-2 rounded-full w-[50%]">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hidden lg:block h-20 w-px bg-deep-teal-green mx-4"></div>
                                    <div class="pt-4">
                                        <button
                                            class="bg-deep-teal-green font-bold text-lg text-white w-full rounded-md p-2 flex items-center gap-2 justify-center cursor-pointer">
                                            #123GHJSAI<span class="material-symbols-outlined">
                                                content_copy
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!--Coupon 6-->
                            <div class="bg-white mt-4 p-4 rounded-md shadow-lg created-coupon">
                                <div class="flex lg:justify-between lg:items-center flex-col lg:flex-row">
                                    <div class="flex flex-col">
                                        <p class="font-bold text-sm text-deep-teal-green tracking-[0.25em] uppercase">
                                            Category : Brand name
                                        </p>
                                        <p class="font-bold text-lg text-jet-black">
                                            25% Off Premium Supplements
                                        </p>
                                        <p class="font-normal text-base text-dark-gray">
                                            Complete health assessment including blood work, cardiac
                                            evaluation, and nutritionist consultation
                                        </p>
                                    </div>
                                    <div class="flex flex-col pt-4">
                                        <div class="flex lg:justify-between lg:items-center gap-6">
                                            <p class="font-normal text-base text-jet-black">Redeemed</p>
                                            <p class="text-xs font-medium text-jet-black">50/100</p>
                                        </div>
                                        <div class="w-full max-w-md pt-4">
                                            <div class="w-full bg-pale-ice-blue rounded-full h-2">
                                                <div class="bg-deep-teal-green h-2 rounded-full w-[50%]">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hidden lg:block h-20 w-px bg-deep-teal-green mx-4"></div>
                                    <div class="pt-4">
                                        <button
                                            class="bg-deep-teal-green font-bold text-lg text-white w-full rounded-md p-2 flex items-center gap-2 justify-center cursor-pointer">
                                            #123GHJSAI<span class="material-symbols-outlined">
                                                content_copy
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex justify-center gap-2 mt-6" id="coupon-pagination-controls">
                            <button id="prevPage3" class="text-light-gray3 px-4 py-2 text-xs">
                                Previous
                            </button>
                            <div id="pagination-numbers3" class="flex gap-2"></div>
                            <button id="nextPage3" class="text-light-gray3 px-4 py-2 text-xs">
                                Next
                            </button>
                        </div>
                    </div>