                    <div class="tab-content created-coupons hidden mt-5">
                        <div class="flex justify-between items-center pt-6">
                            <p class="font-semibold text-lg text-jet-black">Popular Coupons</p>

                        </div>

                        <div id="created-coupons"></div>

                        <div class="flex justify-center gap-2 mt-6" id="coupon-pagination-controls">
                            <button id="prevPage3" class="text-light-gray3 px-4 py-2 text-xs">
                                Previous
                            </button>
                            <div id="pagination-numbers3" class="flex gap-2"></div>
                            <button id="nextPage3" class="text-light-gray3 px-4 py-2 text-xs">
                                Next
                            </button>
                        </div>
                    </div>
                    