                    <div class="tab-content purchase-coupons mt-5">
                        <p class="font-bold text-lg text-blue-charcoal">Coupons</p>
                        <div class="mt-2 flex items-center gap-4 overflow-x-auto no-scrollbar">
                            <div class="bg-white border border-cool-ice-gray rounded-xl w-[330px]">
                                <div class="flex items-center gap-3 py-3 px-4">
                                    <div
                                        class="w-12 h-12 rounded-full border border-cool-steel-blue flex items-center justify-center">
                                        <img src="/static/images/coupon-percent.svg" alt="">
                                    </div>
                                    <div class="flex flex-col gap-4">
                                        <p class="font-semibold text-base text-blue-charcoal text-nowrap">50% Off
                                            Premium Supplements</p>
                                        <div class="flex items-center justify-between">
                                            <div
                                                class="bg-deep-teal-green w-[78px] h-[22px] flex items-center justify-center rounded-md">
                                                <span class="font-bold text-xs text-white">Redeemed</span>
                                            </div>
                                            <p class="font-normal text-sm text-blue-charcoal">50/100</p>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="h-[48px] bg-ocean-teal rounded-br-xl rounded-bl-xl flex items-center justify-center gap-2">
                                    <p class="font-semibold text-sm text-deep-teal-green">#123GHJSAI</p>
                                    <span
                                        class="material-symbols-outlined text-deep-teal-green cursor-pointer">content_copy</span>
                                </div>
                            </div>
                            <div class="bg-white border border-cool-ice-gray rounded-xl w-[330px]">
                                <div class="flex items-center gap-3 py-3 px-4">
                                    <div
                                        class="w-12 h-12 rounded-full border border-cool-steel-blue flex items-center justify-center">
                                        <img src="/static/images/coupon-percent.svg" alt="">
                                    </div>
                                    <div class="flex flex-col gap-4">
                                        <p class="font-semibold text-base text-blue-charcoal text-nowrap">50% Off
                                            Premium Supplements</p>
                                        <div class="flex items-center justify-between">
                                            <div
                                                class="bg-deep-teal-green w-[78px] h-[22px] flex items-center justify-center rounded-md">
                                                <span class="font-bold text-xs text-white">Redeemed</span>
                                            </div>
                                            <p class="font-normal text-sm text-blue-charcoal">50/100</p>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="h-[48px] bg-ocean-teal rounded-br-xl rounded-bl-xl flex items-center justify-center gap-2">
                                    <p class="font-semibold text-sm text-deep-teal-green">#123GHJSAI</p>
                                    <span
                                        class="material-symbols-outlined text-deep-teal-green cursor-pointer">content_copy</span>
                                </div>
                            </div>
                            <div class="bg-white border border-cool-ice-gray rounded-xl w-[330px]">
                                <div class="flex items-center gap-3 py-3 px-4">
                                    <div
                                        class="w-12 h-12 rounded-full border border-cool-steel-blue flex items-center justify-center">
                                        <img src="/static/images/coupon-percent.svg" alt="">
                                    </div>
                                    <div class="flex flex-col gap-4">
                                        <p class="font-semibold text-base text-blue-charcoal text-nowrap">50% Off
                                            Premium Supplements</p>
                                        <div class="flex items-center justify-between">
                                            <div
                                                class="bg-deep-teal-green w-[78px] h-[22px] flex items-center justify-center rounded-md">
                                                <span class="font-bold text-xs text-white">Redeemed</span>
                                            </div>
                                            <p class="font-normal text-sm text-blue-charcoal">50/100</p>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="h-[48px] bg-ocean-teal rounded-br-xl rounded-bl-xl flex items-center justify-center gap-2">
                                    <p class="font-semibold text-sm text-deep-teal-green">#123GHJSAI</p>
                                    <span
                                        class="material-symbols-outlined text-deep-teal-green cursor-pointer">content_copy</span>
                                </div>
                            </div>
                            <div class="bg-white border border-cool-ice-gray rounded-xl w-[330px]">
                                <div class="flex items-center gap-3 py-3 px-4">
                                    <div
                                        class="w-12 h-12 rounded-full border border-cool-steel-blue flex items-center justify-center">
                                        <img src="/static/images/coupon-percent.svg" alt="">
                                    </div>
                                    <div class="flex flex-col gap-4">
                                        <p class="font-semibold text-base text-blue-charcoal text-nowrap">50% Off
                                            Premium Supplements</p>
                                        <div class="flex items-center justify-between">
                                            <div
                                                class="bg-deep-teal-green w-[78px] h-[22px] flex items-center justify-center rounded-md">
                                                <span class="font-bold text-xs text-white">Redeemed</span>
                                            </div>
                                            <p class="font-normal text-sm text-blue-charcoal">50/100</p>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="h-[48px] bg-ocean-teal rounded-br-xl rounded-bl-xl flex items-center justify-center gap-2">
                                    <p class="font-semibold text-sm text-deep-teal-green">#123GHJSAI</p>
                                    <span
                                        class="material-symbols-outlined text-deep-teal-green cursor-pointer">content_copy</span>
                                </div>
                            </div>
                        </div>

                        <div class="flex justify-between items-center pt-5">
                            <p class="font-semibold lg:text-lg sm:text-nowrap text-jet-black">
                                New Coupons for you
                            </p>
                            <div class="flex items-center justify-center gap-4">
                                <div class="lg:w-110 rounded-[6px] bg-light-white flex items-center gap-2 px-2 sm:w-60">
                                    <span class="material-symbols-outlined text-dark-gray">
                                        search
                                    </span>
                                    <input type="text" placeholder="Search by  name or categories"
                                        class="w-full p-1.5 focus:!outline-none placeholder:text-medium-gray border-none bg-transparent focus:ring-0 only-text" />
                                </div>

                                <div class="relative dropdown">
                                    <button
                                        class="filterToggle flex items-center border border-slate-gray rounded-md p-1  w-8 h-8 cursor-pointer">
                                        <span
                                            class="material-symbols-outlined flex justify-center items-center">tune</span>
                                    </button>
                                    <div
                                        class="filterDropdown absolute right-0 bg-white text-dark-gray shadow-[4px_4px_10px_2px_#00000026] hidden rounded-md w-44 z-10">
                                        <div
                                            class="p-2 pl-4 flex justify-between items-center cursor-pointer hover:bg-deep-teal-green hover:text-white rounded">
                                            Custom date<span
                                                class="material-symbols-outlined calendar-icon">calendar_today</span>
                                        </div>
                                        <div
                                            class="p-2 pl-4 hover:bg-deep-teal-green hover:text-white rounded cursor-pointer">
                                            1 Week
                                        </div>
                                        <div
                                            class="p-2 pl-4 hover:bg-deep-teal-green hover:text-white rounded cursor-pointer">
                                            1 Month
                                        </div>
                                        <div
                                            class="p-2 pl-4 hover:bg-deep-teal-green hover:text-white rounded cursor-pointer">
                                            1 Year
                                        </div>
                                    </div>
                                    <div
                                        class="datepicker-container hidden px-4 pb-3 absolute top-full right-0 lg:right-[180px] z-50 bg-white shadow-md rounded">
                                        <div class="datepicker-inline"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Cards-->
                        <div class="pt-4 grid grid-cols-1 place-items-center lg:grid-cols-3 gap-3"
                            id="featured-rewards">
                            <!--Card1-->
                            <div class="max-w-md rounded-xl overflow-hidden shadow-xl bg-white reward-card">
                                <img class="w-full h-48 object-cover" src="/static/images/tablets.svg" alt=" Image" />
                                <div class="p-4">
                                    <p class="font-bold text-sm text-deep-teal-green tracking-[0.25em] uppercase">
                                        Category : Brand name
                                    </p>
                                    <p class="font-bold text-lg text-dark-gray">25% Off Premium Supplements
                                    </p>
                                    <p class="font-normal text-base text-dark-gray">
                                        Complete health assessment including blood work, cardiac
                                        evaluation, and nutritionist consultation
                                    </p>
                                    <hr class="text-deep-teal-green w-full mt-2" />
                                    <div class="flex flex-col pt-4">
                                        <div class="flex justify-between">
                                            <p class="font-normal text-base text-jet-black">Redeemed</p>
                                            <p class="text-xs font-medium text-jet-black">50/100</p>
                                        </div>
                                        <div class="w-1/2 max-w-md pt-4">
                                            <div class="w-full bg-pale-ice-blue rounded-full h-2">
                                                <div class="bg-deep-teal-green h-2 rounded-full w-[50%]">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="pt-4">
                                            <button
                                                class="bg-deep-teal-green font-bold text-lg text-white w-full rounded-md p-2 flex items-center gap-2 justify-center cursor-pointer">
                                                #123GHJSAI<span class="material-symbols-outlined">
                                                    content_copy
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Card2-->
                            <div class="max-w-md rounded-xl overflow-hidden shadow-xl bg-white reward-card">
                                <img class="w-full h-48 object-cover" src="/static/images/tablets.svg" alt=" Image" />
                                <div class="p-4">
                                    <p class="font-bold text-sm text-deep-teal-green tracking-[0.25em] uppercase">
                                        Category : Brand name
                                    </p>
                                    <p class="font-bold text-lg text-dark-gray">25% Off Premium Supplements
                                    </p>
                                    <p class="font-normal text-base text-dark-gray">
                                        Complete health assessment including blood work, cardiac
                                        evaluation, and nutritionist consultation
                                    </p>
                                    <hr class="text-deep-teal-green w-full mt-2" />
                                    <div class="flex flex-col pt-4">
                                        <div class="flex justify-between">
                                            <p class="font-normal text-base text-jet-black">Redeemed</p>
                                            <p class="text-xs font-medium text-jet-black">50/100</p>
                                        </div>
                                        <div class="w-1/2 max-w-md pt-4">
                                            <div class="w-full bg-pale-ice-blue rounded-full h-2">
                                                <div class="bg-deep-teal-green h-2 rounded-full w-[50%]">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="pt-4">
                                            <button
                                                class="bg-deep-teal-green font-bold text-lg text-white w-full rounded-md p-2 flex items-center gap-2 justify-center cursor-pointer">
                                                #123GHJSAI<span class="material-symbols-outlined">
                                                    content_copy
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Card3-->
                            <div class="max-w-md rounded-xl overflow-hidden shadow-xl bg-white reward-card">
                                <img class="w-full h-48 object-cover" src="/static/images/tablets.svg" alt=" Image" />
                                <div class="p-4">
                                    <p class="font-bold text-sm text-deep-teal-green tracking-[0.25em] uppercase">
                                        Category : Brand name
                                    </p>
                                    <p class="font-bold text-lg text-dark-gray">25% Off Premium Supplements
                                    </p>
                                    <p class="font-normal text-base text-dark-gray">
                                        Complete health assessment including blood work, cardiac
                                        evaluation, and nutritionist consultation
                                    </p>
                                    <hr class="text-deep-teal-green w-full mt-2" />
                                    <div class="flex flex-col pt-4">
                                        <div class="flex justify-between">
                                            <p class="font-normal text-base text-jet-black">Redeemed</p>
                                            <p class="text-xs font-medium text-jet-black">50/100</p>
                                        </div>
                                        <div class="w-1/2 max-w-md pt-4">
                                            <div class="w-full bg-pale-ice-blue rounded-full h-2">
                                                <div class="bg-deep-teal-green h-2 rounded-full w-[50%]">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="pt-4">
                                            <button
                                                class="bg-deep-teal-green font-bold text-lg text-white w-full rounded-md p-2 flex items-center gap-2 justify-center cursor-pointer">
                                                #123GHJSAI<span class="material-symbols-outlined">
                                                    content_copy
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Card4-->
                            <div class="max-w-md rounded-xl overflow-hidden shadow-xl bg-white reward-card">
                                <img class="w-full h-48 object-cover" src="/static/images/tablets.svg" alt=" Image" />
                                <div class="p-4">
                                    <p class="font-bold text-sm text-deep-teal-green tracking-[0.25em] uppercase">
                                        Category : Brand name
                                    </p>
                                    <p class="font-bold text-lg text-dark-gray">25% Off Premium Supplements
                                    </p>
                                    <p class="font-normal text-base text-dark-gray">
                                        Complete health assessment including blood work, cardiac
                                        evaluation, and nutritionist consultation
                                    </p>
                                    <hr class="text-deep-teal-green w-full mt-2" />
                                    <div class="flex flex-col pt-4">
                                        <div class="flex justify-between">
                                            <p class="font-normal text-base text-jet-black">Redeemed</p>
                                            <p class="text-xs font-medium text-jet-black">50/100</p>
                                        </div>
                                        <div class="w-1/2 max-w-md pt-4">
                                            <div class="w-full bg-pale-ice-blue rounded-full h-2">
                                                <div class="bg-deep-teal-green h-2 rounded-full w-[50%]">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="pt-4">
                                            <button
                                                class="bg-deep-teal-green font-bold text-lg text-white w-full rounded-md p-2 flex items-center gap-2 justify-center cursor-pointer">
                                                #123GHJSAI<span class="material-symbols-outlined">
                                                    content_copy
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex justify-center gap-2 mt-6" id="featured-pagination-controls">
                            <button id="prevPage1" class="text-light-gray3 px-4 py-2 text-xs">
                                Previous
                            </button>
                            <div id="pagination-numbers1" class="flex gap-2"></div>
                            <button id="nextPage1" class="text-light-gray3 px-4 py-2 text-xs">
                                Next
                            </button>
                        </div>
                        <!--Popular Coupons section-->
                        <div class="flex justify-between items-center pt-6">
                            <p class="font-semibold text-lg text-jet-black">Popular Coupons</p>

                        </div>

                        <div id="popular-coupons">
                            <!--Coupon1-->
                            <div class="bg-white mt-4 p-4 rounded-md shadow-lg coupon-card">
                                <div class="flex lg:justify-between lg:items-center flex-col lg:flex-row">
                                    <div class="flex flex-col">
                                        <p class="font-bold text-sm text-deep-teal-green tracking-[0.25em] uppercase">
                                            Category : Brand name
                                        </p>
                                        <p class="font-bold text-lg text-jet-black">
                                            25% Off Premium Supplements
                                        </p>
                                        <p class="font-normal text-base text-dark-gray">
                                            Complete health assessment including blood work, cardiac
                                            evaluation, and nutritionist consultation
                                        </p>
                                    </div>
                                    <div class="flex flex-col pt-4">
                                        <div class="flex lg:justify-between lg:items-center gap-6">
                                            <p class="font-normal text-base text-jet-black">Redeemed</p>
                                            <p class="text-xs font-medium text-jet-black">50/100</p>
                                        </div>
                                        <div class="w-full max-w-md pt-4">
                                            <div class="w-full bg-pale-ice-blue rounded-full h-2">
                                                <div class="bg-deep-teal-green h-2 rounded-full w-[50%]">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hidden lg:block h-20 w-px bg-deep-teal-green mx-4"></div>
                                    <div class="pt-4">
                                        <button
                                            class="bg-deep-teal-green font-bold text-lg text-white w-full rounded-md p-2 flex items-center gap-2 justify-center cursor-pointer">
                                            #123GHJSAI<span class="material-symbols-outlined">
                                                content_copy
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!--Coupon2-->
                            <div class="bg-white mt-4 p-4 rounded-md shadow-lg coupon-card">
                                <div class="flex lg:justify-between lg:items-center flex-col lg:flex-row">
                                    <div class="flex flex-col">
                                        <p class="font-bold text-sm text-deep-teal-green tracking-[0.25em] uppercase">
                                            Category : Brand name
                                        </p>
                                        <p class="font-bold text-lg text-jet-black">
                                            25% Off Premium Supplements
                                        </p>
                                        <p class="font-normal text-base text-dark-gray">
                                            Complete health assessment including blood work, cardiac
                                            evaluation, and nutritionist consultation
                                        </p>
                                    </div>
                                    <div class="flex flex-col pt-4">
                                        <div class="flex lg:justify-between lg:items-center gap-6">
                                            <p class="font-normal text-base text-jet-black">Redeemed</p>
                                            <p class="text-xs font-medium text-jet-black">50/100</p>
                                        </div>
                                        <div class="w-full max-w-md pt-4">
                                            <div class="w-full bg-pale-ice-blue rounded-full h-2">
                                                <div class="bg-deep-teal-green h-2 rounded-full w-[50%]">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hidden lg:block h-20 w-px bg-deep-teal-green mx-4"></div>
                                    <div class="pt-4">
                                        <button
                                            class="bg-deep-teal-green font-bold text-lg text-white w-full rounded-md p-2 flex items-center gap-2 justify-center cursor-pointer">
                                            #123GHJSAI<span class="material-symbols-outlined">
                                                content_copy
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!--Coupon3-->
                            <div class="bg-white mt-4 p-4 rounded-md shadow-lg coupon-card">
                                <div class="flex lg:justify-between lg:items-center flex-col lg:flex-row">
                                    <div class="flex flex-col">
                                        <p class="font-bold text-sm text-deep-teal-green tracking-[0.25em] uppercase">
                                            Category : Brand name
                                        </p>
                                        <p class="font-bold text-lg text-jet-black">
                                            25% Off Premium Supplements
                                        </p>
                                        <p class="font-normal text-base text-dark-gray">
                                            Complete health assessment including blood work, cardiac
                                            evaluation, and nutritionist consultation
                                        </p>
                                    </div>
                                    <div class="flex flex-col pt-4">
                                        <div class="flex lg:justify-between lg:items-center gap-6">
                                            <p class="font-normal text-base text-jet-black">Redeemed</p>
                                            <p class="text-xs font-medium text-jet-black">50/100</p>
                                        </div>
                                        <div class="w-full max-w-md pt-4">
                                            <div class="w-full bg-pale-ice-blue rounded-full h-2">
                                                <div class="bg-deep-teal-green h-2 rounded-full w-[50%]">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hidden lg:block h-20 w-px bg-deep-teal-green mx-4"></div>
                                    <div class="pt-4">
                                        <button
                                            class="bg-deep-teal-green font-bold text-lg text-white w-full rounded-md p-2 flex items-center gap-2 justify-center cursor-pointer">
                                            #123GHJSAI<span class="material-symbols-outlined">
                                                content_copy
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!--Coupon4-->
                            <div class="bg-white mt-4 p-4 rounded-md shadow-lg coupon-card">
                                <div class="flex lg:justify-between lg:items-center flex-col lg:flex-row">
                                    <div class="flex flex-col">
                                        <p class="font-bold text-sm text-deep-teal-green tracking-[0.25em] uppercase">
                                            Category : Brand name
                                        </p>
                                        <p class="font-bold text-lg text-jet-black">
                                            25% Off Premium Supplements
                                        </p>
                                        <p class="font-normal text-base text-dark-gray">
                                            Complete health assessment including blood work, cardiac
                                            evaluation, and nutritionist consultation
                                        </p>
                                    </div>
                                    <div class="flex flex-col pt-4">
                                        <div class="flex lg:justify-between lg:items-center gap-6">
                                            <p class="font-normal text-base text-jet-black">Redeemed</p>
                                            <p class="text-xs font-medium text-jet-black">50/100</p>
                                        </div>
                                        <div class="w-full max-w-md pt-4">
                                            <div class="w-full bg-pale-ice-blue rounded-full h-2">
                                                <div class="bg-deep-teal-green h-2 rounded-full w-[50%]">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hidden lg:block h-20 w-px bg-deep-teal-green mx-4"></div>
                                    <div class="pt-4">
                                        <button
                                            class="bg-deep-teal-green font-bold text-lg text-white w-full rounded-md p-2 flex items-center gap-2 justify-center cursor-pointer">
                                            #123GHJSAI<span class="material-symbols-outlined">
                                                content_copy
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex justify-center gap-2 mt-6" id="popular-pagination-controls">
                            <button id="prevPage2" class="text-light-gray3 px-4 py-2 text-xs">
                                Previous
                            </button>
                            <div id="pagination-numbers2" class="flex gap-2"></div>
                            <button id="nextPage2" class="text-light-gray3 px-4 py-2 text-xs">
                                Next
                            </button>
                        </div>
                    </div>