{% extends "dashboard/layout.html" %}
{% load static %}
{% block title %}Coupons{% endblock %}
{% block content %}
            <div
                class="relative transition-all duration-300 main-content bg-slate-white h-full flex-1 flex flex-col gap-8 p-6 overflow-y-auto scroll">
                <div
                    class="show-sidebar-toggle hidden fixed top-[100px] left-12 z-50 h-10 w-10 bg-light-teal items-center justify-center rounded-r-md cursor-pointer">
                    <span class="material-symbols-outlined bold-weight text-deep-teal-green">
                        arrow_forward_ios
                    </span>
                </div>
                <div class="bg-white rounded-[10px] p-5 myCoupons">
                    <div class="flex items-center justify-between">
                        <div class="flex items-center gap-2.5">
                            <span class="material-symbols-outlined text-xl! font-semibold!">home</span>
                            <h1 class="text-base font-semibold">My Coupons</h1>
                        </div>
                        <button
                            class="w-[206px] h-12 bg-deep-teal-green flex items-center justify-center gap-2 cursor-pointer createCouponBtn rounded-[10px]">
                            <span class="material-symbols-outlined text-white">add</span>
                            <span class="font-bold text-lg text-white">Create Coupon</span>
                        </button>
                    </div>
                    <a href="{% url 'settings_page' %}">
                        <div class="mt-5 bg-soft-pastel-mint rounded-2xl p-2.5 flex items-center justify-between">
                            <div class="flex flex-col gap-1.5">
                                <p class="font-normal text-base text-dark-navy">Subscription Details</p>
                                <div
                                    class="border border-deep-teal-green  bg-pastel-mint w-[60px] h-[24px] flex items-center justify-center gap-1 rounded-3xl">
                                    <div class="w-1 h-1 rounded-full bg-light-green"></div>
                                    <p class="font-normal text-xs text-dark-green">Active</p>
                                </div>
                            </div>
                            <span class="material-symbols-outlined text-deep-teal-green">chevron_right</span>
                        </div>
                    </a>
                    <!-- Tabs -->
                    <div class="flex gap-4 sm:gap-4 whitespace-nowrap mt-5 overflow-x-auto no-scrollbar">
                        <button
                            class="tab-btn-rewards active-tab-rewards text-sm sm:text-18-nr px-4 py-1.5 font-medium cursor-pointer text-light-gray1"
                            data-tab="purchase-coupons">
                            Purchase Coupons
                        </button>
                        <button
                            class="tab-btn-rewards text-sm sm:text-18-nr px-4 py-1.5 font-medium cursor-pointer text-light-gray1"
                            data-tab="created-coupons">
                            Created Coupons
                        </button>
                    </div>

                    <!--Purchase Coupons Section-->
                    {% include 'partials/purchase_coupon.html' %}


                    <!--Created Coupons Section-->
                    {% include 'partials/pharmacy_created_coupons.html' %}
                </div>

                <!--Create New Coupon-->
                {% include 'partials/pharmacy_create_coupon.html' %}
            </div>
{% endblock%}


{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src="{% static 'js/coupons.js' %}"></script>
<script src="{% static 'js/tabs.js' %}"></script>
<script src="{% static 'js/sidebar.js' %}"></script>
<script src="{% static 'js/points.js' %}"></script>
<script src="{% static 'js/dropdown.js' %}"></script>
<script src="{% static 'js/table-pagination.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}