{% extends "dashboard/layout.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<!-- Content -->
<div class="h-[calc(100vh-72px)] w-full px-6 pt-6 pb-3 bg-slate-white">
<div
    class="bg-white shadow-(--box-shadow-5) h-full rounded-[10px] px-2 sm:px-4 py-5 overflow-y-auto scroll"
>
    <div class="h-[130px] sm:h-[110px] w-full">
    <div class="flex items-center justify-between">
        <div class="space-y-1.5">
        <div class="flex items-center gap-2">
            <span
            class="material-symbols-outlined"
            style="font-size: 20px"
            >
            bookmark
            </span>
            <span class="text-xl font-medium">Saved Items</span>
        </div>
        <p class="text-18-nr">
            Quickly view and manage all your saved favorites in one place.
        </p>
        </div>
        <a href="/dashboard">
            <span class="material-symbols-outlined cursor-pointer">
                close
            </span>
        </a>
    </div>

    <!-- Tabs -->
    <div
        class="flex gap-4 sm:gap-5 whitespace-nowrap mt-8 overflow-x-auto no-scrollbar"
    >
        <button
        class="tab-btn-client active-tab-client text-sm sm:text-16-nr px-4 py-1.5 cursor-pointer text-light-gray1 font-light"
        data-tab="places"
        >
        Places
        </button>
        <button
        class="tab-btn-client text-sm sm:text-16-nr px-4 py-1.5 cursor-pointer text-light-gray1 font-light"
        data-tab="saved-reports"
        >
        Saved Reports
        </button>
        <button
        class="tab-btn-client text-sm sm:text-16-nr px-4 py-1.5 cursor-pointer text-light-gray1 font-light"
        data-tab="donationSaved"
        >
        Donation History
        </button>
    </div>
    </div>

    <!-- Places Content -->
     {% include "client/saved-places.html" %}


    <!-- Saved Report History -->
     {% include "client/saved-reports.html" %}


    <!-- Donation History -->
    {% include "client/donate-history-table.html" %}

    {% include "client/donation-platform-bill.html" %}

    {% include "client/donation-receipt.html" %}

    {% include 'client/view-donate-history.html' %}

</div>
</div>

{% endblock %}

{% block extra_js %}
    <script src="/static/js/table-pagination.js"></script>
    <script src="/static/js/tabs.js"></script>
    <script src="/static/js/client/cards-pagination.js"></script>
    <script src="/static/js/client/client-saved.js"></script>
{% endblock %}