{% extends "dashboard/layout.html" %}
{% load static %}
{% block title %}Orders{% endblock %}

{% block content %}
            <div class="relative transition-all duration-300 main-content bg-slate-white h-full flex-1 flex flex-col 
                        gap-4 sm:gap-6 lg:gap-8 
                        p-3 sm:p-4 lg:p-6
                        overflow-y-auto scroll">
                <div class="bg-white p-4 sm:p-5 lg:p-6 rounded-lg shadow-md w-full">
                    <div class="flex items-center gap-2">
                        <img src="/static/images/order_icon.svg" alt="order icon" class="w-[20px] h-[20px] sm:w-[24px] sm:h-[24px]" />
                        <p class="text-black font-semibold text-base">Orders</p>
                    </div>
                    <div
                        class="show-sidebar-toggle hidden fixed top-[100px] left-12 z-50 h-10 w-10 bg-light-teal items-center justify-center rounded-r-md cursor-pointer">
                        <span class="material-symbols-outlined bold-weight text-deep-teal-green">
                            arrow_forward_ios
                        </span>
                    </div>
                    <!-- Tabs -->
                    <div class="flex flex-col lg:flex-row lg:items-end justify-between w-full gap-3 sm:gap-4 mt-6 sm:mt-8">
                        <!-- Tabs Section -->
                        <div class="tabs-section flex gap-3 sm:gap-4 whitespace-nowrap pt-2 lg:pt-0 flex-1 min-w-0 overflow-x-auto lg:overflow-visible">
                            <button
                                class="tab-btn-rewards active-tab-rewards text-sm sm:text-18-nr py-1.5 px-4 font-semibold cursor-pointer text-dark-gray border-b-2 border-deep-teal-green"
                                data-tab="upcoming">
                                Upcoming
                            </button>

                            <button
                                class="tab-btn-rewards text-sm sm:text-18-nr py-1.5 px-4 font-medium cursor-pointer text-light-gray1"
                                data-tab="completed">
                                Completed
                            </button>

                            <button
                                class="tab-btn-rewards text-sm sm:text-18-nr py-1.5 px-4 font-medium cursor-pointer text-light-gray1"
                                data-tab="cancelled">
                                Cancelled
                            </button>
                        </div>
                        <!-- Search Section -->
                        <div class="flex items-center gap-3 sm:gap-4 w-full lg:w-auto pb-1">
                            <div
                                class="w-full lg:w-[310px] h-[40px] rounded-[6px] bg-white border border-blue-haze flex items-center px-2">
                                <span class="material-symbols-outlined text-dark-gray">
                                    search
                                </span>
                                <input type="text" placeholder="Search by Order ID"
                                    class="w-full ml-1 border-none bg-transparent focus:outline-none font-regular text-sm sm:text-base focus:ring-0 placeholder:text-medium-gray" />
                            </div>
                        </div>
                    </div>
                    <!-- TAB CONTENT SECTIONS -->
                    {% include 'partials/upcoming-orders.html' %}
                    {% include 'partials/completed-orders.html' %}
                    {% include 'partials/cancelled-orders.html' %}
                </div>
            </div>

{% endblock %}

{% block extra_js %}
      <script src="/static/js/tabs.js"></script>
      <script src="/static/js/order.js"></script>
      <script src="/static/js/table-pagination.js"></script>
{% endblock %}