__pycache__/
/document
.vscode
.env
*.pyc
*.pot
*.log
venv/
myenv/
document\*
env/
*.ipynb_checkpoints
*.ipynb
staticfiles/
*/migrations
# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Build directories
dist/
build/
# package files
package.json
package-lock.json