          <div class="missed tab-content pt-8 space-y-6 hidden">
            <div id="cards-container">
              <div
                class="card-missed bg-white mt-4 p-4 rounded-md shadow-lg transition cursor-pointer hover:bg-blue-50">
                <div class="flex lg:justify-between lg:items-center flex-col lg:flex-row gap-4">


                  <div class="flex items-center gap-3">
                    <img src="/static/images/rachel-kate.svg" alt="Profile" class="w-12 h-12 rounded-full object-cover">
                    <div class="flex flex-col">
                      <p class="font-semibold text-sm text-jet-black">Pt. Rachel Kate</p>
                      <span class="text-xs text-spanish-gray">Pregnancy Test </span>
                    </div>
                  </div>


                  <div class="flex flex-col justify-center">
                    <p class="font-normal text-sm text-jet-black">22/07/2025, 10:30 AM</p>
                  </div>


                  <div class="flex flex-col justify-center">
                    <p class="font-normal text-sm text-jet-black">Blood Test</p>
                  </div>


                  <div class="flex flex-col justify-center">
                    <p class="font-semibold text-sm text-strong-red">Doctor didn’t show up</p>
                  </div>

                </div>
              </div>

              <div
                class="card-missed bg-white mt-4 p-4 rounded-md shadow-lg transition cursor-pointer hover:bg-blue-50">
                <div class="flex lg:justify-between lg:items-center flex-col lg:flex-row gap-4">


                  <div class="flex items-center gap-3">
                    <img src="/static/images/rachel-kate.svg" alt="Profile" class="w-12 h-12 rounded-full object-cover">
                    <div class="flex flex-col">
                      <p class="font-semibold text-sm text-jet-black">Pt. Rachel Kate</p>
                      <span class="text-xs text-spanish-gray">RT-PCR</span>
                    </div>
                  </div>


                  <div class="flex flex-col justify-center">
                    <p class="font-normal text-sm text-jet-black">22/07/2025, 10:30 AM</p>
                  </div>


                  <div class="flex flex-col justify-center">
                    <p class="font-normal text-sm text-jet-black">Blood Test</p>
                  </div>


                  <div class="flex flex-col justify-center">
                    <p class="font-semibold text-sm text-strong-red">Doctor didn’t show up</p>
                  </div>

                </div>
              </div>

              <div
                class="card-missed bg-white mt-4 p-4 rounded-md shadow-lg transition cursor-pointer hover:bg-blue-50">
                <div class="flex lg:justify-between lg:items-center flex-col lg:flex-row gap-4">


                  <div class="flex items-center gap-3">
                    <img src="/static/images/rachel-kate.svg" alt="Profile" class="w-12 h-12 rounded-full object-cover">
                    <div class="flex flex-col">
                      <p class="font-semibold text-sm text-jet-black">Pt. Rachel Kate</p>
                      <span class="text-xs text-spanish-gray">Pregnancy Test </span>
                    </div>
                  </div>


                  <div class="flex flex-col justify-center">
                    <p class="font-normal text-sm text-jet-black">22/07/2025, 10:30 AM</p>
                  </div>


                  <div class="flex flex-col justify-center">
                    <p class="font-normal text-sm text-jet-black">Blood Test</p>
                  </div>


                  <div class="flex flex-col justify-center">
                    <p class="font-semibold text-sm text-strong-red">Patient didn’t show up</p>
                  </div>

                </div>
              </div>

              <div
                class="card-missed bg-white mt-4 p-4 rounded-md shadow-lg transition cursor-pointer hover:bg-blue-50">
                <div class="flex lg:justify-between lg:items-center flex-col lg:flex-row gap-4">

                  <div class="flex items-center gap-3">
                    <img src="/static/images/rachel-kate.svg" alt="Profile" class="w-12 h-12 rounded-full object-cover">
                    <div class="flex flex-col">
                      <p class="font-semibold text-sm text-jet-black">Pt. Rachel Kate</p>
                      <span class="text-xs text-spanish-gray">RT-PCR</span>
                    </div>
                  </div>


                  <div class="flex flex-col justify-center">
                    <p class="font-normal text-sm text-jet-black">22/07/2025, 10:30 AM</p>
                  </div>


                  <div class="flex flex-col justify-center">
                    <p class="font-normal text-sm text-jet-black">Blood Test</p>
                  </div>


                  <div class="flex flex-col justify-center">
                    <p class="font-semibold text-sm text-strong-red">Patient didn’t show up</p>
                  </div>

                </div>
              </div>

              <div
                class="card-missed bg-white mt-4 p-4 rounded-md shadow-lg transition cursor-pointer hover:bg-blue-50">
                <div class="flex lg:justify-between lg:items-center flex-col lg:flex-row gap-4">

                  <div class="flex items-center gap-3">
                    <img src="/static/images/rachel-kate.svg" alt="Profile" class="w-12 h-12 rounded-full object-cover">
                    <div class="flex flex-col">
                      <p class="font-semibold text-sm text-jet-black">Pt. Rachel Kate</p>
                      <span class="text-xs text-spanish-gray">Pregnancy Test </span>
                    </div>
                  </div>

                  <div class="flex flex-col justify-center">
                    <p class="font-normal text-sm text-jet-black">22/07/2025, 10:30 AM</p>
                  </div>


                  <div class="flex flex-col justify-center">
                    <p class="font-normal text-sm text-jet-black">Blood Test</p>
                  </div>


                  <div class="flex flex-col justify-center">
                    <p class="font-semibold text-sm text-strong-red">Doctor didn’t show up</p>
                  </div>

                </div>
              </div>

              <div
                class="card-missed bg-white mt-4 p-4 rounded-md shadow-lg transition cursor-pointer hover:bg-blue-50">
                <div class="flex lg:justify-between lg:items-center flex-col lg:flex-row gap-4">


                  <div class="flex items-center gap-3">
                    <img src="/static/images/rachel-kate.svg" alt="Profile" class="w-12 h-12 rounded-full object-cover">
                    <div class="flex flex-col">
                      <p class="font-semibold text-sm text-jet-black">Pt. Rachel Kate</p>
                      <span class="text-xs text-spanish-gray">RT-PCR</span>
                    </div>
                  </div>


                  <div class="flex flex-col justify-center">
                    <p class="font-normal text-sm text-jet-black">22/07/2025, 10:30 AM</p>
                  </div>


                  <div class="flex flex-col justify-center">
                    <p class="font-normal text-sm text-jet-black">Blood Test</p>
                  </div>


                  <div class="flex flex-col justify-center">
                    <p class="font-semibold text-sm text-strong-red">Doctor didn’t show up</p>
                  </div>

                </div>
              </div>

              <div
                class="card-missed bg-white mt-4 p-4 rounded-md shadow-lg transition cursor-pointer hover:bg-blue-50">
                <div class="flex lg:justify-between lg:items-center flex-col lg:flex-row gap-4">


                  <div class="flex items-center gap-3">
                    <img src="/static/images/rachel-kate.svg" alt="Profile" class="w-12 h-12 rounded-full object-cover">
                    <div class="flex flex-col">
                      <p class="font-semibold text-sm text-jet-black">Pt. Rachel Kate</p>
                      <span class="text-xs text-spanish-gray">Pregnancy Test </span>
                    </div>
                  </div>


                  <div class="flex flex-col justify-center">
                    <p class="font-normal text-sm text-jet-black">22/07/2025, 10:30 AM</p>
                  </div>


                  <div class="flex flex-col justify-center">
                    <p class="font-normal text-sm text-jet-black">Blood Test</p>
                  </div>


                  <div class="flex flex-col justify-center">
                    <p class="font-semibold text-sm text-strong-red">Patient didn’t show up</p>
                  </div>

                </div>
              </div>

            </div>


          </div>