{% if user_type == 'ngo' %}
    <form id="editForm" method="POST" action="{% url 'update_ngo_profile' %}" class="submit-form grid grid-cols-1 gap-x-6 md:gap-x-12 gap-y-6 px-4 sm:px-6 pt-6 text-sm">
        {% csrf_token %}
        <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6 md:gap-x-12 gap-y-6 text-sm">
            <!-- Email + Phone -->
            <div class="md:col-span-2 grid grid-cols-1 lg:grid-cols-2 gap-4">
                <!-- Email -->
                <div class="flex flex-col">
                    <input name="email" type="email" class="border rounded px-3 py-2 w-full"
                        placeholder="Email Address" value="{{email}}" />
                    <span class="error emailError text-red-500 text-sm mt-1 hidden"></span>
                </div>

                <!-- Country code + Phone -->
                <div class="flex flex-col lg:flex-row gap-4">
                    <!-- Country Code -->
                    <div class="pl-4 lg:w-1/4">
                        <select name="countryCodes" class="countryCodes border rounded px-3 py-2 w-full" data-selected="{{country_code}}">
                            {% for country_code in country_codes %}
                                {% comment %} <option value="{{ country_code.dial_code }}">{{ country_code.dial_code }}</option> {% endcomment %}
                                <option value="{{ country_code.dial_code }}"
                                    {% if country_code.dial_code == country_code %}selected{% endif %}>
                                    {{ country_code.name }} ({{ country_code.dial_code }})
                                </option>
                            {%endfor%}
                        </select>
                        <span class="error countryCodesError text-red-500 text-sm mt-1 hidden"></span>
                    </div>

                    <!-- Phone -->
                    <div class="flex-1">
                        <input name="phone" type="text" class="border rounded px-3 py-2 w-full"
                        placeholder="Phone Number" value="{{phone_no}}"/>
                        <span class="error phoneError text-red-500 text-sm mt-1 hidden"></span>
                    </div>
                </div>
                <!-- OTP -->

                <div class="flex-1">
                    <button type="button"
                        class="bg-violet-sky opacity-50 text-white px-2 py-2.5 rounded mb-1.5 w-full cursor-pointer">
                        Send Phone OTP
                    </button>
                    <span class="text-primary-color text-sm mt-2">Didn’t get the code ?
                        <span class="text-black">Resend</span></span>
                </div>
                <div class="flex-1">
                    <input name="otp1" type="text" class="border rounded px-2 py-2 w-full" placeholder="224584" maxlength="6" 
                    oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 6);"/>
                    <span class="error phoneError text-red-500 text-sm mt-1 hidden"></span>
                    <div class="flex items-center gap-2 justify-end">

                        <span class="material-symbols-outlined material-filled text-bright-green">check_box</span>
                        <p class="font-normal text-xs text-bright-green">Verified</p>
                    </div>
                </div>
            </div>
        </div>
        <!--NGO Name-->
        <input name="ngo_name" type="text" class="w-full rounded" placeholder="NGO Name" value="{{ngo_name}}"/>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6 md:gap-x-12 gap-y-6 text-sm">
        <!--NGO Type-->
        <div class="relative dropdown-container">
            <input name="website_url" type="text" class="rounded w-full dropdown-input" placeholder="Website URL (Optional)" value="{{website_url}}"/>
        </div>
        <!--NGO Services -->
        <div class="relative dropdown-container">
            <input name="ngo_services" type="text" class="rounded w-full dropdown-input cursor-pointer" placeholder="NGO Services"
                value="{{ ngo_services|join:', ' }}" readonly />
            <span class="material-symbols-outlined absolute right-2 top-2 toggleDropdown cursor-pointer">
            keyboard_arrow_down
            </span>

            <div class="dropdown-menu p-4 hidden bg-white rounded shadow-md z-10 absolute w-full">
            {% for service in all_services %}
            <div class="flex items-center justify-between">
                <p class="px-2 py-2 font-normal text-base text-violet-sky">
                {{ service }}
                </p>
                <input type="checkbox" name="services" value="{{ service }}"
                    class="w-5 h-5 text-violet-sky rounded-sm focus:ring-2 focus:ring-violet-sky"
                    {% if service in ngo_services %}checked{% endif %} />
            </div>
            {% endfor %}
            </div>
            <span class="error ngo_servicesError text-red-500 text-sm mt-1 hidden"></span>
        </div>


        <div class="relative dropdown-container">
        <!--Address-->
        <input name="address" type="text" class="w-full rounded" placeholder="Address" value="{{address}}"/>
            <span class="error addressError text-red-500 text-sm mt-1 hidden"></span>
            </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6 md:gap-x-12 gap-y-6 text-sm">
        <!-- City,Town,District -->
        <div class="flex flex-col">
            <input name="city" type="text" class="border rounded px-3 py-2" placeholder="City,Town,District" value="{{city}}"/>
            <span class="error cityError text-red-500 text-sm mt-1 hidden"></span>
        </div>
        <!-- State -->
        <div class="flex flex-col">
            <input name="state" type="text" class="border rounded px-3 py-2" placeholder="State" value="{{state}}"/>
            <span class="error stateError text-red-500 text-sm mt-1 hidden"></span>
        </div>
        <!-- Country -->
        <div class="flex flex-col">
            <input name="country" type="text" class="border rounded px-3 py-2" placeholder="Country" value="{{country}}"/>
            <span class="error countryError text-red-500 text-sm mt-1 hidden"></span>
        </div>
        <!-- Pincode -->
        <div class="flex flex-col">
            <input name="pincode" type="text" class="border rounded px-3 py-2" placeholder="Pincode" value="{{pincode}}"/>
            <span class="error pincodeError text-red-500 text-sm mt-1 hidden"></span>
        </div>
        <!-- contact -->
        <div class="flex flex-col">
            <input name="contact_name" type="text" class="border rounded px-3 py-2" placeholder="Contact Person Name" value="{{contact_name}}"/>
            <span class="error contact_nameError text-red-500 text-sm mt-1 hidden"></span>
        </div>
        <!-- ROle -->
        <div class="flex flex-col">
            <input name="contact_role" type="text" class="border rounded px-3 py-2" placeholder="Role" value="{{contact_role}}"/>
            <span class="error contact_roleError text-red-500 text-sm mt-1 hidden"></span>
        </div>
        <!-- Country code + Phone -->
        <div class="flex flex-col lg:flex-row gap-4">
            <!-- Country Code -->
            <div class="lg:w-1/4">
            <select name="countryCodes" class="countryCodes border rounded px-3 py-2 w-full" data-selected="{{country_code}}" placeholder="India (+91)">
                {% for country_code in country_codes %}
                    {% comment %} <option value="{{ country_code.dial_code }}">{{ country_code.dial_code }}</option> {% endcomment %}
                    <option value="{{ country_code.dial_code }}"
                        {% if country_code.dial_code == country_code %}selected{% endif %}>
                        {{ country_code.name }} ({{ country_code.dial_code }})
                    </option>
                {%endfor%}
            </select>
            <span class="error countryCodesError text-red-500 text-sm mt-1 hidden"></span>
            </div>

            <!-- Phone -->
            <div class="flex-1">
            <input name="contact_phone_number" type="text" class="border rounded px-3 py-2 w-full" placeholder="Phone Number" value="{{contact_phone_number}}"/>
            <span class="error contact_phone_numberError text-red-500 text-sm mt-1 hidden"></span>
            </div>
        </div>
        <!--Send OTP-->
        <div class="flex items-center gap-2">
            <div class="flex-1">
            <button type="button" class="bg-violet-sky text-white px-2 py-2.5 rounded w-full cursor-pointer">
                Send Phone OTP
            </button>
            <span class="text-primary-color text-sm mt-2">Didn’t get the code ?
                <span class="text-black">Resend</span></span>
            </div>
            <div class="flex-1">
            <input name="otp2" type="text" class="border rounded px-2 py-2 w-full" placeholder="224584" maxlength="6" 
            oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 6);"/>
            <span class="error phoneError text-red-500 text-sm mt-1 hidden"></span>
            <div class="flex items-center gap-2 justify-end">
                <span class="material-symbols-outlined material-filled text-bright-green">check_box</span>
                <p class="font-normal text-xs text-bright-green">Verified</p>
            </div>
            </div>
        </div>
        <!-- Buttons -->
        <div class="md:col-span-2 flex justify-end pt-4 gap-2 flex-wrap">
            <button type="button"
            class="px-4 py-2 rounded-md border text-violet-sky font-normal text-lg border-violet-sky cancel-btn">
            Cancel
            </button>
            <button type="submit"
            class="bg-violet-sky text-white px-6 py-2 rounded-lg font-normal text-lg cursor-pointer save-btn">
            Save Changes
            </button>
        </div>
        </div>
    </form>
{% elif user_type == 'advertiser' %}
    <form id="editForm" method="POST" action="{% url 'update_advertiser_profile' %}" class="submit-formgrid grid-cols-1 gap-x-6 md:gap-x-12 gap-y-6 px-4 sm:px-6 pt-6 text-sm">
        {% csrf_token %}
        <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6 md:gap-x-12 gap-y-6 text-sm mb-2">
            <!-- Email + Phone -->
            <div class="md:col-span-2 grid grid-cols-1 lg:grid-cols-2 gap-4">
                <!-- Email -->
                <div class="flex flex-col">
                    <input name="email" type="email" class="border rounded px-3 py-2 w-full"
                        placeholder="Email Address" value="{{email}}"/>
                    <span class="error emailError text-red-500 text-sm mt-1 hidden"></span>
                </div>

                <!-- Country code + Phone -->
                <div class="flex flex-col lg:flex-row gap-4">
                    <!-- Country Code -->
                    <div class="pl-4 lg:w-1/4">
                        <select name="countryCodes" class="countryCodes border rounded px-3 py-2 w-full" data-selected="{{country_code}}">
                            {% for country_code in country_codes %}
                                {% comment %} <option value="{{ country_code.dial_code }}">{{ country_code.dial_code }}</option> {% endcomment %}
                                <option value="{{ country_code.dial_code }}"
                                    {% if country_code.dial_code == country_code %}selected{% endif %}>
                                    {{ country_code.name }} ({{ country_code.dial_code }})
                                </option>
                            {%endfor%}
                        </select>
                        <span class="error countryCodesError text-red-500 text-sm mt-1 hidden"></span>
                    </div>

                    <!-- Phone -->
                    <div class="flex-1">
                        <input name="phone" type="text" class="border rounded px-3 py-2 w-full"
                        placeholder="Phone Number" value="{{phone_no}}"/>
                        <span class="error phoneError text-red-500 text-sm mt-1 hidden"></span>
                    </div>
                </div>
                <!-- OTP -->

                <div class="flex-1">
                    <button type="button"
                        class="bg-living-coral opacity-50 text-white px-2 py-2.5 rounded mb-1.5 w-full cursor-pointer">
                        Send Phone OTP
                    </button>
                    <span class="text-primary-color text-sm mt-2">Didn’t get the code ?
                        <span class="text-black">Resend</span></span>
                </div>
                <div class="flex-1">
                    <input name="otp1" type="text" class="border rounded px-2 py-2 w-full" placeholder="224584" maxlength="6" 
                    oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 6);"/>
                    <span class="error phoneError text-red-500 text-sm mt-1 hidden"></span>
                    <div class="flex items-center gap-2 justify-end">
                        <span class="material-symbols-outlined material-filled text-bright-green">check_box</span>
                        <p class="font-normal text-xs text-bright-green">Verified</p>
                    </div>
                </div>
            </div>
        </div>
        <!--Company Name-->
        <input name="company_name" type="text" class="w-full rounded px-2 py-2 mb-3" placeholder="Company Name" value="{{company_name}}"/>
        <span class="error company_nameError text-red-500 text-sm mt-1 hidden"></span>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6 md:gap-x-12 gap-y-6 text-sm mb-3">
            <!--Advertiser Type-->
            <div class="issue-type-wrapper w-full rounded-[6px] text-dark-gray border border-slate-gray pl-0.5 text-sm flex items-center justify-between relative">

                <input name="advertiser_type" type="text" placeholder="Advertiser Type"
                    class="issue-type-input w-full focus:outline-none focus:ring-0 border-0 cursor-pointer" value="{{ advertiser_type|join:', ' }}" readonly>
                <span class="material-symbols-outlined cursor-pointer">keyboard_arrow_down</span>

                <!-- Dropdown options -->
                
                <ul class="issue-type-dropdown absolute top-full left-0 w-full bg-white  rounded-md shadow-md z-50 hidden  border border-dark-gray mt-2  ">
                    {% for type in all_types %}
                    <li class="dropdown-option px-2 py-2 flex mb-2 justify-between items-center hover:bg-transparent-living-coral  ">
                    <span class="text-base font-normal">{{type}}</span>
                    <input type="checkbox" value="{{type}}"
                        class="issue-checkbox form-checkbox cursor-pointer w-5 h-5 text-black rounded-sm mr-2 "
                        data-type="{{type}}" name="advertiser_type"/>
                    </li>    
                    {% endfor %}            
                    <li class="dropdown-option px-2 py-2 mb-2 flex justify-between items-center hover:bg-transparent-living-coral">
                    <span class="text-base font-normal">Others</span>
                    <input type="checkbox" value="Others"
                        class="issue-checkbox form-checkbox cursor-pointer w-5 h-5 text-black  rounded-sm mr-2 "
                        data-type="other" name="advertiser_type"/>
                    </li>
                </ul>
                <span class="error advertiser_typeError text-red-500 text-sm mt-1 hidden"></span>
            </div>
            <!--Ad Services Required-->
            <div class="issue-type-wrapper w-full  rounded-[6px] text-dark-gray border border-slate-gray pl-0.5 text-sm flex items-center justify-between relative">
                <input name="company_services" type="text" placeholder="Ad Services Required"
                    class="issue-type-input w-full focus:outline-none focus:ring-0 border-0 cursor-pointer" value="{{ services_interested|join:', ' }}" readonly>
                <span class="material-symbols-outlined cursor-pointer">keyboard_arrow_down</span>
                <!-- Dropdown options -->
                <ul class="issue-type-dropdown absolute top-full left-0 w-full bg-white  rounded-md shadow-md z-50 hidden  border border-dark-gray mt-2  ">
                    {% for service in all_services %}
                    <li class="dropdown-option px-2 py-2 flex mb-2 justify-between items-center hover:bg-transparent-living-coral  ">
                    <span class="text-base font-normal">{{service}}</span>
                    <input type="checkbox" name="company_services" value="{{service}}"
                        class="issue-checkbox form-checkbox cursor-pointer w-5 h-5 text-black rounded-sm mr-2 "
                        data-type="{{service}}" />
                    </li>
                    {% endfor %}
                    <li class="dropdown-option px-2 py-2 mb-2 flex justify-between items-center hover:bg-transparent-living-coral">
                    <span class="text-base font-normal">Others</span>
                    <input type="checkbox" name="company_services" value="{{service}}"
                        class="issue-checkbox form-checkbox cursor-pointer w-5 h-5 text-black  rounded-sm mr-2 "
                        data-type="Others" />
                    </li>
                </ul>   
                <span class="error company_servicesError text-red-500 text-sm mt-1 hidden"></span>
            </div>
        </div>
        <!--Website URL-->
        <input name="website_url" type="text" class="w-full rounded mb-3" placeholder="Website URL" value="{{website_url}}"/>
        <span class="error website_urlError text-red-500 text-sm mt-1 hidden"></span>

        <!--Address-->
        <input type="text" class="w-full rounded mb-3" placeholder="Address" name="address"/>
        <span class="error addressError text-red-500 text-sm mt-1 hidden"></span>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6 md:gap-x-12 gap-y-6 text-sm">
            <!-- City,Town,District -->
            <div class="flex flex-col">
                <input name="city" type="text" class="border rounded px-3 py-2" placeholder="City,Town,District" value="{{city}}"/>
                <span class="error cityError text-red-500 text-sm mt-1 hidden"></span>
            </div>
            <!-- State -->
            <div class="flex flex-col">
                <input name="state" type="text" class="border rounded px-3 py-2" placeholder="State" value="{{state}}"/>
                <span class="error stateError text-red-500 text-sm mt-1 hidden"></span>
            </div>
            <!-- Country -->
            <div class="flex flex-col">
                <input name="country" type="text" class="border rounded px-3 py-2" placeholder="Country" value="{{country}}"/>
                <span class="error countryError text-red-500 text-sm mt-1 hidden"></span>
            </div>
            <!-- Pincode -->
            <div class="flex flex-col">
                <input name="pincode" type="text" class="border rounded px-3 py-2" placeholder="Pincode" value="{{pincode}}"/>
                <span class="error pincodeError text-red-500 text-sm mt-1 hidden"></span>
            </div>
            <!-- contact -->
            <div class="flex flex-col">
                <input name="contact_name" type="text" class="border rounded px-3 py-2" placeholder="Contact Person Name" value="{{contact_name}}"/>
                <span class="error contact_nameError text-red-500 text-sm mt-1 hidden"></span>
            </div>
            <!-- ROle -->
            <div class="flex flex-col">
                <input name="contact_role" type="text" class="border rounded px-3 py-2" placeholder="Role" value="{{contact_role}}"/>
                <span class="error contact_roleError text-red-500 text-sm mt-1 hidden"></span>
            </div>
            <!-- Country code + Phone -->
            <div class="flex flex-col lg:flex-row gap-4">
                <!-- Country Code -->
                <div class="lg:w-1/4">
                    <select name="countryCodes" class="countryCodes border rounded px-3 py-2 w-full" data-selected="{{country_code}}">
                        {% for country_code in country_codes %}
                            <option value="{{ country_code.dial_code }}"
                                {% if country_code.dial_code == country_code %}selected{% endif %}>
                                {{ country_code.name }} ({{ country_code.dial_code }})
                            </option>
                        {%endfor%}
                    </select>
                    <span class="error countryCodesError text-red-500 text-sm mt-1 hidden"></span>
                </div>

                <!-- Phone -->
                <div class="flex-1">
                    <input name="contact_phone_number" type="text" class="border rounded px-3 py-2 w-full" placeholder="Phone Number" value="{{contact_phone_number}}"/>
                    <span class="error contact_phone_numberError text-red-500 text-sm mt-1 hidden"></span>
                </div>
            </div>
            <!--Send OTP-->
            <div class="flex items-center gap-2">
                <div class="flex-1">
                    <button type="button" class="bg-living-coral opacity-50 text-white px-2 py-2.5 rounded w-full cursor-pointer">
                        Send Phone OTP
                    </button>
                    <span class="text-primary-color text-sm mt-2">Didn’t get the code ?
                        <span class="text-black">Resend</span></span>
                </div>
                <div class="flex-1">
                    <input id="otp2" type="text" class="border rounded px-2 py-2 w-full" placeholder="224584" maxlength="6" 
                        oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 6);"/>
                    <span class="error phoneError text-red-500 text-sm mt-1 hidden"></span>
                    <div class="flex items-center gap-2 justify-end">
                        <span class="material-symbols-outlined material-filled text-bright-green">check_box</span>
                        <p class="font-normal text-xs text-bright-green">Verified</p>
                    </div>
                </div>
            </div>
            <!-- Buttons -->
            <div class="md:col-span-2 flex justify-end pt-4 gap-2 flex-wrap">
                <button type="button" class="px-4 py-2 rounded-md border text-living-coral font-normal text-lg border-living-coral cancel-btn">Cancel</button>
                <button type="submit" class="bg-living-coral text-white px-6 py-2 rounded-lg font-normal text-lg cursor-pointer save-btn">
                Save Changes</button>
            </div>
        </div>
    </form>
{% elif user_type == 'client' %}
    <form id="editForm" method="POST" action="{% url 'update_client_profile' %}" class="submit-form grid grid-cols-1 gap-x-6 md:gap-x-12 gap-y-6 px-4 sm:px-6 pt-6 text-sm">
        {% csrf_token %}
        <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6 md:gap-x-12 gap-y-6 text-sm">
            <!-- Email + Phone -->
            <div
            class="md:col-span-2 grid grid-cols-1 lg:grid-cols-2 gap-4"
            >
            <!-- Email -->
            <div class="flex flex-col">
                <input
                name="email"
                type="email"
                class="border rounded px-3 py-2 w-full"
                placeholder="Email Address"
                value="{{email}}"
                />
                <span
                class="error emailError text-red-500 text-sm mt-1 hidden"
                ></span>
            </div>

            <!-- Country code + Phone -->
            <div class="flex flex-col lg:flex-row gap-4">
                <!-- Country Code -->
                <div class="pl-4 lg:w-1/4">
                <select
                    name="countryCodes"
                    class="countryCodes border rounded px-3 py-2 w-full"
                    data-selected="{{country_code}}"
                >
                    {% for country_code in country_codes %}
                        {% comment %} <option value="{{ country_code.dial_code }}">{{ country_code.dial_code }}</option> {% endcomment %}
                        <option value="{{ country_code.dial_code }}"
                            {% if country_code.dial_code == country_code %}selected{% endif %}>
                            {{ country_code.name }} ({{ country_code.dial_code }})
                        </option>
                    {%endfor%}
            </select>
            <span class="error countryCodesError text-red-500 text-sm mt-1 hidden"></span>
                </div>

                <!-- Phone -->
                <div class="flex-1">
                <input
                    name="phone"
                    type="text"
                    class="border rounded px-3 py-2 w-full"
                    placeholder="Phone Number"
                    value="{{phone_no}}"
                />
                <span class="error phoneError text-red-500 text-sm mt-1 hidden"></span>
                </div>
            </div>
            <!-- OTP -->

            <div class="flex-1">
                <button
                type="button"
                class="bg-dark-blue opacity-50 text-white px-2 py-2.5 rounded mb-1.5 w-full cursor-pointer"
                >
                Send Phone OTP
                </button>
                <span class="text-primary-color text-sm mt-2"
                >Didn’t get the code ?
                <span class="text-black">Resend</span></span
                >
            </div>
            <div class="flex-1">
                <input id="otp1" type="text" class="border rounded px-2 py-2 w-full" placeholder="224584" maxlength="6" 
                    oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 6);"/>
                <span
                class="error phoneError text-red-500 text-sm mt-1 hidden"
                ></span>
                <div class="flex items-center gap-2 justify-end">
                <span
                    class="material-symbols-outlined material-filled text-bright-green"
                    >check_box</span
                >
                <p class="font-normal text-xs text-bright-green">
                    Verified
                </p>
                </div>
            </div>
            </div>
        </div>
        <!--Company Name-->
        <input
            name="company_name"
            type="text"
            class="w-full rounded"
            placeholder="Company Name"
            value="{{company_name}}"
        />
            <span class="error company_nameError text-red-500 text-sm mt-1 hidden"></span>

        <div
            class="grid grid-cols-1 md:grid-cols-2 gap-x-6 md:gap-x-12 gap-y-6 text-sm"
        >
            <!--Company Type-->
            <div
            class="issue-type-wrapper w-full  rounded-[6px] text-dark-gray border border-slate-gray pl-0.5 text-sm flex items-center justify-between relative">
                <input name="company_type" type="text" placeholder="Company Type"
                    class="issue-type-input w-full focus:outline-none focus:ring-0 border-0 cursor-pointer" value="{{ company_type|join:', ' }}" readonly>
                <span class="material-symbols-outlined cursor-pointer">keyboard_arrow_down</span>

                <!-- Dropdown options -->
                <ul class="issue-type-dropdown absolute top-full left-0 w-full bg-white  rounded-md shadow-md z-50 hidden  border border-dark-gray mt-2  ">
                    {% for type in all_types %}
                        <li class="dropdown-option px-2 py-2 flex mb-2 justify-between items-center hover:bg-transparent-dark-blue  ">
                        <span class="text-base font-normal">{{type}}</span>
                        <input type="checkbox" name="company_type" value="{{type}}"
                            class="issue-checkbox form-checkbox cursor-pointer w-5 h-5 text-black rounded-sm mr-2 "
                            data-type="{{type}}" />
                        </li>
                    {% endfor %}
                    <li class="dropdown-option px-2 py-2 mb-2 flex justify-between items-center hover:bg-transparent-dark-blue">
                    <span class="text-base font-normal ">Type....</span>
                    </li>
                </ul>
                <span class="error company_typeError text-red-500 text-sm mt-1 hidden"></span>
            </div>
            <!--Services Interested-->
            <div class="issue-type-wrapper w-full  rounded-[6px] text-dark-gray border border-slate-gray pl-0.5 text-sm flex items-center justify-between relative">
            <input name="company_services" type="text" placeholder="Services You're Interested In"
                class="issue-type-input w-full focus:outline-none focus:ring-0 border-0 cursor-pointer" value="{{ services_interested|join:', ' }}" readonly>
            <span class="material-symbols-outlined cursor-pointer">keyboard_arrow_down</span>
                <!-- Dropdown options -->
                <ul
                    class="issue-type-dropdown absolute top-full left-0 w-full bg-white  rounded-md shadow-md z-50 hidden  border border-dark-gray mt-2  ">
                    {% for service in all_services %}
                        <li class="dropdown-option px-2 py-2 flex mb-2 justify-between items-center hover:bg-transparent-dark-blue  ">
                        <span class="text-base font-normal">{{service}}</span>
                        <input type="checkbox" name="company_services" value="{{service}}"
                            class="issue-checkbox form-checkbox cursor-pointer w-5 h-5 text-black rounded-sm mr-2 "
                            data-type="{{service}}" />
                        </li>
                    {% endfor %}
                    <li class="dropdown-option px-2 py-2 mb-2 flex justify-between items-center hover:bg-transparent-dark-blue">
                    <span class="text-base font-normal">Type....</span>
                    
                    </li>
                </ul>
                <span class="error company_servicesError text-red-500 text-sm mt-1 hidden"></span>
            
            </div>
        </div>
        <!--Website URL-->
        <input
            name="website_url"
            value="{{website_url}}"
            type="text"
            class="w-full rounded"
            placeholder="Website URL"
        />
        <span class="error website_urlError text-red-500 text-sm mt-1 hidden"></span>
        

        <!--Address-->
        <input
            name="address"
            value="{{address}}"
            type="text"
            class="w-full rounded"
            placeholder="Address"
        />
        <span class="error addressError text-red-500 text-sm mt-1 hidden"></span>

        <div
            class="grid grid-cols-1 md:grid-cols-2 gap-x-6 md:gap-x-12 gap-y-6 text-sm"
        >
            <!-- City,Town,District -->
            <div class="flex flex-col">
            <input
                name="city"
                value="{{city}}"
                type="text"
                class="border rounded px-3 py-2"
                placeholder="City,Town,District"
            />
            <span
                class="error cityError text-red-500 text-sm mt-1 hidden"
            ></span>
            </div>
            <!-- State -->
            <div class="flex flex-col">
            <input
                name="state"
                value="{{state}}"
                type="text"
                class="border rounded px-3 py-2"
                placeholder="State"
            />
            <span
                class="error stateError text-red-500 text-sm mt-1 hidden"
            ></span>
            </div>
            <!-- Country -->
            <div class="flex flex-col">
            <input
                name="country"
                value="{{country}}"
                type="text"
                class="border rounded px-3 py-2"
                placeholder="Country"
            />
            <span
                class="error countryError text-red-500 text-sm mt-1 hidden"
            ></span>
            </div>
            <!-- Pincode -->
            <div class="flex flex-col">
            <input
                name="pincode"
                value="{{pincode}}"
                type="text"
                class="border rounded px-3 py-2"
                placeholder="Pincode"
            />
            <span
                class="error pincodeError text-red-500 text-sm mt-1 hidden"
            ></span>
            </div>
            <!-- contact -->
            <div class="flex flex-col">
            <input
                name="contact_name"
                value="{{contact_name}}"
                type="text"
                class="border rounded px-3 py-2"
                placeholder="Contact Person Name"
            />
            <span
                class="error contact_nameError text-red-500 text-sm mt-1 hidden"
            ></span>
            </div>
            <!-- ROle -->
            <div class="flex flex-col">
            <input
                name="contact_role"
                value="{{contact_role}}"
                type="text"
                class="border rounded px-3 py-2"
                placeholder="Role"
            />
            <span
                class="error contact_roleError text-red-500 text-sm mt-1 hidden"
            ></span>
            </div>
            <!-- Country code + Phone -->
            <div class="flex flex-col lg:flex-row gap-4">
            <!-- Country Code -->
            <div class="lg:w-1/4">
                <select name="countryCodes" class="countryCodes border rounded px-3 py-2 w-full" data-selected="{{country_code}}" placeholder="India (+91)">
                    {% for country_code in country_codes %}
                        {% comment %} <option value="{{ country_code.dial_code }}">{{ country_code.dial_code }}</option> {% endcomment %}
                        <option value="{{ country_code.dial_code }}"
                            {% if country_code.dial_code == country_code %}selected{% endif %}>
                            {{ country_code.name }} ({{ country_code.dial_code }})
                        </option>
                    {%endfor%}
                </select>
                <span class="error countryCodesError text-red-500 text-sm mt-1 hidden"></span>
            </div>

            <!-- Phone -->
            <div class="flex-1">
                <input
                name="contact_phone_number"
                value="{{contact_phone_number}}"
                type="text"
                class="border rounded px-3 py-2 w-full"
                placeholder="Phone Number"
                />
                <span
                class="error contact_phone_numberError text-red-500 text-sm mt-1 hidden"
                ></span>
            </div>
            </div>
            <!--Send OTP-->
            <div class="flex items-center gap-2">
            <div class="flex-1">
                <button
                type="button"
                class="bg-dark-blue opacity-50 text-white px-2 py-2.5 rounded w-full cursor-pointer"
                >
                Send Phone OTP
                </button>
                <span class="text-primary-color text-sm mt-2"
                >Didn’t get the code ?
                <span class="text-black">Resend</span></span
                >
            </div>
            <div class="flex-1">
                <input id="otp2" type="text" class="border rounded px-2 py-2 w-full" placeholder="224584" maxlength="6"
                    oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 6);"/>
                <span
                class="error phoneError text-red-500 text-sm mt-1 hidden"
                ></span>
                <div class="flex items-center gap-2 justify-end">
                <span
                    class="material-symbols-outlined material-filled text-bright-green"
                    >check_box</span
                >
                <p class="font-normal text-xs text-bright-green">
                    Verified
                </p>
                </div>
            </div>
            </div>
            <!-- Buttons -->
            <div
            class="md:col-span-2 flex justify-end pt-4 gap-2 flex-wrap"
            >
            <button
                type="button"
                class="px-4 py-2 rounded-md border text-dark-blue font-normal text-lg border-dark-blue cancel-btn">
                Cancel
            </button>
            <button
                type="submit"
                class="bg-dark-blue text-white px-6 py-2 rounded-lg font-normal text-lg cursor-pointer save-btn">
                Save Changes
            </button>
            </div>
        </div>
    </form>
{% endif %}