{% for product in products %}
  <div class="w-full max-w-md rounded-xl overflow-hidden shadow-xl bg-white reward-card">
    <img
      class="w-full h-48 object-cover"
      src="/static/images/tablets.svg"
      alt="Image"
    />
    <div class="p-4">
      <p class="font-semibold text-sm text-violet-sky tracking-[0.25em] uppercase truncate w-full">
        {{ product.category }} : {{ product.brand_name }}
      </p>
      <p class="font-bold text-lg w-full">{{ product.title }}</p>
      <p class="font-normal text-base text-light-gray1 h-12 line-clamp-2 w-full">
        {{ product.description }}
      </p>
      <hr class="text-violet-sky w-full mt-2" />
      <div class="flex flex-col pt-4">
        <div class="flex justify-between">
          <p class="font-normal text-base">Redeemed</p>
          <p class="text-xs font-medium">{{ product.redeemed_count }}/{{ product.max_redemptions }}</p>
        </div>
        <div class="w-1/2 max-w-md pt-4">
          <div class="w-full bg-gray-200 rounded-full h-2">
            <div class="bg-violet-sky h-2 rounded-full w-[50%]"></div>
          </div>
        </div>
        <div class="pt-4">
          <button data-coupon-id="{{ product.id }}" data-code="{{ product.code }}"
            class="bg-violet-sky font-bold text-lg text-white w-full rounded-md p-2 flex items-center gap-2 justify-center cursor-pointer claim-btn">
            {{ product.code }}
            <span class="material-symbols-outlined">content_copy</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}