{% load static %}
<div id="sharePopup" class="fixed inset-0 hidden items-center justify-center bg-black/50 z-50">
    <div
        class="bg-white shadow-lg rounded-md z-50 w-130 border border-{{ border }}">
        <div class="bg-white w-130 rounded-lg shadow-lg p-6 relative">
        <div class="flex justify-between items-center">
            <p class="font-semibold text-xl">Share</p>
            <span class="material-symbols-outlined close-share-popup cursor-pointer">
            close
            </span>
        </div>
        <hr class="text-{{ text }} mt-4" />
        <div class="flex justify-between pt-4">
            <div class="flex flex-col items-center gap-2 w-20 text-center share-app" data-app="whatsapp">
            <img src="/static/images/whatsappicon.svg" alt="whatsapp logo" class="w-10 h-10 cursor-pointer" />
            <p class="font-normal text-base text-dark-gray">Whatsapp</p>
            </div>

            <div class="flex flex-col items-center gap-2 w-20 text-center share-app" data-app="telegram">
            <img src="/static/images/telegramicon.svg" alt="telegram logo" class="w-10 h-10 cursor-pointer" />
            <p class="font-normal text-base text-dark-gray">Telegram</p>
            </div>

            <div class="flex flex-col items-center gap-2 w-20 text-center share-app" data-app="facebook">
            <img src="/static/images/facebookicon.svg" alt="facebook logo" class="w-10 h-10 cursor-pointer" />
            <p class="font-normal text-base text-dark-gray">Facebook</p>
            </div>

            <div class="flex flex-col items-center gap-2 w-20 text-center share-app" data-app="sms">
            <img src="/static/images/smsicon.svg" alt="sms logo" class="w-10 h-10 cursor-pointer" />
            <p class="font-normal text-base text-dark-gray">Message</p>
            </div>

            <div class="flex flex-col items-center gap-2 w-20 text-center share-app" data-app="gmail">
            <img src="/static/images/gmailicon.svg" alt="gmail logo" class="w-10 h-10 cursor-pointer" />
            <p class="font-normal text-base text-dark-gray">E-mail</p>
            </div>
        </div>
        </div>
    </div>
</div>