        <div
          class="fileModal fixed inset-0 bg-semi-transparent-black flex items-center justify-center z-50 hidden">
          <div class="bg-white rounded-lg w-250">
            <div
              class="flex items-center justify-between bg-{{ border }} rounded-t-lg p-2 text-white"
            >
              <div class="flex items-center gap-2">
                <span
                  class="material-symbols-outlined cursor-pointer bg-{{ border }} text-white rounded-md p-1"
                  >share</span
                >
                <span
                  class="material-symbols-outlined cursor-pointer bg-{{ border }} text-white rounded-md p-1"
                  >download</span
                >
              </div>
              <p class="font-semibold text-xl">Advance History</p>
              <button class="closeModal">
                <span class="material-symbols-outlined cursor-pointer"
                  >close</span
                >
              </button>
            </div>
            <div class="flex items-center justify-between pt-4 px-4">
              <p class="font-semibold text-xl">Pharma Chemist</p>
              <p class="font-normal text-base">(14/05/2025 to 21/05/2025)</p>
            </div>
            <div class="pt-4 px-4 h-96 overflow-y-auto scroll">
              <table
                class="min-w-full table-auto whitespace-nowrap docTable bg-snow-gray"
              >
                <thead class="bg-{{ border }} text-white">
                  <tr>
                    <th class="font-normal text-base border border-r-2 p-2">
                      <div class="flex items-center justify-center gap-1">
                        Date & Time
                        <img
                          src="/static/images/sort-alt.svg"
                          alt="arrow"
                          class="w-4 h-4"
                        />
                      </div>
                    </th>
                    <th class="font-normal text-base border border-r-2 p-2">
                      Transaction ID
                    </th>
                    <th class="font-normal text-base border border-r-2 p-2">
                      Type
                    </th>
                    <th class="font-normal text-base border border-r-2 p-2">
                      Description
                    </th>
                    <th class="font-normal text-base border border-r-2 p-2">
                      Amount
                    </th>
                    <th class="font-normal text-base border border-r-2 p-2">
                      Status
                    </th>
                  </tr>
                </thead>
                <tbody id="fileModalTableBody">
                  <tr>
                    <td colspan="6" class="py-6 text-center text-gray-400">
                      Loading...
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>