{% extends "dashboard/layout.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

      <!--Success Popup-->
      <div
        class="viewModal fixed inset-0 bg-semi-transparent-black flex items-center justify-center z-50 hidden"
      >
        <div class="bg-white rounded-lg p-2 max-w-xl w-full">
          <div class="flex justify-end">
            <button class="closeModal">
              <span class="material-symbols-outlined cursor-pointer"
                >close</span
              >
            </button>
          </div>
          <div class="flex items-center justify-center">
            <img src="/static/images/successTrophy.svg" alt="trophy" />
          </div>
          <div class="flex flex-col items-center justify-center gap-2">
            <p class="font-semibold text-2xl">Advance Received Successfully</p>
            <div class="flex flex-col items-center justify-center pt-2 gap-2">

              <p class="font-normal text-base text-dark-gray">
                Previous Advance Balance :
                <span id="prevBalance" class="font-semibold text-jet-black">₹11,500.00</span>
              </p>
              <p class="font-normal text-base text-dark-gray">
                New Advance Recieved :
                <span id="addedAmount" class="font-semibold text-green">₹1,000.00</span>
              </p>
              <p class="font-normal text-base text-dark-gray">
                Current Advance Balance :
                <span id="currentBalance" class="font-semibold text-jet-black">₹12,500.00</span>
              </p>
            </div>
            <p class="font-normal text-base text-dark-gray pt-2">
              Congratulation! You have earned
              <span id="earnedPoints" class="font-bold text-lg text-{{ text }}">2.8</span>
              Points on the Platform Usage
            </p>
            <a
              href="{% url 'advance-history' %}"
              class="bg-{{ primary_bg }} px-4 py-2 mt-2 text-white rounded-md font-semibold text-base"
              >Advance History</a
            >
          </div>
        </div>
      </div>
      <!--Main Content-->
      <div
        class="bg-white p-4 main-content rounded-md shadow-lg m-4 overflow-y-auto max-h-[calc(100vh-120px)] scroll"
      >
      <div class="show-sidebar-toggle hidden fixed top-24 left-0 z-50 h-10 w-10 bg-{{ secondary_bg }} items-center justify-center rounded-r-md cursor-pointer">
          <span class="material-symbols-outlined bold-weight text-{{ text }}">
              arrow_forward_ios
          </span>
        </div>
        <div class="flex items-center justify-between">
          <div class="flex flex-col gap-1">
            <p class="flex items-center gap-2 font-semibold text-xl">
              <span class="material-symbols-outlined"
                >account_balance_wallet</span
              >Advance
            </p>
            <p class="font-semibold text-base">
              Pay Ahead, Get Ahead—Advance Payment Made Simple!
            </p>
          </div>
          <div class="flex items-center gap-4 pr-4">
            <a
              href="{% url 'advance-history' %}"
              class="font-semibold text-lg text-{{ text }} underline"
              >Advance History</a
            >
            <span
              class="material-symbols-outlined cursor-pointer closeadvance-btn"
              >close</span
            >
          </div>
        </div>
        <div class="bg-white rounded-md shadow-lg p-6 mt-6">
          <div class="flex items-center justify-between">
            <div class="flex flex-col gap-6">
              <p class="font-semibold text-xl text-dark-gray">
                Advance Balance
              </p>
              <p id="walletBalance" class="font-bold text-5xl text-{{ text }}">
                &#8377;{{ wallet_balance }}
              </p>
              <p id="walletLastUpdated" class="font-normal text-base text-dark-gray">
                Last updated on 23rd April 2025
              </p>
            </div>
            <div class="bg-blush-petal rounded-md">
              <img
                src="/static/images/walleticon.svg"
                alt="wallet"
                class="w-40 h-40 p-4"
              />
            </div>
          </div>
        </div>
        <div class="flex flex-col items-center justify-center pt-8 gap-6">
          <p class="font-bold text-3xl text-dark-gray">Advance Amount</p>
          <div class="flex flex-col items-center">
            <div
              class="flex items-center justify-center text-6xl font-semibold text-dark-gray"
            >
              <span class="text-6xl">&#8377;</span>
              <input
                id="amountInput"
                type="text"
                placeholder="0"
                inputmode="numeric"
                maxlength="7"
                class="text-6xl text-dark-gray text-center font-semibold outline-none border-none focus:ring-0 bg-transparent max-w-65   placeholder-dark-gray"
              />
            </div>

            <p class="font-normal text-lg text-dark-gray">Min: &#8377;100</p>
          </div>
          <div class="flex items-center justify-center gap-4">
            <button
              class="bg-blush-petal rounded-md px-6 py-2 cursor-pointer font-semibold text-lg text-jet-black amount-btn hover:bg-{{ primary_bg }} hover:text-white hover:shadow-lg hover:shadow-blush-petal"
            >
              &#8377;500
            </button>
            <button
              class="bg-blush-petal rounded-md px-6 py-2 cursor-pointer font-semibold text-lg text-jet-black amount-btn hover:bg-{{ primary_bg }} hover:text-white hover:shadow-lg hover:shadow-blush-petal"
            >
              &#8377;1000
            </button>
            <button
              class="bg-blush-petal rounded-md px-6 py-2 cursor-pointer font-semibold text-lg text-jet-black amount-btn hover:bg-{{ primary_bg }} hover:text-white hover:shadow-lg hover:shadow-blush-petal"
            >
              &#8377;1500
            </button>
          </div>
          <p class="font-semibold text-base text-dark-gray">
            Recommended Amounts
          </p>
        </div>
        <p class="font-semibold text-base text-dark-gray pt-6">
          Select Mode of Payment
        </p>
        <div class="border border-{{ border }} p-2 rounded-md mt-2">
          <div class="flex justify-between items-center">
            <div class="flex items-center gap-2">
              <label class="custom-radio-pharmacy">
                <input type="radio" name="payment_method" value="upi">
                <span class="checkmark"></span>
              </label>
              <p class="font-semibold text-base text-jet-black">UPI</p>
            </div>
            <img src="/static/images/upi.svg" alt="upi" />
          </div>
        </div>

        <div class="border border-{{ border }} p-2 rounded-md mt-2">
          <div class="flex items-center gap-2">
            <label class="custom-radio-pharmacy">
              <input type="radio" name="payment_method" value="netbanking">
              <span class="checkmark"></span>
            </label>
            <p class="font-semibold text-base text-jet-black">Net Banking</p>
          </div>
        </div>

        <div class="border border-{{ border }} p-2 rounded-md mt-2">
          <div class="flex items-center gap-2">
            <label class="custom-radio-pharmacy">
              <input type="radio" name="payment_method" value="paymentgateway">
              <span class="checkmark"></span>
            </label>
            <p class="font-semibold text-base text-jet-black">Payment Gateway</p>
          </div>
        </div>

        <div class="flex items-center justify-between pt-4">
          <p class="font-semibold text-2xl text-light-gray1">Advance Total</p>
          <p  id="advanceTotal" class="font-semibold text-2xl text-dark-gray">&#8377;0</p>
        </div>
        <div class="flex justify-end items-center pt-4 gap-2">
          <button
            class="border border-{{ border }} text-{{ text }} px-4 py-2 rounded-md cursor-pointer cancelBtn"
          >
            Cancel
          </button>
          <button
            class="bg-{{ primary_bg }} text-white px-4 py-2 rounded-md cursor-pointer recharge-btn"
          >
            Recharge
          </button>
        </div>
      </div>

      <div class="fixed bottom-6 right-8 z-50">
        <button class="chatTrigger cursor-pointer w-16 h-16 bg-{{ primary_bg }} text-white rounded-full shadow-lg flex items-center justify-center hover:scale-110 transition-transform">
          <img src="/static/images/avatar.svg" alt="avatar" class="w-full h-full object-contain" />
        </button>

      </div>
      <div class="relative ">
        <div class="avatar fixed bottom-6 right-8 hidden  z-100">
          <img src="/static/images/avatar.svg" alt="avatar">
          <img src="/static/images/avatar-chatbox.svg" alt="chatbox" class="absolute bottom-0 right-50">
            <button class="absolute cursor-pointer bottom-65 right-0 close-avatar-btn rounded-full bg-white shadow-[3.93px_5.24px_5.24px_0px_#00000040]
">
            <span class="material-symbols-outlined flex items-center justify-center p-[0.35rem] text-dark-gray">close</span>
          </button>
          <button class="absolute cursor-pointer bottom-6 right-18 bg-{{ primary_bg }} text-white p-2 rounded-md">
            Talk
          </button>
        </div>
      </div>
{% endblock%}

{% block extra_js %}
    <script src="{% static 'js/order.js' %}"></script>
{% endblock %}
