{% extends "dashboard/layout.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
      <!--Main Content-->
      <div
        class="bg-white p-4 rounded-md shadow-lg m-4 overflow-y-auto max-h-[calc(100vh-120px)] scroll"
      >
        <div class="flex items-center justify-between">
          <div class="flex flex-col gap-1">
            <p class="flex items-center gap-2 font-semibold text-xl">
              <span class="material-symbols-outlined"
                >account_balance_wallet</span
              >Advance History
            </p>
            <p class="font-semibold text-base">
              Pay Ahead, Get Ahead—Advance Payment Made Simple!
            </p>
          </div>
          <span class="material-symbols-outlined cursor-pointer closehistoryBtn"
            >close</span
          >
        </div>
        <!--Date dropdown-->
        <div class="dropdown relative flex justify-end pt-4">
         <button class="filterToggle  flex items-center border border-slate-gray rounded-md p-1 w-8 h-8  cursor-pointer">
            <span class="material-symbols-outlined flex justify-center items-center">tune</span>
          </button>
          <div
            class="filterDropdown mt-2 absolute right-0 top-full bg-white text-dark-gray shadow-[4px_4px_10px_2px_#00000026] hidden rounded-md w-44 z-1000"
          >
            <div class="p-2 pl-4 flex justify-between items-center cursor-pointer hover:bg-{{ border }} hover:text-white rounded">
              Custom date<span class="material-symbols-outlined calendar-icon">calendar_today</span>
            </div>
            <div
              class="p-2 pl-4 cursor-pointer hover:bg-{{ border }} hover:text-white rounded"
            >
              1 Week
            </div>
            <div
              class="p-2 pl-4 cursor-pointer hover:bg-{{ border }} hover:text-white rounded"
            >
              1 Month
            </div>
            <div
              class="p-2 pl-4 cursor-pointer hover:bg-{{ border }} hover:text-white rounded"
            >
              1 Year
            </div>
            
          </div>
          <div class="datepicker-container hidden px-4 pb-3 absolute top-full right-45 z-50 bg-white shadow-md rounded">
                      <div class="datepicker-inline"></div>
                    </div>
        </div>
        <div
          class="flex justify-between lg:items-center pt-2 flex-col lg:flex-row gap-4"
        >
          <div
            class="border border-light-gray2 p-2 rounded-md shadow-md lg:w-120"
          >
            <div class="flex flex-col gap-2">
              <div class="flex items-center justify-between">
                <p class="font-semibold text-base text-jet-black">
                  Current Advance Balance
                </p>
                <div
                  class="bg-teal-shadow rounded-full w-8 h-8 flex items-center justify-center"
                >
                  <span class="material-symbols-outlined">currency_rupee</span>
                </div>
              </div>

              <p id="summaryCurrentBalance" class="font-semibold text-2xl text-jet-black">0</p>
              <div class="flex items-center gap-2">
                <p class="font-normal text-sm text-dark-gray summary-label">Last 7 days</p>
                <p class="font-normal text-sm text-dark-gray summary-date-range">
                  (--)
                </p>
              </div>
            </div>
          </div>
          <div
            class="border border-light-gray2 p-2 rounded-md shadow-md lg:w-120"
          >
            <div class="flex flex-col gap-2">
              <div class="flex items-center justify-between">
                <p class="font-semibold text-base text-jet-black">
                  Total Advance Credit
                </p>
                <div
                  class="bg-teal-shadow rounded-full w-8 h-8 flex items-center justify-center"
                >
                  <span class="material-symbols-outlined">currency_rupee</span>
                </div>
              </div>

              <p id="summaryTotalCredit" class="font-semibold text-2xl text-jet-black">0</p>
              <div class="flex items-center gap-2">
                <p class="font-normal text-sm text-dark-gray summary-label">Last 7 days</p>
                <p class="font-normal text-sm text-dark-gray summary-date-range">
                  (--)
                </p>
              </div>
            </div>
          </div>
          <div
            class="border border-light-gray2 p-2 rounded-md shadow-md lg:w-120"
          >
            <div class="flex flex-col gap-2">
              <div class="flex items-center justify-between">
                <p class="font-semibold text-base text-jet-black">
                  Total Advance Debit
                </p>
                <div
                  class="bg-teal-shadow rounded-full w-8 h-8 flex items-center justify-center"
                >
                  <span class="material-symbols-outlined">currency_rupee</span>
                </div>
              </div>

              <p id="summaryTotalDebit" class="font-semibold text-2xl text-jet-black">0</p>
              <div class="flex items-center gap-2">
                <p class="font-normal text-sm text-dark-gray summary-label">Last 7 days</p>
                <p class="font-normal text-sm text-dark-gray summary-date-range">
                  (--)
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="pt-8 flex justify-between flex-col lg:flex-row">
          <p class="font-semibold text-lg pt-4 lg:pt-0 pb-4 lg:pb-0">
            Advance History
          </p>
          <div class="flex gap-4 lg:flex-row">
            <div
              class="lg:w-84 sm:w-full rounded-[6px] bg-light-white flex items-center gap-2 px-2"
            >
              <span class="material-symbols-outlined text-dark-gray">
                search
              </span>
              <input
                type="text"
                placeholder="Search by  name or categories"
                class="w-full py-2.5 focus:!outline-none focus:ring-0 placeholder:text-medium-gray border-none bg-transparent"
              />
            </div>
            <div class="flex gap-2">
             <div class="dropdown relative">
                <button
                  class="filterToggle activity-buttons w-full max-w-[114px] p-2 h-[40px] border border-{{ border }} rounded-[10px] text-{{ text }} flex items-center justify-center gap-1 cursor-pointer group hover:bg-{{ primary_bg }} hover:text-white">
                  <span class="material-symbols-outlined text-{{ text }} group-hover:text-white">
                    keyboard_arrow_down
                  </span>
                  <span class="">Filter</span>

                </button>
                <div
                  class="filterDropdown absolute right-0 top-12 bg-white text-dark-gray shadow-[4px_4px_10px_2px_#00000026] hidden rounded-md w-44 z-1000">

                  <div class="p-2 pl-4 cursor-pointer hover:bg-{{ border }} hover:text-white rounded">
                    1 Week
                  </div>
                  <div class="p-2 pl-4 cursor-pointer hover:bg-{{ border }} hover:text-white rounded">
                    2 Week
                  </div>
                  <div class="p-2 pl-4 cursor-pointer hover:bg-{{ border }} hover:text-white rounded">
                    3 Week
                  </div>
                </div>
              </div>
             
              <button
                class="view-file activity-buttons w-full max-w-[90px] p-2 h-[40px] border border-{{ border }} rounded-[10px] text-{{ text }} flex items-center justify-center gap-1 cursor-pointer group hover:bg-{{ primary_bg }} hover:text-white"
              >
                <span
                  class="material-symbols-outlined text-{{ text }} group-hover:text-white"
                >
                  file_export
                </span>
                View
              </button>
            </div>
          </div>
        </div>
        <!--Receipt popup opens on clicking eye icon in table-->
        <div
          class="viewModal fixed inset-0 bg-semi-transparent-black flex items-center justify-center z-50 hidden"
        >
          <div
            class="bg-white rounded-lg p-2 max-w-md w-full h-[80vh] overflow-y-auto scroll"
          >
            <div class="flex items-center justify-between">
              <div class="flex items-center gap-2">
                <span
                  class="material-symbols-outlined cursor-pointer bg-{{ border }} text-white rounded-md p-1"
                  >share</span
                >
                <span
                  class="material-symbols-outlined cursor-pointer bg-{{ border }} text-white rounded-md p-1"
                  >download</span
                >
              </div>
              <p class="font-semibold text-xl text-{{ text }}">
                Advance Receipt
              </p>
              <button class="closeModal">
                <span class="material-symbols-outlined cursor-pointer"
                  >close</span
                >
              </button>
            </div>

            <img
              src="/static/images/advance-receipt.svg"
              alt="Incorporation Certificate"
              class="w-full rounded"
            />
          </div>
        </div>
            <!--Platform Bill popup-->
            <div
          class="platformBill fixed inset-0 bg-semi-transparent-black flex items-center justify-center z-50 hidden"
        >
          <div
            class="bg-white rounded-lg p-2 max-w-md w-full h-[80vh] overflow-y-auto scroll"
          >
            <div class="flex items-center justify-between">
              <div class="flex items-center gap-2">
                <span
                  class="material-symbols-outlined cursor-pointer bg-{{ primary_bg }} text-white rounded-md p-1"
                  >share</span
                >
                <span
                  class="material-symbols-outlined cursor-pointer bg-{{ primary_bg }} text-white rounded-md p-1"
                  >download</span
                >
              </div>
              <p class="font-semibold text-xl text-{{ text }}">
                Platform Bill
              </p>
              <button class="close-popup" data-popup="platformBill">
                <span class="material-symbols-outlined cursor-pointer"
                  >close</span
                >
              </button>
            </div>

            <img
              src="/static/images/platformbill-receipt.svg"
              alt="advance reciept"
              class="w-full rounded"
            />
          </div>
        </div>
        <!--View button popup-->
        {% include "advance/advance-view-modal.html" %}

        <!--Table-->
        <div class="pt-4 overflow-x-auto tab-content">
          <table
            class="min-w-full table-auto whitespace-nowrap docTable bg-snow-gray"
          >
            <thead class="bg-{{ border }} text-white">
              <tr>
                <th class="font-normal text-base border border-r-2 p-2">
                  <div class="flex items-center justify-center gap-1">
                    Date & Time
                    <img
                      src="/static/images/sort-alt.svg"
                      alt="arrow"
                      class="w-4 h-4"
                    />
                  </div>
                </th>
                <th class="font-normal text-base border border-r-2 p-2">
                  Transaction ID
                </th>
                <th class="font-normal text-base border border-r-2 p-2">
                  Type
                </th>
                <th class="font-normal text-base border border-r-2 p-2">
                  Description
                </th>
                <th class="font-normal text-base border border-r-2 p-2">
                  Amount
                </th>
                <th class="font-normal text-base border border-r-2 p-2">
                  Status
                </th>
                <th class="font-normal text-base p-2">Action</th>
              </tr>
            </thead>

            <tbody id="advanceHistoryBody">
              <tr>
                <td colspan="7" class="py-6 text-center text-gray-400">
                  Loading advance history...
                </td>
              </tr>
            </tbody>
          </table>
          <div id="pagination" class="flex justify-center gap-2 pt-4"></div>
        </div>
      </div>

{% endblock%}

{% block extra_js %}
    <script src="{% static 'js/advance.js' %}"></script>
{% endblock %}
