{% load static %}

              <!-- Basic Plan -->
              <div class="border border-dark-blue rounded-xl  flex flex-col items-center min-h-[500px] ">
                <div class="relative p-4 flex flex-col items-center">

                  <div class="flex items-center gap-3">
                    <img src="/static/images/Subscription_basic.svg" alt="Plan Icon" class="w-20 h-20 mt-1" />
                    <h3 class="text-base font-bold mb-1">Basic (Free)</h3>
                  </div>
                </div>

                <!-- Full-width HR with negative margin to stretch to border -->
                <div class="-mx-6 w-full">
                  <hr class="border border-dark-blue" />
                </div>

                <!-- Features List -->
                <div class="text-sm text-gray-700 space-y-4 flex-1 text-left w-full mt-2 p-4">
                  <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined text-green
                     text-base">check_circle</span>
                    <span class="text-dark-blue text-xs font-normal">Standard Company Dashboard</span>
                  </div>

                  <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined text-green
                     text-base">check_circle</span>
                    <span class="text-dark-blue text-xs font-normal">📊Activity Logs: Orders / discounts / stocks
                      (Summary View)</span>
                  </div>

                  <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined text-green
                     text-base">check_circle</span>
                    <span class="text-dark-blue text-xs font-normal">🧾Pharma Metrics Reports (static and medicine
                      analytics)</span>
                  </div>
                  <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined text-green
                     text-base">check_circle</span>
                    <span class="text-dark-blue text-xs font-normal">
                      📈 Platform Reports (Navigation, Coupons, Donations)</span>
                  </div>

                  <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined text-strong-red
                     text-base">cancel</span>
                    <span class="text-dark-blue text-xs font-normal">📥Downloaded Reports (PDF only)</span>
                  </div>
                  <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined text-strong-red
                     text-base">cancel</span>
                    <span class="text-dark-blue text-xs font-normal">📬Email Schedule Reports</span>
                  </div>
                  <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined text-strong-red
                     text-base">cancel</span>
                    <span class="text-dark-blue text-xs font-normal">👥24 Multi-user Team Access</span>
                  </div>
                  <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined text-strong-red
                     text-base">cancel</span>
                    <span class="text-dark-blue text-xs font-normal">⚙️Report Customization Tool</span>
                  </div>
                  <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined text-strong-red
                     text-base">cancel</span>
                    <span class="text-dark-blue text-xs font-normal">📞Priority Support</span>
                  </div>

                </div>

                <!-- Subscribe Button -->
                <div class="flex-1 flex items-end p-2">
                  <button
                    class=" border border-dark-blue text-dark-blue py-2 px-6 rounded-md text-base font-semibold">Subscribe</button>
                </div>
              </div>


              <!-- Standard Plan -->
              <div class="border border-dark-blue rounded-md  flex flex-col relative">
                <div class="relative bg-dark-blue shadow rounded-t-md p-4 flex flex-col items-center">
                  <div class="relative mt-4 w-full dropdown-wrapper">
                    <!-- Trigger Box - Responsive width -->
                    <div
                      class="dropdown-trigger flex items-center justify-between gap-1 text-xs font-semibold bg-white text-dark-blue px-2 py-2 rounded-lg cursor-pointer w-full sm:w-[230px] whitespace-nowrap">
                      <span class="selected-option truncate">Quarterly (10% Disc)</span>
                      <span class="material-symbols-outlined text-base">keyboard_arrow_down</span>
                    </div>

                    <!-- Dropdown - Responsive to trigger width -->
                    <div
                      class="dropdown-menu absolute top-full left-0 sm:left-auto sm:right-0 mt-1 bg-white border border-gray-200 rounded-lg shadow-md text-dark-blue text-xs font-normal hidden w-full sm:w-[230px] z-10">
                      <div class="dropdown-item px-4 py-2 hover:bg-transparent-dark-blue cursor-pointer">Monthly</div>
                      <div class="dropdown-item px-4 py-2 hover:bg-transparent-dark-blue cursor-pointer">Quarterly (10%
                        Disc)</div>
                      <div class="dropdown-item px-4 py-2 hover:bg-transparent-dark-blue cursor-pointer">Yearly (20%
                        Disc)</div>
                    </div>
                  </div>

                  <div class="flex items-start w-full gap-3 mt-4">
                    <!-- Image on the left -->
                    <img src="/static/images/Subscription_Standard.svg" alt="Plan Icon" class="w-16 h-16 mt-1" />
                    <div class="flex-1">
                      <h3 class="text-base font-bold text-white mb-1">Standard Plan</h3>
                      <p class="text-base font-normal text-white mb-0">Amount: 25,000</p>
                      <span class="text-xs font-normal text-white mb-20">(Incl. Quarterly 10% Disc)</span>
                    </div>
                  </div>
                </div>
                <div class="text-sm text-gray-700 space-y-4 flex-1 text-left w-full mt-2 p-3">
                  <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined text-green
                     w-6 h-6">check_circle</span>
                    <span class="text-dark-blue text-xs font-normal">Custom Company Dashboard</span>
                  </div>

                  <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined text-green
                     text-base">check_circle</span>
                    <span class="text-dark-blue text-xs font-normal">📊
                      Activity Logs: Standard and Save Reports.</span>
                  </div>

                  <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined text-green
                     text-base">check_circle</span>
                    <span class="text-dark-blue text-xs font-normal">🧾Pharma Metrics Reports: Standard and Save
                      Reports.
                    </span>
                  </div>
                  <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined text-green
                     text-base">check_circle</span>
                    <span class="text-dark-blue text-xs font-normal">
                      📈 Platform Reports: Standard and Save Reports</span>
                  </div>

                  <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined text-green
                     text-base">check_circle</span>
                    <span class="text-dark-blue text-xs font-normal">📥Download Reports. Detailed Filters & Export All
                      Formats</span>
                  </div>
                  <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined text-green
                     text-base">check_circle</span>
                    <span class="text-dark-blue text-xs font-normal">📬Email Schedule Reports Monthly. Schedule and Auto
                      send to recipients.</span>
                  </div>
                  <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined text-green
                     text-base">check_circle</span>
                    <span class="text-dark-blue text-xs font-normal">👥Multi-user Team Access: 3 Users/month</span>
                  </div>
                  <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined text-strong-red
                     text-base">cancel</span>
                    <span class="text-dark-blue text-xs font-normal">⚙️Report Customization Tool</span>
                  </div>
                  <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined text-strong-red
                     text-base">cancel</span>
                    <span class="text-dark-blue text-xs font-normal">📞Priority Support Email Only</span>
                  </div>

                </div>

                <div class="flex justify-center p-2">
                  <button class="bg-dark-blue text-white py-2 px-6 rounded-md text-base font-semibold">Current
                    Plan</button>
                </div>
              </div>

              <!-- Premium Plan -->
              <div class="border border-dark-blue rounded-md  flex flex-col relative">
                <div class="relative p-4 flex flex-col items-center">
                  <div class="relative mt-4 w-full dropdown-wrapper">
                    <!-- Trigger Box - Responsive width -->
                    <div
                      class="dropdown-trigger flex items-center justify-between text-xs font-semibold border border-dark-blue text-dark-blue px-3 py-2 rounded-lg cursor-pointer w-full sm:w-[234px] bg-white">
                      <span class="selected-option truncate">Yearly (20% Disc)</span>
                      <span class="material-symbols-outlined text-base">keyboard_arrow_down</span>
                    </div>

                    <!-- Dropdown - Responsive to screen size -->
                    <div
                      class="dropdown-menu absolute top-full left-0 sm:left-auto sm:right-0 mt-1 bg-white border border-gray-200 rounded-lg shadow-md text-dark-blue text-xs font-normal hidden w-full sm:w-[234px] z-10">
                      <div class="dropdown-item px-4 py-2 hover:bg-transparent-dark-blue cursor-pointer">Monthly</div>
                      <div class="dropdown-item px-4 py-2 hover:bg-transparent-dark-blue cursor-pointer">Quarterly (10%
                        Disc)</div>
                      <div class="dropdown-item px-4 py-2 hover:bg-transparent-dark-blue cursor-pointer">Yearly (20%
                        Disc)</div>
                    </div>
                  </div>

                  <div class="relative p-4 flex flex-col items-center">
                    <div class="flex flex-col sm:flex-row items-start gap-3 w-full min-w-0">
                      <!-- Image on the left -->
                      <img src="/static/images/Subscription_Premium.svg" alt="Plan Icon"
                        class="w-20 h-20 mt-1 flex-shrink-0" />

                      <div class="flex-1 w-full min-w-0">
                        <!-- Responsive Plan Title and Price -->
                        <h3 class="text-sm sm:text-base md:text-base font-bold mb-1 break-words">
                          Premium Plan
                        </h3>

                        <div class="text-sm sm:text-base font-semibold mb-0 flex flex-wrap leading-snug">
                          <span class="mr-1">₹67,500/</span>
                          <span>month</span>
                        </div>

                        <span class="text-xs sm:text-sm font-normal block">
                          (Incl. Yearly 20% Disc)
                        </span>
                      </div>
                    </div>

                  </div>
                </div>
                <div class=" w-full">
                  <hr class="border border-dark-blue" />
                </div>
                <div class="text-sm text-gray-700 space-y-4 flex-1 text-left w-full mt-2 p-4">
                  <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined text-green
                     text-base">check_circle</span>
                    <span class="text-dark-blue text-xs font-normal">Custom Company Dashboard</span>
                  </div>

                  <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined text-green
                     text-base">check_circle</span>
                    <span class="text-dark-blue text-xs font-normal">📊
                      Activity Logs:
                      Detailed Filters & Export
                      Custom Report Generator</span>
                  </div>

                  <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined text-green
                     text-base">check_circle</span>
                    <span class="text-dark-blue text-xs font-normal">🧾Pharma Metrics Reports:
                      With custom Geo-filter & Date Range.
                    </span>
                  </div>
                  <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined text-green
                     text-base">check_circle</span>
                    <span class="text-dark-blue text-xs font-normal">
                      📈Platform Reports: With custom Geo-filter & Date Range.</span>
                  </div>

                  <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined text-green
                     text-base">check_circle</span>
                    <span class="text-dark-blue text-xs font-normal">
                      Download Reports. Detailed Filters & Export All Formats</span>
                  </div>
                  <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined text-green
                     text-base">check_circle</span>
                    <span class="text-dark-blue text-xs font-normal">📬
                      Email Schedule Reports
                      Monthly. Schedule and Auto send to recipients.</span>
                  </div>
                  <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined text-green
                     text-base">check_circle</span>
                    <span class="text-dark-blue text-xs font-normal">👥Multi-user Team Access
                      10 Users / month</span>
                  </div>
                  <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined text-green
                     text-base">check_circle</span>
                    <span class="text-dark-blue text-xs font-normal">⚙️ Report Customization Tool
                      Fully Custom, Visualize reports</span>
                  </div>
                  <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined text-green
                     text-base">check_circle</span>
                    <span class="text-dark-blue text-xs font-normal">📞 Priority Support Email + Chat</span>
                  </div>

                </div>

                <div class="flex justify-center p-2">
                  <button
                    class="border border-dark-blue text-dark-blue py-2 px-6 rounded-md text-base font-semibold">Subscribe</button>
                </div>
              </div>

              <!-- Enterprise Plan -->
              <div class="border border-dark-blue rounded-xl  flex flex-col items-center min-h-[500px] ">
                <div class="relative p-4 flex flex-col items-center">
                  <div class="flex flex-col sm:flex-row items-start w-full gap-3 mt-4 min-w-0">
                    <!-- Image on the left -->
                    <img src="/static/images/Subscription_Enterprise.svg" alt="Plan Icon"
                      class="w-20 h-20 mt-1 flex-shrink-0" />
                    <div class="flex-1 w-full min-w-0">
                      <!-- Title -->
                      <h3 class="text-base sm:text-base font-bold mb-1 break-words">
                        Enterprise Plan
                      </h3>

                      <!-- Subtitle -->
                      <h3 class="text-base sm:text-base font-bold mb-1 break-words">
                        (Custom)
                      </h3>

                      <!-- Info line -->
                      <p class="text-sm sm:text-base font-semibold mb-0 break-words">
                        Contact Sales for
                      </p>

                      <!-- Highlighted text -->
                      <span class="text-sm sm:text-base font-semibold block break-words">
                        Custom Pricing
                      </span>
                    </div>

                  </div>
                </div>

                <!-- Full-width HR with negative margin to stretch to border -->
                <div class="-mx-6 w-full">
                  <hr class="border border-dark-blue" />
                </div>

                <!-- Features List -->
                <div class="text-sm text-gray-700 space-y-4 flex-1 text-left w-full mt-2 p-4">
                  <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined text-green
                     text-base">check_circle</span>
                    <span class="text-dark-blue text-xs font-normal">Custom Company Dashboard</span>
                  </div>

                  <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined text-green
                     text-base">check_circle</span>
                    <span class="text-dark-blue text-xs font-normal">📊 Activity Logs: Detailed Filters & Export, Custom
                      Report Generator,
                      With Realtime reports and heat maps.</span>
                  </div>

                  <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined text-green
                     text-base">check_circle</span>
                    <span class="text-dark-blue text-xs font-normal">🧾 Pharma Metrics Reports: With custom Geo-filter &
                      Date Range,
                      With Realtime reports and heat maps.</span>
                  </div>
                  <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined text-green
                     text-base">check_circle</span>
                    <span class="text-dark-blue text-xs font-normal">
                      📈 Platform Reports: With custom Geo-filter & Date Range, With Realtime reports and heat
                      maps.</span>
                  </div>

                  <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined text-green
                     text-base">check_circle</span>
                    <span class="text-dark-blue text-xs font-normal">Download Reports. Detailed Filters & Export All
                      Formats + Custom API</span>
                  </div>
                  <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined text-green
                     text-base">check_circle</span>
                    <span class="text-dark-blue text-xs font-normal">📬 Email Schedule Reports
                      Custom period Schedule and Auto send to recipients.</span>
                  </div>
                  <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined text-green
                     text-base">check_circle</span>
                    <span class="text-dark-blue text-xs font-normal">👥 Multi-user Team Access
                      Customized Licenses count </span>
                  </div>
                  <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined text-green
                     text-base">check_circle</span>
                    <span class="text-dark-blue text-xs font-normal">⚙️ Report Customization Tool
                      Fully Custom, Visualize reports
                      With Realtime reports and heat maps.</span>
                  </div>
                  <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined text-green text-xs">check_circle</span>

                    <span class="text-dark-blue text-xs font-normal"> 📞 Priority Support Email + Chat + Phone</span>
                  </div>

                </div>

                <!-- Subscribe Button -->
                <div class="flex-1 flex items-end p-2">
                  <button class=" border border-dark-blue text-dark-blue py-2 px-6 rounded-md text-base font-semibold
                    ">Contact
                    Sales</button>
                </div>
              </div>