{% extends "dashboard/layout.html" %}
{% load static %}
{% block title %}Subscription{% endblock %}


{% block content %}
<!-- Main Content -->
      <div
        class="h-full flex-1 flex flex-col gap-8 p-2 overflow-y-auto bg-slate-white scroll relative transition-all duration-300 main-content">
        <div
          class="show-sidebar-toggle hidden fixed top-18 left-0 z-50 h-10 w-10 bg-transparent-dark-blue items-center justify-center rounded-r-md cursor-pointer">
          <span class="material-symbols-outlined bold-weight text-dark-blue">
            arrow_forward_ios
          </span>
        </div>
        <div class="shadow-lg p-4 rounded-lg  max-w-full bg-white">
          <div class="flex items-center space-x-2">
            <span class="material-symbols-outlined"> credit_score </span>
            <p class="font-medium text-xl">Subscription</p>
          </div>

          <div class="flex justify-between items-center mt-2.5">
            <p class="font-normal">Access More, Pay Less—Get Your Subscription Now!</p>
            <button class="close-expanded text-xl font-bold text-gray-500 hover:text-red-600 hidden">&times;</button>
          </div>
          <hr class="my-4 border-t border-azure-blue mt-6" />
          <p class="text-lg font-semibold text-dark-blu mt-4">Thank You for Being a Member!</p>

          <div class="flex flex-col md:flex-row items-center justify-between  mt-4">
            <div class="text-base font-normal mb-2 md:mb-0">
              Current Plan: {{ current_plan }}
            </div>
            <div class="text-base font-normal  mb-2 md:mb-0 text-center">
              Status: {{ status }}
            </div>
            <div class="text-base font-normal text-right">
              Expiry Date: 
              {% if expiry_date %}
                {{ expiry_date|date:"d/m/Y" }}
                {% if status == "Active" %}
                  <span class="ml-2 text-lg text-strong-red">
                    ({{ expiry_date|timeuntil }} left to go)
                  </span>
                {% endif %}
              {% else %}
                None
              {% endif %}
            </div>
          </div>

          <hr class="my-4 border-t border-azure-blue mt-4" />

          <div class="text-lg font-semibold text-dark-blue mt-6">
            <p>Select New Plan or Upgrade From Current Plan</p>
          </div>

          <div class="w-full  py-6 px-4 sm:px-6 lg:px-8 ">

           <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-x-6 gap-y-12 w-full">

            {% include "subscription-plans.html" %}

            </div>
          </div>
          <h3 class="text-xl font-semibold mt-6">Payment Details</h3>

          <div id="payment-details" class="mt-6">
            <!-- Will be replaced by AJAX response -->
            <p class="text-gray-500">Select a plan to see payment details...</p>
          </div>

          <div class="flex justify-end mt-10 gap-4" id="payment-actions" style="display:none;">
            <a href="#"
              class="w-full max-w-[120px] py-2 rounded-[10px] border border-dark-blue text-dark-blue font-normal text-base transition text-center flex items-center justify-center">
              Cancel
            </a>
            <a href="#"
              class="pay-button w-full max-w-[120px] py-2 rounded-[10px] bg-dark-blue text-white font-normal text-base transition text-center flex items-center justify-center"
              data-plan-id="" data-option="">
              Pay
            </a>
          </div>

          <hr class="my-4 border-t border-light-gray mt-6" />

          {% include 'subscription_history.html' %}


          <!-- Subscription Popup -->
          {% include 'partials/subscription-success-popup.html' %}
          

          <!-- Subscription Popup with "fail" -->
           {% include 'partials/subscription-fail-popup.html' %}


          <!-- Invoice Popup -->
           {% include 'partials/invoice-popup.html' %}
          
          
           <div class="fixed bottom-6 right-8 z-50">
          <button
            class="chatTrigger cursor-pointer w-16 h-16 bg-dark-blue text-white rounded-full shadow-lg flex items-center justify-center hover:scale-110 transition-transform">
            <img src="/static/images/avatar.svg" alt="avatar" class="w-full h-full object-contain" />
          </button>
        </div>

        <div class="relative ">
          <div class="avatar fixed bottom-6 right-8 hidden  z-100">
            <img src="/static/images/avatar.svg" alt="avatar">
            <img src="/static/images/avatar-chatbox.svg" alt="chatbox" class="absolute bottom-0 right-50">
            <button class="absolute cursor-pointer bottom-65 right-0 close-avatar-btn rounded-full bg-white shadow-[3.93px_5.24px_5.24px_0px_#00000040]
            ">
              <span
                class="material-symbols-outlined flex items-center justify-center p-[0.35rem] text-dark-gray">close</span>
            </button>
            <button class="absolute cursor-pointer bottom-6 right-18 bg-dark-blue text-white p-2 rounded-md">
              Talk
            </button>
          </div>
        </div>
        </div>
      </div>

{% endblock %}

{% block extra_js %}
    <script src="/static/js/client/subscription.js"></script>
{% endblock %}