          <div class="all tab-content pt-8">
            <div id="cards-container">
              <div
                class="card-all-accepted bg-white mt-4 p-4 rounded-md shadow-lg transition cursor-pointer hover:bg-blue-50">
                <div class="flex lg:justify-between items-center flex-col lg:flex-row gap-4">


                  <div class="flex items-center gap-3">
                    <img src="/static/images/rachel-kate.svg" alt="Profile" class="w-12 h-12 rounded-full object-cover">
                    <div class="flex flex-col">
                      <p class="font-semibold text-sm text-jet-black">Pt. Rachel Kate</p>
                      <span class="text-xs text-spanish-gray">Pregnancy Test </span>
                    </div>
                  </div>



                  <div class="flex flex-col justify-center">
                    <p class="font-normal text-sm text-jet-black">22/07/2025, 10:30 AM</p>
                  </div>


                  <div class="flex flex-col justify-center">
                    <p class="font-normal text-sm text-jet-black">Blood Test</p>
                  </div>


                  <div class="flex flex-col justify-center">
                    <p class="font-semibold text-sm text-burnt-orange">Today</p>
                  </div>

                </div>
              </div>


              <div
                class="card-all-accepted bg-white mt-4 p-4 rounded-md shadow-lg transition cursor-pointer hover:bg-blue-50">
                <div class="flex lg:justify-between items-center flex-col lg:flex-row gap-4">


                  <div class="flex items-center gap-3">
                    <img src="/static/images/rachel-kate.svg" alt="Profile" class="w-12 h-12 rounded-full object-cover">
                    <div class="flex flex-col">
                      <p class="font-semibold text-sm text-jet-black">Pt. Rachel Kate</p>
                      <span class="text-xs text-spanish-gray">Lung Disease</span>
                    </div>
                  </div>

                  <div class="flex flex-col justify-center">
                    <p class="font-normal text-sm text-jet-black">22/07/2025, 10:30 AM</p>
                  </div>


                  <div class="flex flex-col justify-center">
                    <p class="font-normal text-sm text-jet-black">Blood Test</p>
                  </div>


                  <div class="flex flex-col justify-center">
                    <p class="font-semibold text-sm text-burnt-orange">Today</p>
                  </div>

                </div>
              </div>

              <div
                class="card-all-accepted bg-white mt-4 p-4 rounded-md shadow-lg transition cursor-pointer hover:bg-blue-50">
                <div class="flex lg:justify-between items-center flex-col lg:flex-row gap-4">


                  <div class="flex items-center gap-3">
                    <img src="/static/images/rachel-kate.svg" alt="Profile" class="w-12 h-12 rounded-full object-cover">
                    <div class="flex flex-col">
                      <p class="font-semibold text-sm text-jet-black">Pt. Rachel Kate</p>
                      <span class="text-xs text-spanish-gray">Full Body Checkup</span>
                    </div>
                  </div>


                  <div class="flex flex-col justify-center">
                    <p class="font-normal text-sm text-jet-black">22/07/2025, 10:30 AM</p>
                  </div>


                  <div class="flex flex-col justify-center">
                    <p class="font-normal text-sm text-jet-black">Blood Test</p>
                  </div>


                  <div class="flex flex-col justify-center">
                    <p class="font-semibold text-sm text-burnt-orange">Today</p>
                  </div>

                </div>
              </div>

              <div
                class="card-all-completed bg-white mt-4 p-4 rounded-md shadow-lg transition cursor-pointer hover:bg-blue-50">
                <div class="flex lg:justify-between items-center flex-col lg:flex-row gap-4">

                  <div class="flex items-center gap-3">
                    <img src="/static/images/rachel-kate.svg" alt="Profile" class="w-12 h-12 rounded-full object-cover">
                    <div class="flex flex-col">
                      <p class="font-semibold text-sm text-jet-black">Pt. Rachel Kate</p>
                      <span class="text-xs text-spanish-gray">Allergy Test </span>
                    </div>
                  </div>


                  <div class="flex flex-col justify-center">
                    <p class="font-normal text-sm text-jet-black">22/07/2025, 10:30 AM</p>
                  </div>


                  <div class="flex flex-col justify-center">
                    <p class="font-normal text-sm text-jet-black">Blood Test</p>
                  </div>


                  <div class="flex flex-col justify-center">
                    <p class="font-semibold text-sm text-green">Completed</p>
                  </div>

                </div>
              </div>

              <div
                class="card-all-completed bg-white mt-4 p-4 rounded-md shadow-lg transition cursor-pointer hover:bg-blue-50">
                <div class="flex lg:justify-between lg:items-center flex-col lg:flex-row gap-4">
                  <div class="flex items-center gap-3">
                    <img src="/static/images/rachel-kate.svg" alt="Profile" class="w-12 h-12 rounded-full object-cover">
                    <div class="flex flex-col">
                      <p class="font-semibold text-sm text-jet-black">Pt. Rachel Kate</p>
                      <span class="text-xs text-spanish-gray">Iron Studies </span>
                    </div>
                  </div>


                  <div class="flex flex-col justify-center">
                    <p class="font-normal text-sm text-jet-black">22/07/2025, 10:30 AM</p>
                  </div>


                  <div class="flex flex-col justify-center">
                    <p class="font-normal text-sm text-jet-black">Blood Test</p>
                  </div>


                  <div class="flex flex-col justify-center">
                    <p class="font-semibold text-sm text-green">Completed</p>
                  </div>

                </div>
              </div>

              <div
                class="card-all-accepted bg-white mt-4 p-4 rounded-md shadow-lg transition cursor-pointer hover:bg-blue-50">
                <div class="flex lg:justify-between lg:items-center flex-col lg:flex-row gap-4">


                  <div class="flex items-center gap-3">
                    <img src="/static/images/rachel-kate.svg" alt="Profile" class="w-12 h-12 rounded-full object-cover">
                    <div class="flex flex-col">
                      <p class="font-semibold text-sm text-jet-black">Pt. Rachel Kate</p>
                      <span class="text-xs text-spanish-gray">Lung Disease</span>
                    </div>
                  </div>



                  <div class="flex flex-col justify-center">
                    <p class="font-normal text-sm text-jet-black">22/07/2025, 10:30 AM</p>
                  </div>


                  <div class="flex flex-col justify-center">
                    <p class="font-normal text-sm text-jet-black">Blood Test</p>
                  </div>


                  <div class="flex flex-col justify-center">
                    <p class="font-semibold text-sm text-dodger-blue">Upcoming</p>
                  </div>

                </div>
              </div>

              <div
                class="card-all-accepted bg-white mt-4 p-4 rounded-md shadow-lg transition cursor-pointer hover:bg-blue-50">
                <div class="flex lg:justify-between lg:items-center flex-col lg:flex-row gap-4">


                  <div class="flex items-center gap-3">
                    <img src="/static/images/rachel-kate.svg" alt="Profile" class="w-12 h-12 rounded-full object-cover">
                    <div class="flex flex-col">
                      <p class="font-semibold text-sm text-jet-black">Pt. Rachel Kate</p>
                      <span class="text-xs text-spanish-gray">RT-PCR</span>
                    </div>
                  </div>



                  <div class="flex flex-col justify-center">
                    <p class="font-normal text-sm text-jet-black">22/07/2025, 10:30 AM</p>
                  </div>


                  <div class="flex flex-col justify-center">
                    <p class="font-normal text-sm text-jet-black">Blood Test</p>
                  </div>


                  <div class="flex flex-col justify-center">
                    <p class="font-semibold text-sm text-dodger-blue">Upcoming</p>
                  </div>

                </div>
              </div>

            </div>

            <!--All Popup-->


            <div
              class="modal-all-accepted fixed inset-0 flex items-center justify-center bg-smoky-black bg-opacity-50 px-3 z-50 hidden ">
              <div
                class="modal-content-all-accepted  bg-white  w-[680px]  p-4 rounded-lg relative max-h-[90vh] overflow-y-auto no-scrollbar">

                <!-- Header -->
                <div class="flex justify-between items-center border-b px-6 py-3">
                  <h2 class="text-base font-bold">Patient Information</h2>
                  <div class="flex items-center gap-4">
                    <button class="cursor-pointer">
                      <span class="material-symbols-outlined !text-xl">share</span>
                    </button>
                    <button
                      class="modal-close-all-accepted text-gray-500 hover:text-gray-800 !text-3xl">&times;</button>
                  </div>
                </div>

                <!-- Content -->
                <div class="p-6 space-y-6">
                  <!-- Patient Details Block -->
                  <div class="bg-blue-50 p-4 rounded-md flex gap-4">
                    <div class="flex flex-col ">
                      <img src="/static/images/rachel-kate1.jpg" alt="">
                      <p class="font-normal text-sm text-center pt-4">Rachel Kate</p>
                    </div>

                    <div class="flex flex-col gap-4 w-[180px]">
                      <div class="flex  gap-2">
                        <div class="border border-light-gray rounded-lg w-6 h-6 flex items-center justify-center">
                          <span class="material-symbols-outlined text-dodger-blue !text-lg">
                            female
                          </span>
                        </div>
                        <div class="flex flex-col gap-2">
                          <p class="font-normal text-xs text-spanish-gray">Gender</p>
                          <p class="font-normal text-sm">Female</p>
                        </div>
                      </div>

                      <div class="flex  gap-2">
                        <div class="border border-light-gray rounded-lg w-6 h-6 flex items-center justify-center">
                          <span class="material-symbols-outlined text-dodger-blue !text-lg">
                            hourglass
                          </span>
                        </div>
                        <div class="flex flex-col gap-2">
                          <p class="font-normal text-xs text-spanish-gray">Age</p>
                          <p class="font-normal text-sm">25</p>
                        </div>
                      </div>

                      <div class="flex  gap-2">
                        <div class="border border-light-gray rounded-lg w-6 h-6 flex items-center justify-center">
                          <img src="/static/images/visit-icon.svg" alt="">
                        </div>
                        <div class="flex flex-col gap-2">
                          <p class="font-normal text-xs text-spanish-gray">Visit Type</p>
                          <p class="font-normal text-sm">Home Visit</p>
                        </div>
                      </div>
                    </div>

                    <div class="flex flex-col gap-4">
                      <div class="flex  gap-2">
                        <div class="border border-light-gray rounded-lg w-6 h-6 flex items-center justify-center">
                          <span class="material-symbols-outlined text-dodger-blue !text-lg">
                            call
                          </span>
                        </div>
                        <div class="flex flex-col gap-2">
                          <p class="font-normal text-xs text-spanish-gray">Phone no.</p>
                          <p class="font-normal text-sm">+91 7737533456</p>
                        </div>
                      </div>

                      <div class="flex  gap-2">
                        <div class="border border-light-gray rounded-lg w-6 h-6 flex items-center justify-center">
                          <span class="material-symbols-outlined text-dodger-blue !text-lg">
                            calendar_today
                          </span>
                        </div>
                        <div class="flex flex-col gap-2">
                          <p class="font-normal text-xs text-spanish-gray">Appointment date
                          </p>
                          <p class="font-normal text-sm">22/07/2025,12:30 PM</p>
                        </div>
                      </div>

                      <div class="flex  gap-2">
                        <div class="border border-light-gray rounded-lg w-6 h-6 flex items-center justify-center">
                          <img src="/static/images/address-icon.svg" alt="">
                        </div>
                        <div class="flex flex-col gap-2">
                          <p class="font-normal text-xs text-spanish-gray">Address</p>
                          <p class="font-normal text-sm">123 maple los Angeles, CA 90001 usa
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <hr class="mt-4 text-blue-haze">

                  <div class="pt-2">
                    <p class="font-semibold text-sm">Medical Information</p>
                    <div class="pt-4 flex gap-4">
                      <div class="flex gap-2">
                        <div class="border border-blue-haze rounded-lg w-6 h-6 flex items-center justify-center">
                          <span class="material-symbols-outlined text-dodger-blue !text-lg">
                            lab_research
                          </span>
                        </div>
                        <div class="flex flex-col gap-2">
                          <p class="font-normal text-xs text-spanish-gray whitespace-nowrap">
                            Test Requirement</p>
                          <p class="font-normal text-sm">RT-PCR</p>
                        </div>
                      </div>

                      <div class="flex gap-2">
                        <div class="border border-blue-haze rounded-lg w-6 h-6 flex items-center justify-center">
                          <span class="material-symbols-outlined text-dodger-blue !text-lg p-2">
                            details
                          </span>
                        </div>
                        <div class="flex flex-col gap-2">
                          <p class="font-normal text-xs text-spanish-gray">Details</p>
                          <p class="font-normal text-sm">Experiencing mild fever, sore throat, and body ache —
                            requesting RT-PCR to rule out viral infection.</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="pt-4">
                    <div class="flex justify-between items-center pt-4">
                      <p class="font-normal text-sm">Attachment</p>
                      <div class="flex items-center gap-1 cursor-pointer text-dodger-blue  view-attachment">
                        <p class="font-semibold text-sm">Image.pdf</p>
                        <span class="material-symbols-outlined !text-base font-semibold">visibility</span>
                      </div>
                    </div>
                  </div>



                  <div class="enquiredDetail">
                    <div class="flex flex-col mt-4 py-4 gap-4">
                      <!-- Progress Bar -->
                      <div class="flex justify-center items-center gap-1">
                        <!-- Enquiry -->
                        <div class="w-2 h-2 bg-dodger-blue rounded-full"></div>
                        <div class="w-[138px] h-0.5 bg-dodger-blue"></div>

                        <!-- Appointment -->
                        <div class="w-2 h-2 bg-dodger-blue rounded-full"></div>
                        <div class="w-[138px] h-0.5 bg-dodger-blue"></div>

                        <!-- Completed -->
                        <div class="w-2 h-2 bg-blue-haze rounded-full"></div>
                        <div class="w-[138px] h-0.5 bg-blue-haze"></div>

                        <!-- Cancel/Expired -->
                        <div class="w-2 h-2 bg-blue-haze rounded-full"></div>
                      </div>

                      <!-- Labels (text colors unchanged) -->
                      <div class="flex items-center justify-between mx-10">
                        <p class="pl-6 font-normal text-sm">Enquiry</p>
                        <p class="pl-2 text-spanish-gray font-normal text-sm">Appointment</p>
                        <p class="text-spanish-gray font-normal text-sm">Completed</p>
                        <p class="text-spanish-gray font-normal text-sm">Cancel/Expired</p>
                      </div>
                    </div>

                    <div class="pt-4 flex flex-col gap-2">
                      <div class="flex justify-between items-center">
                        <p class="font-normal text-sm">Order ID</p>
                        <p class="font-normal text-sm">6 km</p>
                      </div>
                      <div class="flex justify-between items-center">
                        <p class="font-normal text-sm text-blue-gray">Order #R32512</p>
                        <p class="font-normal text-sm">20 mins away</p>
                      </div>
                    </div>

                    <div class="flex justify-between items-center mt-4">
                      <label class="flex items-center gap-2 cursor-pointer">

                        <span class="font-normal text-sm">No Show</span>
                        <input type="checkbox" class="w-4 h-4 accent-dodger-blue rounded cursor-pointer">
                      </label>
                      <p class="font-normal text-sm text-blue-gray">Patient didn’t show up</p>
                    </div>
                  </div>

                  <div class="mt-2 flex justify-between items-center">
                    <div class="flex gap-2 items-center">
                      <p class="font-normal text-sm">Home Collection</p>
                      <p class="font-normal text-sm text-dodger-blue">&#8377;500</p>
                    </div>
                    <div
                      class="border border-dodger-blue bg-pale-azure px-2.5 py-1 rounded-lg flex items-center gap-2 cursor-pointer">
                      <p class="font-normal text-sm">Proforma Bill</p>
                      <span class="material-symbols-outlined !text-lg">visibility</span>
                    </div>
                  </div>

                </div>

                <!-- Footer Buttons -->
                <div class="pt-4 flex justify-center items-center gap-2 mb-2">
                  <button
                    class="bg-dodger-blue text-white rounded-lg w-[180px] h-10 px-4 py-2 cursor-pointer complete-btn">Complete</button>
                  <button
                    class="border border-strong-red text-strong-red rounded-lg w-[180px] h-10 px-4 py-2 cursor-pointer text-nowrap popup-btn">Cancel
                    Appointment</button>
                </div>
              </div>
            </div>

            <div
              class="modal-all-completed fixed inset-0 flex items-center justify-center bg-smoky-black bg-opacity-50 px-3 z-50 hidden ">
              <div
                class="modal-content-all-completed  bg-white  w-[680px]  p-4 rounded-lg relative max-h-[90vh] overflow-y-auto no-scrollbar">

                <!-- Header -->
                <div class="flex justify-between items-center border-b px-6 py-3">
                  <h2 class="text-base font-bold">Patient Information</h2>
                  <div class="flex items-center gap-4">
                    <button class="cursor-pointer">
                      <span class="material-symbols-outlined !text-xl">share</span>
                    </button>
                    <button
                      class="modal-close-all-completed text-gray-500 hover:text-gray-800 !text-3xl">&times;</button>
                  </div>
                </div>

                <!-- Content -->
                <div class="p-6 space-y-6">
                  <!-- Patient Details Block -->
                  <div class="bg-blue-50 p-4 rounded-md flex gap-4">
                    <div class="flex flex-col ">
                      <img src="/static/images/rachel-kate1.jpg" alt="">
                      <p class="font-normal text-sm text-center pt-4">Rachel Kate</p>
                    </div>

                    <div class="flex flex-col gap-4 w-[180px]">
                      <div class="flex  gap-2">
                        <div class="border border-light-gray rounded-lg w-6 h-6 flex items-center justify-center">
                          <span class="material-symbols-outlined text-dodger-blue !text-lg">
                            female
                          </span>
                        </div>
                        <div class="flex flex-col gap-2">
                          <p class="font-normal text-xs text-spanish-gray">Gender</p>
                          <p class="font-normal text-sm">Female</p>
                        </div>
                      </div>

                      <div class="flex  gap-2">
                        <div class="border border-light-gray rounded-lg w-6 h-6 flex items-center justify-center">
                          <span class="material-symbols-outlined text-dodger-blue !text-lg">
                            hourglass
                          </span>
                        </div>
                        <div class="flex flex-col gap-2">
                          <p class="font-normal text-xs text-spanish-gray">Age</p>
                          <p class="font-normal text-sm">25</p>
                        </div>
                      </div>

                      <div class="flex  gap-2">
                        <div class="border border-light-gray rounded-lg w-6 h-6 flex items-center justify-center">
                          <img src="/static/images/visit-icon.svg" alt="">
                        </div>
                        <div class="flex flex-col gap-2">
                          <p class="font-normal text-xs text-spanish-gray">Visit Type</p>
                          <p class="font-normal text-sm">Home Visit</p>
                        </div>
                      </div>
                    </div>

                    <div class="flex flex-col gap-4">
                      <div class="flex  gap-2">
                        <div class="border border-light-gray rounded-lg w-6 h-6 flex items-center justify-center">
                          <span class="material-symbols-outlined text-dodger-blue !text-lg">
                            call
                          </span>
                        </div>
                        <div class="flex flex-col gap-2">
                          <p class="font-normal text-xs text-spanish-gray">Phone no.</p>
                          <p class="font-normal text-sm">+91 7737533456</p>
                        </div>
                      </div>

                      <div class="flex  gap-2">
                        <div class="border border-light-gray rounded-lg w-6 h-6 flex items-center justify-center">
                          <span class="material-symbols-outlined text-dodger-blue !text-lg">
                            calendar_today
                          </span>
                        </div>
                        <div class="flex flex-col gap-2">
                          <p class="font-normal text-xs text-spanish-gray">Appointment date
                          </p>
                          <p class="font-normal text-sm">22/07/2025,12:30 PM</p>
                        </div>
                      </div>

                      <div class="flex  gap-2">
                        <div class="border border-light-gray rounded-lg w-6 h-6 flex items-center justify-center">
                          <img src="/static/images/address-icon.svg" alt="">
                        </div>
                        <div class="flex flex-col gap-2">
                          <p class="font-normal text-xs text-spanish-gray">Address</p>
                          <p class="font-normal text-sm">123 maple los Angeles, CA 90001 usa
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <hr class="mt-4 text-blue-haze">

                  <div class="pt-2">
                    <p class="font-semibold text-sm">Medical Information</p>
                    <div class="pt-4 flex gap-4">
                      <div class="flex gap-2">
                        <div class="border border-blue-haze rounded-lg w-6 h-6 flex items-center justify-center">
                          <span class="material-symbols-outlined text-dodger-blue !text-lg">
                            lab_research
                          </span>
                        </div>
                        <div class="flex flex-col gap-2">
                          <p class="font-normal text-xs text-spanish-gray whitespace-nowrap">
                            Test Requirement</p>
                          <p class="font-normal text-sm">RT-PCR</p>
                        </div>
                      </div>

                      <div class="flex gap-2">
                        <div class="border border-blue-haze rounded-lg w-6 h-6 flex items-center justify-center">
                          <span class="material-symbols-outlined text-dodger-blue !text-lg p-2">
                            details
                          </span>
                        </div>
                        <div class="flex flex-col gap-2">
                          <p class="font-normal text-xs text-spanish-gray">Details</p>
                          <p class="font-normal text-sm">Experiencing mild fever, sore throat, and body ache —
                            requesting RT-PCR to rule out viral infection.</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="pt-4">
                    <div class="flex justify-between items-center pt-4">
                      <p class="font-normal text-sm">Attachment</p>
                      <div class="flex items-center gap-1 cursor-pointer text-dodger-blue  view-attachment">
                        <p class="font-semibold text-sm">Image.pdf</p>
                        <span class="material-symbols-outlined !text-base font-semibold">visibility</span>
                      </div>
                    </div>
                  </div>


                  <div class="enquiredDetail">
                    <div class="flex flex-col mt-4 py-4 gap-4">
                      <div class=" flex justify-center items-center gap-1">
                        <div class="w-2 h-2 bg-dodger-blue rounded-full"></div>
                        <div class="w-[192px] h-0.5 bg-dodger-blue"></div>
                        <div class="w-2 h-2 bg-dodger-blue rounded-full"></div>
                        <div class="w-[192px] h-0.5 bg-dodger-blue"></div>
                        <div class="w-2 h-2 bg-dodger-blue rounded-full"></div>
                      </div>
                      <div class="flex items-center justify-between mx-20">
                        <p class="font-normal text-sm">Enquiry</p>
                        <p class="font-normal text-sm">Appointment</p>
                        <p class="font-normal text-sm">Completed</p>
                      </div>
                    </div>

                    <div class="pt-4 flex flex-col gap-2">
                      <div class="flex justify-between items-center">
                        <p class="font-normal text-sm">Order ID</p>
                        <p class="font-normal text-sm">6 km</p>
                      </div>
                      <div class="flex justify-between items-center">
                        <p class="font-normal text-sm text-blue-gray">Order #R32512</p>
                        <p class="font-normal text-sm">20 mins away</p>
                      </div>
                    </div>

                    <div class="mt-2 flex justify-between items-center">
                      <div class="flex gap-2 items-center">
                        <p class="font-normal text-sm">Home Collection</p>
                        <p class="font-normal text-sm text-dodger-blue">&#8377;500</p>
                      </div>
                      <div
                        class="border border-dodger-blue bg-pale-azure px-2.5 py-1 rounded-lg flex items-center gap-2 cursor-pointer">
                        <p class="font-normal text-sm">Proforma Bill</p>
                        <span class="material-symbols-outlined !text-lg">visibility</span>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>


          </div>