          <div class="equipment tab-content pt-8 space-y-6 hidden">
            <div id="cards-container">
              <div class="card-equipment bg-white mt-4 p-4 rounded-md shadow-lg transition cursor-pointer ">
                <div class="flex lg:justify-between items-center flex-col lg:flex-row gap-4">


                  <div class="flex flex-col justify-center">
                    <p class="font-semibold text-sm ">MRI Scanner 1</p>
                  </div>

                  <!-- Equipment Type -->
                  <div class="flex flex-col justify-center">
                    <p class="font-normal text-sm ">MRI</p>
                  </div>

                  <!-- Equipment ID -->
                  <div class="flex flex-col justify-center">
                    <p class="font-normal text-sm ">MRI-9823</p>
                  </div>

                  <!-- Department -->
                  <div class="flex flex-col justify-center">
                    <p class="font-normal text-sm ">Radiology</p>
                  </div>

                  <!-- Status Dropdown -->
                  <div class="relative flex flex-col justify-center">
                    <button
                      class="status-btn flex items-center justify-between text-dodger-blue bg-light-dodger-blue text-sm font-semibold px-3 py-1.5 rounded-md font-medium transition cursor-pointer w-44">
                      <span class="status-text">Available</span>
                      <span class="material-symbols-outlined  text-base font-semibold">keyboard_arrow_down</span>
                    </button>

                    <!-- Dropdown Menu -->
                    <div
                      class="status-dropdown hidden absolute left-0 top-full mt-2 w-44 bg-white border border-gray-200 rounded-md shadow-lg z-50">
                      <p
                        class="dropdown-item px-3 py-2 text-sm font-semibold text-dodger-blue hover:bg-light-dodger-blue cursor-pointer">
                        Available</p>
                      <p
                        class="dropdown-item px-3 py-2 text-sm font-semibold text-dodger-blue hover:bg-light-dodger-blue cursor-pointer">
                        Maintenance</p>
                      <p
                        class="dropdown-item px-3 py-2 text-sm font-semibold text-dodger-blue hover:bg-light-dodger-blue cursor-pointer">
                        Out
                        of Service</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-equipment bg-white mt-4 p-4 rounded-md shadow-lg transition cursor-pointer ">
                <div class="flex lg:justify-between items-center flex-col lg:flex-row gap-4">


                  <div class="flex flex-col justify-center">
                    <p class="font-semibold text-sm ">MRI Scanner 1</p>
                  </div>

                  <!-- Equipment Type -->
                  <div class="flex flex-col justify-center">
                    <p class="font-normal text-sm ">MRI</p>
                  </div>

                  <!-- Equipment ID -->
                  <div class="flex flex-col justify-center">
                    <p class="font-normal text-sm ">MRI-9823</p>
                  </div>

                  <!-- Department -->
                  <div class="flex flex-col justify-center">
                    <p class="font-normal text-sm ">Radiology</p>
                  </div>

                  <!-- Status Dropdown -->
                  <div class="relative flex flex-col justify-center">
                    <button
                      class="status-btn flex items-center justify-between text-dodger-blue bg-light-dodger-blue text-sm font-semibold px-3 py-1.5 rounded-md font-medium transition cursor-pointer w-44">
                      <span class="status-text">Available</span>
                      <span class="material-symbols-outlined  text-base font-semibold">keyboard_arrow_down</span>
                    </button>

                    <!-- Dropdown Menu -->
                    <div
                      class="status-dropdown hidden absolute left-0 top-full mt-2 w-44 bg-white border border-gray-200 rounded-md shadow-lg z-50">
                      <p
                        class="dropdown-item px-3 py-2 text-sm font-semibold text-dodger-blue hover:bg-light-dodger-blue cursor-pointer">
                        Available</p>
                      <p
                        class="dropdown-item px-3 py-2 text-sm font-semibold text-dodger-blue hover:bg-light-dodger-blue cursor-pointer">
                        Maintenance</p>
                      <p
                        class="dropdown-item px-3 py-2 text-sm font-semibold text-dodger-blue hover:bg-light-dodger-blue cursor-pointer">
                        Out
                        of Service</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-equipment bg-white mt-4 p-4 rounded-md shadow-lg transition cursor-pointer ">
                <div class="flex lg:justify-between items-center flex-col lg:flex-row gap-4">


                  <div class="flex flex-col justify-center">
                    <p class="font-semibold text-sm ">MRI Scanner 1</p>
                  </div>

                  <!-- Equipment Type -->
                  <div class="flex flex-col justify-center">
                    <p class="font-normal text-sm ">MRI</p>
                  </div>

                  <!-- Equipment ID -->
                  <div class="flex flex-col justify-center">
                    <p class="font-normal text-sm ">MRI-9823</p>
                  </div>

                  <!-- Department -->
                  <div class="flex flex-col justify-center">
                    <p class="font-normal text-sm ">Radiology</p>
                  </div>

                  <!-- Status Dropdown -->
                  <div class="relative flex flex-col justify-center">
                    <button
                      class="status-btn flex items-center justify-between text-dodger-blue bg-light-dodger-blue text-sm font-semibold px-3 py-1.5 rounded-md font-medium transition cursor-pointer w-44">
                      <span class="status-text">Available</span>
                      <span class="material-symbols-outlined  text-base font-semibold">keyboard_arrow_down</span>
                    </button>

                    <!-- Dropdown Menu -->
                    <div
                      class="status-dropdown hidden absolute left-0 top-full mt-2 w-44 bg-white border border-gray-200 rounded-md shadow-lg z-50">
                      <p
                        class="dropdown-item px-3 py-2 text-sm font-semibold text-dodger-blue hover:bg-light-dodger-blue cursor-pointer">
                        Available</p>
                      <p
                        class="dropdown-item px-3 py-2 text-sm font-semibold text-dodger-blue hover:bg-light-dodger-blue cursor-pointer">
                        Maintenance</p>
                      <p
                        class="dropdown-item px-3 py-2 text-sm font-semibold text-dodger-blue hover:bg-light-dodger-blue cursor-pointer">
                        Out
                        of Service</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-equipment bg-white mt-4 p-4 rounded-md shadow-lg transition cursor-pointer ">
                <div class="flex lg:justify-between items-center flex-col lg:flex-row gap-4">


                  <div class="flex flex-col justify-center">
                    <p class="font-semibold text-sm ">MRI Scanner 1</p>
                  </div>

                  <!-- Equipment Type -->
                  <div class="flex flex-col justify-center">
                    <p class="font-normal text-sm ">MRI</p>
                  </div>

                  <!-- Equipment ID -->
                  <div class="flex flex-col justify-center">
                    <p class="font-normal text-sm ">MRI-9823</p>
                  </div>

                  <!-- Department -->
                  <div class="flex flex-col justify-center">
                    <p class="font-normal text-sm ">Radiology</p>
                  </div>

                  <!-- Status Dropdown -->
                  <div class="relative flex flex-col justify-center">
                    <button
                      class="status-btn flex items-center justify-between text-dodger-blue bg-light-dodger-blue text-sm font-semibold px-3 py-1.5 rounded-md font-medium transition cursor-pointer w-44">
                      <span class="status-text">Available</span>
                      <span class="material-symbols-outlined  text-base font-semibold">keyboard_arrow_down</span>
                    </button>

                    <!-- Dropdown Menu -->
                    <div
                      class="status-dropdown hidden absolute left-0 top-full mt-2 w-44 bg-white border border-gray-200 rounded-md shadow-lg z-50">
                      <p
                        class="dropdown-item px-3 py-2 text-sm font-semibold text-dodger-blue hover:bg-light-dodger-blue cursor-pointer">
                        Available</p>
                      <p
                        class="dropdown-item px-3 py-2 text-sm font-semibold text-dodger-blue hover:bg-light-dodger-blue cursor-pointer">
                        Maintenance</p>
                      <p
                        class="dropdown-item px-3 py-2 text-sm font-semibold text-dodger-blue hover:bg-light-dodger-blue cursor-pointer">
                        Out
                        of Service</p>
                    </div>
                  </div>
                </div>
              </div>


              <div class="card-equipment bg-white mt-4 p-4 rounded-md shadow-lg transition cursor-pointer ">
                <div class="flex lg:justify-between items-center flex-col lg:flex-row gap-4">


                  <div class="flex flex-col justify-center">
                    <p class="font-semibold text-sm ">MRI Scanner 1</p>
                  </div>

                  <!-- Equipment Type -->
                  <div class="flex flex-col justify-center">
                    <p class="font-normal text-sm ">MRI</p>
                  </div>

                  <!-- Equipment ID -->
                  <div class="flex flex-col justify-center">
                    <p class="font-normal text-sm ">MRI-9823</p>
                  </div>

                  <!-- Department -->
                  <div class="flex flex-col justify-center">
                    <p class="font-normal text-sm ">Radiology</p>
                  </div>

                  <!-- Status Dropdown -->
                  <div class="relative flex flex-col justify-center">
                    <button
                      class="status-btn flex items-center justify-between text-dodger-blue bg-light-dodger-blue text-sm font-semibold px-3 py-1.5 rounded-md font-medium transition cursor-pointer w-44">
                      <span class="status-text">Available</span>
                      <span class="material-symbols-outlined  text-base font-semibold">keyboard_arrow_down</span>
                    </button>

                    <!-- Dropdown Menu -->
                    <div
                      class="status-dropdown hidden absolute left-0 top-full mt-2 w-44 bg-white border border-gray-200 rounded-md shadow-lg z-50">
                      <p
                        class="dropdown-item px-3 py-2 text-sm font-semibold text-dodger-blue hover:bg-light-dodger-blue cursor-pointer">
                        Available</p>
                      <p
                        class="dropdown-item px-3 py-2 text-sm font-semibold text-dodger-blue hover:bg-light-dodger-blue cursor-pointer">
                        Maintenance</p>
                      <p
                        class="dropdown-item px-3 py-2 text-sm font-semibold text-dodger-blue hover:bg-light-dodger-blue cursor-pointer">
                        Out
                        of Service</p>
                    </div>
                  </div>
                </div>
              </div>


              <div class="card-equipment bg-white mt-4 p-4 rounded-md shadow-lg transition cursor-pointer ">
                <div class="flex lg:justify-between items-center flex-col lg:flex-row gap-4">


                  <div class="flex flex-col justify-center">
                    <p class="font-semibold text-sm ">MRI Scanner 1</p>
                  </div>

                  <!-- Equipment Type -->
                  <div class="flex flex-col justify-center">
                    <p class="font-normal text-sm ">MRI</p>
                  </div>

                  <!-- Equipment ID -->
                  <div class="flex flex-col justify-center">
                    <p class="font-normal text-sm ">MRI-9823</p>
                  </div>

                  <!-- Department -->
                  <div class="flex flex-col justify-center">
                    <p class="font-normal text-sm ">Radiology</p>
                  </div>

                  <!-- Status Dropdown -->
                  <div class="relative flex flex-col justify-center">
                    <button
                      class="status-btn flex items-center justify-between text-dodger-blue bg-light-dodger-blue text-sm font-semibold px-3 py-1.5 rounded-md font-medium transition cursor-pointer w-44">
                      <span class="status-text">Available</span>
                      <span class="material-symbols-outlined  text-base font-semibold">keyboard_arrow_down</span>
                    </button>

                    <!-- Dropdown Menu -->
                    <div
                      class="status-dropdown hidden absolute left-0 top-full mt-2 w-44 bg-white border border-gray-200 rounded-md shadow-lg z-50">
                      <p
                        class="dropdown-item px-3 py-2 text-sm font-semibold text-dodger-blue hover:bg-light-dodger-blue cursor-pointer">
                        Available</p>
                      <p
                        class="dropdown-item px-3 py-2 text-sm font-semibold text-dodger-blue hover:bg-light-dodger-blue cursor-pointer">
                        Maintenance</p>
                      <p
                        class="dropdown-item px-3 py-2 text-sm font-semibold text-dodger-blue hover:bg-light-dodger-blue cursor-pointer">
                        Out
                        of Service</p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>