{% load static %}

<div id="donateReceiptModal" class="donateReceiptPopup popup bg-opacity-70 bg-black/30 flex z-50 fixed inset-0 items-center justify-center hidden" style="padding-left: 0.75rem; padding-right: 0.75rem;">
    <div class="bg-white rounded-lg max-w-[560px] h-[640px] w-full overflow-y-auto shadow-lg p-3 flex flex-col gap-4 mx-auto">
        <div style="display: flex; align-items: center; justify-content: space-between; height: 2.5rem;">
        <div style="display: flex; align-items: center; gap: 0.75rem;">
            <span
            class="material-symbols-outlined cursor-pointer text-white bg-dark-blue p-2 rounded-md text-lg">
            share
            </span>
            <span
            onclick="downloadDonatePDF()"
            class="material-symbols-outlined cursor-pointer text-white bg-dark-blue p-2 rounded-md text-lg">
            download
            </span>
        </div>
        <p class="text-xl font-semibold text-dark-blue">
            Donation Receipt
        </p>
        <button
            onclick="closeDonatePopup()"
            class="close-platform-bill" style="background: none; border: none; padding: 0;">
            <span
            class="material-symbols-outlined"
            style="cursor: pointer;">
            close
            </span>
        </button>
    </div>
    <div class="download-container" style="font-family: 'Courier New', Courier, monospace; font-size: 14px; line-height: 1.6; max-width: 650px; max-height:700px; color: #000;">
        <div id="donateReceiptContent">
        <div style="text-align: center; font-weight: bold; font-size: 16px;">DONATION RECEIPT</div>
        <hr style="border-top: 1px dashed #000; margin: 15px 0;">
        <!-- Invoice Details -->
        <table style="width: 100%; margin-bottom: 10px;">
            <tr>
                <td style="width: 30%;"><strong>Receipt No:</strong></td>
                <td>NGO/2025/<span id="receiptNo"></span></td>
            </tr>
            <tr>
                <td><strong>Date:</strong></td>
                <td id="paymentDate"></td>
            </tr>
            <tr>
                <td><strong>NGO Name:</strong></td>
                <td id="ngoName"></td>
            </tr>
            <tr>
                <td><strong>PAN:</strong></td>
                <td id="panNumber"></td>
            </tr>
            <tr>
                <td><strong>Address:</strong></td>
                <td id="address"></td>
            </tr>
        </table>
        <hr style="border-top: 1px dashed #000; margin: 15px 0;">
        <!-- Billing Details -->
        <table style="width: 100%; margin-bottom: 10px;">
            <tr>
                <td style="width: 30%;"><strong>Donor Details:</strong></td>
                <td></td>
            </tr>
            <tr>
                <td><strong>Name:</strong></td>
                <td id="name"></td>
            </tr>
            <tr>
                <td><strong>Email:</strong></td>
                <td id="email"></td>
            </tr>
        </table>

        <hr style="border-top: 1px dashed #000; margin: 15px 0;">
        <!-- Billing Details -->
        <table style="width: 100%; margin-bottom: 10px;">
            <tr>
                <td><strong>Amount Donated:</strong></td>
                <td id="amount"></td>
            </tr>
            <tr>
                <td><strong>Mode of Payment:</strong></td>
                <td id="payMode"></td>
            </tr>
        </table>
        <hr style="border-top: 1px dashed #000; margin: 15px 0;">

        <!-- Note -->
        <div style="margin-top: 20px; font-style: italic; font-size: 13px;">
            *This receipt acknowledges that we have received the above-mentioned donation voluntarily. Thank you for your support.
        </div>

        <!-- Signature -->
        <div style="margin-top: 30px;">
            Authorized Signatory,<br><br>
            [Signature]<br>
            <strong id="sign"></strong>
        </div>
        </div>
    </div>
    </div>
</div>