{% load static %}
<!-- Header -->
<div class="h-[72px] w-full flex items-center justify-between p-2 md:p-6 md:shadow-lg">
  <!-- Logo div -->
  <div class="w-16">
    <img src="{% static 'images/ngo.svg' %}" alt="Logo" loading="lazy" class="w-10"/>
  </div>

  <!-- Desktop Navbar -->
  <div class="hidden sm:block">
        <div class="flex items-center gap-2 md:gap-6">
          <!-- Buttons -->
          <div class="relative">
            <button
              class="flex items-center gap-2 border border-living-coral rounded-md text-living-coral p-[0.3rem] open-share-modal cursor-pointer">
              <p>HEALTH2025</p>
              <span class="material-symbols-outlined">
                share
              </span>
            </button>
            <!--Share Popup-->
            <div id="shareModal"
              class="hidden absolute right-0 mt-2 bg-white shadow-lg rounded-md z-50 w-130 border border-living-coral">
              <div class="bg-white w-130 rounded-lg shadow-lg p-6 relative">
                <div class="flex justify-between items-center">
                  <p class="font-semibold text-xl">Share</p>
                  <span class="material-symbols-outlined close-share-modal cursor-pointer">
                    close
                  </span>
                </div>
                <hr class="text-living-coral mt-4" />
                <div class="flex justify-between pt-4">
                  <div class="flex flex-col items-center gap-2 w-20 text-center">
                    <img src="/static/images/whatsappicon.svg" alt="whatsapp logo" class="w-10 h-10 cursor-pointer" />
                    <p class="font-normal text-base text-dark-gray">Whatsapp</p>
                  </div>

                  <div class="flex flex-col items-center gap-2 w-20 text-center">
                    <img src="/static/images/telegramicon.svg" alt="telegram logo" class="w-10 h-10 cursor-pointer" />
                    <p class="font-normal text-base text-dark-gray">Telegram</p>
                  </div>

                  <div class="flex flex-col items-center gap-2 w-20 text-center">
                    <img src="/static/images/facebookicon.svg" alt="facebook logo" class="w-10 h-10 cursor-pointer" />
                    <p class="font-normal text-base text-dark-gray">Facebook</p>
                  </div>

                  <div class="flex flex-col items-center gap-2 w-20 text-center">
                    <img src="/static/images/smsicon.svg" alt="sms logo" class="w-10 h-10 cursor-pointer" />
                    <p class="font-normal text-base text-dark-gray">Message</p>
                  </div>

                  <div class="flex flex-col items-center gap-2 w-20 text-center">
                    <img src="/static/images/gmailicon.svg" alt="gmail logo" class="w-10 h-10 cursor-pointer" />
                    <p class="font-normal text-base text-dark-gray">E-mail</p>
                  </div>
                </div>
                <div class="pt-4 relative mt-6">
                  <input type="text" id="share-link" value="https://avatar.com/shorts/cZKr0CtLuYU?si=RHci"
                    class="w-full rounded-md p-4 font-normal text-sm" disabled />
                  <button type="button"
                    class="copy-btn absolute right-3 top-6 bg-living-coral text-white rounded-md p-2 cursor-pointer"
                    data-target="#share-link">
                    Copy
                  </button>
                </div>
              </div>
            </div>
          </div>
      <!-- Icons -->
      <a href="{% url 'map_view' %}">
        <img src="{% static 'images/map.svg' %}" alt="map" title="Map" class="cursor-pointer" />
      </a>
      <a href="{% url 'saved' %}">
        <img src="{% static 'images/star.svg' %}" alt="star" title="Saved" class="cursor-pointer" />
      </a>
      {% if user.user_type == 'advertiser' %}
      <a href="{% url 'advertiser-advance' %}">
        <img src="{% static 'images/walleticon.svg' %}" alt="star" title="Wallet" class="cursor-pointer" />
      </a>
      {% endif %}
      {% if user.user_type == 'ngo' or user.user_type == 'provider' %}
      <a href="{% url 'cart' %}">
        <img src="{% static 'images/cart.svg' %}" alt="star" title="Cart" class="cursor-pointer" />
      </a>
      {% endif %}
      <img src="{% static 'images/bell.svg' %}" alt="bell" title="Notifications" class="cursor-pointer" id="bell-icon" />
      <!-- Notification Dropdown -->
      <div id="notificationDropdown" class="notificationDropdown hidden absolute right-20 top-15 mt-2 bg-white shadow-lg rounded-md z-50 w-130 border border-violet-sky">
        <div class="bg-white rounded-lg shadow-lg p-6 w-full max-w-2xl relative">
          <button onclick="closeNotificationModal()" class="absolute top-2 right-2 text-gray-500 hover:text-black">&times;</button>
          <div id="postDetailContent">
            <h2 id="modalNgoName" class="text-2xl font-bold mb-2"></h2>
            <h3 id="modalHeader" class="text-xl font-semibold mb-2"></h3>
            <p id="modalDescription" class="mb-4">Notification </p>
            <a id="modalWebsite" href="#" target="_blank" class="text-blue-600 underline mb-4 block"></a>            
          </div>
        </div>
      </div>
      <!-- User Dropdown -->
      <div class="relative inline-block">
        <button class="profile-btn">
          <img src="{% static 'images/user.svg' %}" alt="User" loading="lazy" class="w-8 h-8"/>
        </button>
        <!-- Dropdown -->
        <div class="profile-dropdown">
          <a href="/settings/">
          <div class="px-4 py-3 flex items-center space-x-3 cursor-pointer">
            <img src="{% static 'images/user.svg' %}" alt="User" loading="lazy" class="w-8 h-8 rounded-full" />
            <div>
              <p class="text-sm font-normal">
                {{ user_display_name|default:"User Name" }}
              </p>
            </div>
          </div>
          <div>
          </a>
            <a href="{% url 'logout' %}" class="px-4 py-3 text-sm hover:bg-violet-sky-opacity flex items-center space-x-2">
              <span class="material-symbols-outlined"> logout </span>
              <span>Sign out</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile Navbar -->
  <div class="block sm:hidden">
    <div class="flex items-center gap-4">
      <input type="search" placeholder="Search"
        class="w-full max-w-[249px] h-[36px] rounded-[6px] bg-light-white border-none px-3 focus:!outline-none focus:ring-0" />
      <span class="material-symbols-outlined cursor-pointer text-golden-yellow">
        kid_star
      </span>
      <span class="material-symbols-outlined cursor-pointer">
        notifications
      </span>
      <!-- User Dropdown -->
      <div class="relative inline-block">
        <button class="profile-btn">
          <img src="{% static 'images/user.svg' %}" alt="User" loading="lazy" />
        </button>
        <!-- Dropdown -->
        <div class="profile-dropdown">
          <div class="px-4 py-3 flex items-center space-x-3 cursor-pointer">
            <img src="{% static 'images/user.svg' %}" alt="User" loading="lazy" class="w-8 h-8 rounded-full" />
            <div>
              <p class="text-sm font-normal">
                {{ user_display_name|default:"User Name" }}

              </p>
            </div>
          </div>
          <div>
            <a href="{% url 'logout' %}" class="px-4 py-3 text-sm hover:bg-violet-sky-opacity flex items-center space-x-2">
              <span class="material-symbols-outlined"> logout </span>
              <span>Sign out</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
