{% extends "dashboard/layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- Main Content -->
            <div
                class="relative transition-all duration-300 main-content bg-slate-white h-full flex-1 flex flex-col gap-8 p-6 overflow-y-auto scroll">
                <div
                    class="show-sidebar-toggle hidden fixed top-[100px] left-12 z-50 h-10 w-10 bg-light-dodger-blue items-center justify-center rounded-r-md cursor-pointer">
                    <span class="material-symbols-outlined bold-weight text-dodger-blue">
                        arrow_forward_ios
                    </span>
                </div>
                <div class="bg-white rounded-[10px] p-5">
                    <div class="flex flex-col gap-3 sm:gap-0 sm:flex-row sm:items-center sm:justify-between">
                        <div class="flex flex-col  gap-2">
                            <div class="flex items-center gap-2">
                                <span class="material-symbols-outlined text-xl! font-semibold!">home</span>
                                <h1 class="text-base font-semibold">Home</h1>
                            </div>
                            <div id="date" class="font-normal text-base"></div>
                        </div>
                        <div class="flex flex-col  gap-2 lg:items-center " id="infoSection">
                            <div class="flex flex-col gap-2">
                                <div id="location" class="font-normal text-base flex items-center gap-2">
                                    <span class="material-symbols-outlined !text-base"> location_on </span>
                                    <span id="location-text">Fetching location...</span>
                                </div>
                                <div class="flex items-center gap-2">
                                    <p>Auto Bid </p>
                                    <label class="relative inline-block w-12 h-6 cursor-pointer mt-1">
                                        <input type="checkbox" class="sr-only peer">
                                        <div
                                            class="w-11 h-4 rounded-full bg-gray-300 peer-checked:bg-powder-teal transition-colors mt-0.5">
                                        </div>
                                        <div
                                            class="absolute -top-0.5 left-0 w-6 h-6 bg-gray-500 rounded-full transition-transform peer-checked:translate-x-6 peer-checked:bg-deep-teal">
                                        </div>
                                    </label>
                                    <div
                                        class="bg-gradient-to-r from-caribbean-green to-azure-radiance w-6 h-6 rounded-[7px] text-white text-xs flex items-center justify-center">
                                        Rx</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Map-->
                    <div class="  pt-5">
                        <div class="relative">
                            <img src="/static/images/map-bg.png" alt="Map"
                                class="w-full! h-[330px] object-fill rounded-lg">
                            <div class="absolute inset-0 flex items-end">
                                <div
                                    class=" bg-semi-transparent-black backdrop-blur-sm w-full text-white px-6 py-4 rounded-br-lg rounded-bl-lg">
                                    <div class="flex flex-col gap-2">
                                        <div class="flex items-center gap-2">
                                            <span class="material-symbols-outlined">home</span>
                                            <p class="text-base font-semibold">Pharma Sell</p>
                                        </div>
                                        <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between">
                                            <p class="font-semibold text-sm">221/A, 2nd Floor, Shanti Nagar Road, Sector
                                                10, Andheri
                                                East, <br> Mumbai, Maharashtra – 400093
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        
                    </div>

                    <!--Coupon-->
                    <div class="mt-5 bg-dodger-blue-deep rounded-xl h-[260px] w-full relative">
                        <img src="/static/images/right-circle.svg" alt="" class="absolute right-0 rounded-xl">
                        <img src="/static/images/left-circle.svg" alt="" class="absolute bottom-0 rounded-xl">
                        <div class="flex flex-col gap-[25px]">
                            <div class="flex items-center gap-6 px-8 py-6">
                                <img src="/static/images/giftbox.svg" alt="Giftbox">
                                <div class="flex flex-col gap-0.5">
                                    <p class="font-bold text-[32px] text-white">Create Coupons & Attract Direct
                                        Customers !</p>
                                    <p class="font-normal text-[22px] text-white">Launch exciting offer campaigns to
                                        boost sales and get discovered faster ! </p>
                                </div>
                            </div>
                            <div class="flex items-center justify-between ml-[170px] w-[791px]">
                                <div class="flex flex-col gap-0.5">
                                    <ul class="list-disc">
                                        <li class="font-semibold text-xl text-white">Vitamin Combo @999</li>
                                        <li class="font-semibold text-xl text-white"> Book Medicines, Get Complan
                                            Free</li>
                                    </ul>
                                </div>
                                <a href="{% url 'coupons' %}"
                                    class="bg-cobalt-blue-deep py-2.5 px-[30px] text-white rounded-[10px] font-normal text-2xl">
                                    Create Now
                                </a>
                            </div>
                        </div>

                    </div>

                    <!--Overview-->
                    <div class="mt-5 flex flex-col gap-4">
                        <div class="flex items-center justify-between">
                            <p class="font-semibold text-lg">Overview</p>
                            <div class="flex items-center gap-2.5">
                                <p class="font-normal text-sm">Today</p>
                                <div class="relative dropdown">
                                    <button
                                        class="filterToggle  flex justify-center items-center border border-blue-haze rounded-md p-1 w-8 h-8 cursor-pointer">
                                        <span class="material-symbols-outlined  text-xl!">tune</span>
                                    </button>
                                    <div
                                        class="filterDropdown absolute right-0 bg-white text-dark-gray shadow-[4px_4px_10px_2px_#00000026] hidden rounded-md w-44 z-10">
                                        <div
                                            class="p-2 pl-4 hover:bg-pale-azure  rounded cursor-pointer flex items-center gap-2 font-normal text-base text-dark-gray">
                                            <span class="material-symbols-outlined !text-lg text-dodger-blue">
                                                check
                                            </span>Today
                                        </div>
                                        <div
                                            class="p-2 pl-4 hover:bg-pale-azure  rounded cursor-pointer flex items-center gap-2 font-normal text-base text-dark-gray">
                                            <span class="material-symbols-outlined !text-lg text-light-gray">
                                                check
                                            </span>Week
                                        </div>
                                        <div
                                            class="p-2 pl-4 hover:bg-pale-azure  rounded cursor-pointer flex items-center gap-2 font-normal text-base text-dark-gray">
                                            <span class="material-symbols-outlined !text-lg text-light-gray">
                                                check
                                            </span>Month
                                        </div>
                                        <div
                                            class="p-2 pl-4 flex justify-between items-center cursor-pointer hover:bg-pale-azure  rounded font-normal text-base text-dark-gray">
                                            <div class="flex items-center gap-2">
                                                <span class="material-symbols-outlined !text-lg text-light-gray">
                                                    check
                                                </span>Custom
                                            </div>
                                            <span class="material-symbols-outlined calendar-icon">calendar_today</span>
                                        </div>
                                    </div>
                                    <div
                                        class="datepicker-container hidden px-4 pb-3 absolute top-full right-0 lg:right-[180px] z-50 bg-white shadow-md rounded">
                                        <div class="datepicker-inline"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-2 gap-y-3">
                            <!--Wallet Balance-->
                            <div
                                class="bg-white border border-frost-white rounded-2xl shadow-(--box-shadow-12) p-4 flex flex-col gap-2">
                                <div class="flex items-center justify-between">
                                    <img src="/static/images/wallet-overview.svg" alt="wallet">
                                    <p class="font-normal text-sm text-leaf-green">+12%</p>
                                </div>
                                <p class="font-bold text-xl text-dark-navy">&#8377;{{ wallet_balance|default:0 }}</p>
                                <p class="font-normal text-sm text-charcoal-gray">Wallet Balance</p>
                            </div>

                            <!--Active Bids-->
                            <div
                                class="bg-white border border-frost-white rounded-2xl shadow-(--box-shadow-12) p-4 flex flex-col gap-2">
                                <div class="flex items-center justify-between">
                                    <img src="/static/images/active-bids.svg" alt="Active Bids">
                                    <p class="font-normal text-sm text-leaf-green">+8.2%</p>
                                </div>
                                <p class="font-bold text-xl text-dark-navy">{{ active_bids|default:0 }}</p>
                                <p class="font-normal text-sm text-charcoal-gray">Active Bids</p>
                            </div>

                            <!--Alerts-->
                            <div
                                class="bg-white border border-frost-white rounded-2xl shadow-(--box-shadow-12) p-4 flex flex-col gap-2">
                                <div class="flex items-center justify-between">
                                    <img src="/static/images/alert-overview.svg" alt="Alert">
                                    <p class="font-normal text-sm text-crimson-red">-2</p>
                                </div>
                                <p class="font-bold text-xl text-dark-navy">2</p>
                                <p class="font-normal text-sm text-charcoal-gray">Alerts</p>
                            </div>

                            <!--Quotes Given-->
                            <div
                                class="bg-white border border-frost-white rounded-2xl shadow-(--box-shadow-12) p-4 flex flex-col gap-2">
                                <div class="flex items-center justify-between">
                                    <img src="/static/images/quotes-given.svg" alt="Quotes">
                                    <p class="font-normal text-sm text-leaf-green">+12%</p>
                                </div>
                                <p class="font-bold text-xl text-dark-navy">{{ quotes_given|default:0 }}</p>
                                <p class="font-normal text-sm text-charcoal-gray">Quotes Given</p>
                            </div>

                            <!--Orders won-->
                            <div
                                class="bg-white border border-frost-white rounded-2xl shadow-(--box-shadow-12) p-4 flex flex-col gap-2">
                                <div class="flex items-center justify-between">
                                    <img src="/static/images/orders-given.svg" alt="Orders">
                                    <p class="font-normal text-sm text-leaf-green">+8.2%</p>
                                </div>
                                <p class="font-bold text-xl text-dark-navy">{{ orders_won|default:0 }}</p>
                                <p class="font-normal text-sm text-charcoal-gray">Orders Won</p>
                            </div>

                            <!--Delivery Pending-->
                            <div
                                class="bg-white border border-frost-white rounded-2xl shadow-(--box-shadow-12) p-4 flex flex-col gap-2">
                                <div class="flex items-center justify-between">
                                    <img src="/static/images/delivery-bike.svg" alt="Delivery">
                                    <p class="font-normal text-sm text-crimson-red">-2</p>
                                </div>
                                <p class="font-bold text-xl text-dark-navy">{{ pending_orders|default:0 }} Pending</p>
                                <p class="font-normal text-sm text-charcoal-gray">Delivery Status</p>
                            </div>
                        </div>
                        <div class="bg-linear-to-r from-soft-ivory to-soft-ivory border border-deep-amber rounded-[14px] py-3 px-2 flex items-center justify-between">
                            <div class="flex flex-col gap-1.5">
                                <p class="font-normal text-sm text-copper-orange">Average Rating</p>
                                <p class="font-bold text-xl text-warm-tangerine">4.6</p>
                            </div>
                            <div class="flex flex-col items-center gap-1.5">
                                <div class="flex items-center">
                                    <img src="/static/images/star.svg" alt="">
                                    <img src="/static/images/star.svg" alt="">
                                    <img src="/static/images/star.svg" alt="">
                                    <img src="/static/images/star.svg" alt="">
                                    <img src="/static/images/star.svg" alt="">
                                </div>
                                <p class="font-normal text-xs text-cinnamon-orange">Based on customer feedback</p>
                            </div>
                        </div>
                    </div>

                    <!--Trends-->
                    <div class="mt-5 flex flex-col">
                        <div class="bg-dodger-blue rounded-tl-[14px] rounded-tr-[14px] py-5 px-4 flex items-center justify-between">
                            <p class="font-semibold text-base text-white">📊 Nearby Trends & Market Insights</p>
                            <p class="font-semibold text-base text-white">&#8377;200</p>
                        </div>
                        <div class="bg-pastel-seafoam border border-frost-white rounded-bl-[14px] rounded-br-[14px] px-2.5 py-[15px] flex items-center justify-between">
                            <div class="flex flex-col gap-[5px]">
                                <p class="font-semibold text-base text-blue-charcoal">What’s Included</p>
                                <div class="flex items-center gap-2">
                                    <div class="w-5 h-5 rounded-full bg-seafoam flex items-center justify-center">
                                        <span class="material-symbols-outlined text-dodger-blue text-sm!">check</span>
                                    </div>
                                    <p class="font-normal text-sm text-dark-navy">Top Requested Medicine </p>
                                </div>
                                  <div class="flex items-center gap-2">
                                    <div class="w-5 h-5 rounded-full bg-seafoam flex items-center justify-center">
                                        <span class="material-symbols-outlined text-dodger-blue text-sm!">check</span>
                                    </div>
                                    <p class="font-normal text-sm text-dark-navy">Avg. Winning Bid by Speciality </p>
                                </div>
                                  <div class="flex items-center gap-2">
                                    <div class="w-5 h-5 rounded-full bg-seafoam flex items-center justify-center">
                                        <span class="material-symbols-outlined text-dodger-blue text-sm!">check</span>
                                    </div>
                                    <p class="font-normal text-sm text-dark-navy">Avg Response Time Comparison</p>
                                </div>
                            </div>
                            <button class="bg-dodger-blue rounded-lg w-[200px] h-[36px] flex items-center justify-center cursor-pointer">
                                <span class="font-medium text-sm text-white">Pay now</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}