{% extends "dashboard/layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
      <!--Main COntent-->
      <div
        class=" relative transition-all duration-300   main-content h-full flex-1 flex flex-col  p-6 overflow-y-auto scroll">
        <div
          class="show-sidebar-toggle hidden fixed top-34 left-0 z-50 h-10 w-10 bg-transparent-dodger-blue items-center justify-center rounded-r-md cursor-pointer">
          <span class="material-symbols-outlined bold-weight text-dodger-blue">
            arrow_forward_ios
          </span>
        </div>
        <div class="bg-white px-2 sm:px-4 py-4">
          <div class="flex items-center justify-between">
            <div class="flex flex-col  gap-2">
              <div class="flex items-center gap-2">
                <span class="material-symbols-outlined">home</span>
                <h1 class="text-xl font-medium">Home</h1>
              </div>
              <div id="date" class="font-normal text-base"></div>
            </div>
            <div class="flex flex-col  gap-2 lg:items-center " id="infoSection">
              <div class="flex flex-col gap-2">
                <div id="location" class="font-normal text-base flex items-center gap-2">
                  <span class="material-symbols-outlined !text-base"> location_on </span>
                  <span id="location-text">Fetching location...</span>
                </div>
                <div class="flex items-center gap-2">
                  <p>Auto Bid </p>
                  <label class="relative inline-block w-12 h-6 cursor-pointer mt-1">
                    <input type="checkbox" class="sr-only peer">
                    <div class="w-11 h-4 rounded-full bg-gray-300 peer-checked:bg-powder-teal transition-colors mt-0.5">
                    </div>
                    <div
                      class="absolute -top-0.5 left-0 w-6 h-6 bg-gray-500 rounded-full transition-transform peer-checked:translate-x-6 peer-checked:bg-deep-teal">
                    </div>
                  </label>
                  <div
                    class="bg-gradient-to-r from-caribbean-green to-azure-radiance w-6 h-6 rounded-[7px] text-white text-xs flex items-center justify-center">
                    Rx</div>
                </div>
              </div>
            </div>
          </div>
          <!--Hospital Image and Admin Details-->
          <div class="flex gap-2  pt-5 ml-3">
            <div class="relative">
              <img src="{% if hospital_profile.hospital_photo_path %}/document/{{ hospital_profile.hospital_photo_path }}{% else %}/static/images/hospital-bg.jpg{% endif %}" alt="Hospital" class="w-full h-full object-cover rounded-lg">
              <div class="absolute inset-0 flex items-end">
                <div class=" bg-semi-transparent-black backdrop-blur-sm w-full text-white px-6 py-3 rounded-lg">
                  <div class="flex flex-col gap-2">
                    <div class="flex items-center gap-2">
                      <span class="material-symbols-outlined">home</span>
                      <p class="text-base font-semibold">{{ hospital_profile.hospital_name }}</p>
                    </div>
                    <p class="font-semibold text-sm">221/A, 2nd Floor, Shanti Nagar Road, Sector 10, Andheri East, <br>
                      Mumbai, Maharashtra - 400093</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="bg-pale-azure w-[224px] h-[330px] px-4 py-2 rounded-lg ml-3">
              <h1 class="text-center text-lg font-semibold">Admin Details</h1>
              <div class="flex items-center justify-center py-[22.5px]">
                <img src="/static/images/admin-profile.svg" alt="">
              </div>
              <div class="flex flex-col items-center gap-2">
                <p class="font-semibold text-sm">Jhon Doe</p>
                <p class="font-semibold text-sm text-dodger-blue">+91 7763847590</p>
                <p class="font-semibold text-sm">Designation: Receptionist</p>
              </div>
            </div>
          </div>

          <!--Overview-->
          <div class="pt-5 flex flex-col ml-3">
            <div class="flex justify-between items-center">
              <p class="font-semibold text-lg">Overview</p>
              <div class="flex items-center gap-2.5">
                <p class="font-normal text-sm">Today</p>
                <div class="relative dropdown">
                  <button
                    class="filterToggle  flex items-center border border-blue-haze rounded-md p-1 w-8 h-8 cursor-pointer">
                    <span class="material-symbols-outlined flex justify-center items-center">tune</span>
                  </button>
                  <div
                    class="filterDropdown absolute right-0 bg-white text-dark-gray shadow-[4px_4px_10px_2px_#00000026] hidden rounded-md w-44 z-10">
                    <div
                      class="p-2 pl-4 hover:bg-pale-azure  rounded cursor-pointer flex items-center gap-2 font-normal text-base text-dark-gray">
                      <span class="material-symbols-outlined !text-lg text-dodger-blue">
                        check
                      </span>Today
                    </div>
                    <div
                      class="p-2 pl-4 hover:bg-pale-azure  rounded cursor-pointer flex items-center gap-2 font-normal text-base text-dark-gray">
                      <span class="material-symbols-outlined !text-lg text-light-gray">
                        check
                      </span>Week
                    </div>
                    <div
                      class="p-2 pl-4 hover:bg-pale-azure  rounded cursor-pointer flex items-center gap-2 font-normal text-base text-dark-gray">
                      <span class="material-symbols-outlined !text-lg text-light-gray">
                        check
                      </span>Month
                    </div>
                    <div
                      class="p-2 pl-4 flex justify-between items-center cursor-pointer hover:bg-pale-azure  rounded font-normal text-base text-dark-gray">
                      <div class="flex items-center gap-2">
                        <span class="material-symbols-outlined !text-lg text-light-gray">
                          check
                        </span>Custom
                      </div>
                      <span class="material-symbols-outlined calendar-icon">calendar_today</span>
                    </div>
                  </div>
                  <div
                    class="datepicker-container hidden px-4 pb-3 absolute top-full right-0 lg:right-[180px] z-50 bg-white shadow-md rounded">
                    <div class="datepicker-inline"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex flex-col lg:flex-row lg:justify-between gap-4 pt-4">
              <div class="bg-ghost-white  p-4 flex justify-between rounded-lg items-center lg:w-[362px] h-[120px]">
                <div class="flex flex-col gap-2">
                  <p class="font-normal text-sm">Total Appointments Today</p>
                  <p class="font-semibold text-2xl">12</p>
                  <p class="text-green font-normal text-xs">7 Confirmed,5 Pending</p>
                </div>
                <div class="bg-pale-azure w-15 h-15 rounded-full p-3.5 flex items-center justify-center">
                  <img src="/static/images/book.svg" alt="">
                </div>
              </div>

              <div class="bg-ghost-white  p-4 flex justify-between rounded-lg items-center lg:w-[362px] h-[120px]">
                <div class="flex flex-col gap-2">
                  <p class="font-normal text-sm">Total Doctors Registered</p>
                  <p class="font-semibold text-2xl">24</p>
                  <p class="font-normal text-xs"><span class="text-dodger-blue">Day Shift: 16</span> | <span
                      class="text-electric-indigo">Night Shift: 8</span> </p>
                </div>
                <div class="bg-pale-azure w-15 h-15 rounded-full p-3.5 flex items-center justify-center">
                  <img src="/static/images/user-community.svg" alt="">
                </div>
              </div>

              <div class="bg-ghost-white  p-4 flex justify-between rounded-lg items-center lg:w-[362px] h-[120px]">
                <div class="flex flex-col gap-2">
                  <p class="font-normal text-sm">Total Beds</p>
                  <p class="font-semibold text-2xl">20</p>
                  <p class="text-steel-blue font-normal text-xs">ICU 4 | Private Bed 4 | Gr Bed 12</p>
                </div>
                <div class="bg-pale-azure w-15 h-15 rounded-full p-3.5 flex items-center justify-center">
                  <img src="/static/images/user-group.svg" alt="">
                </div>
              </div>
            </div>
          </div>

          <!--Scheduled Appointments-->
          <div class="pt-5 flex flex-col ml-3">
            <div class="flex justify-between items-center">
              <p class="font-semibold text-lg">Scheduled Appointments</p>
              <a href="#" class="text-dodger-blue text-sm font-normal">View all</a>
            </div>
            <div class="flex flex-col lg:flex-row lg:justify-between lg:items-center pt-4 gap-2">
              <div
                class="lg:w-[362px] h-[154px] border border-snow rounded-lg bg-white shadow-lg p-4 flex items-center gap-4">
                <div>
                  <img src="/static/images/patient-1.svg" alt="Patient Profile">
                </div>
                <div class="flex flex-col gap-2">
                  <div class="w-[79px] h-[30px] rounded-lg p-2 bg-peach text-burnt-orange font-semibold text-xs">
                    <p>Home Visit</p>
                  </div>
                  <p class="font-semibold text-sm">Pt. Rachel Kate</p>
                  <p class="font-normal text-sm text-green">22/07/2025, 10:30 AM</p>
                  <p class="font-semibold text-sm">To be attended by Dr. Smith</p>
                </div>
              </div>

              <div
                class="lg:w-[362px] h-[154px] border border-snow rounded-lg bg-white shadow-lg p-4 flex items-center gap-4">
                <div>
                  <img src="/static/images/patient-2.svg" alt="Patient Profile">
                </div>
                <div class="flex flex-col gap-2">
                  <div class="w-1/2 h-[30px] rounded-lg p-2 bg-pale-azure text-dodger-blue font-semibold text-xs">
                    <p>Hospital Visit</p>
                  </div>
                  <p class="font-semibold text-sm">Pt. Karen cooper</p>
                  <p class="font-normal text-sm text-green">22/07/2025, 11:30 AM</p>
                  <p class="font-semibold text-sm">To be attended by Dr. Smith</p>
                </div>
              </div>

              <div
                class="lg:w-[362px] h-[154px] border border-snow rounded-lg bg-white shadow-lg p-4 flex items-center gap-4">
                <div>
                  <img src="/static/images/patient-3.svg" alt="Patient Profile">
                </div>
                <div class="flex flex-col gap-2">
                  <div class="w-[89px] h-[30px] rounded-lg p-2 bg-pale-azure text-dodger-blue font-semibold text-xs">
                    <p>Hospital Visit</p>
                  </div>
                  <p class="font-semibold text-sm">Pt. Josh Kerr</p>
                  <p class="font-normal text-sm text-green">22/07/2025, 11:30 AM</p>
                  <p class="font-semibold text-sm">To be attended by Dr. Kate</p>
                </div>
              </div>
            </div>
          </div>

          <!--Appointment Requests-->
          <div class="pt-5 flex flex-col ml-3">
            <div class="flex justify-between items-center">
              <p class="font-semibold text-lg">Appointment Request</p>
              <a href="#" class="text-dodger-blue text-sm font-normal">View all</a>
            </div>
            <div
              class="bg-white shadow-md w-full h-[72px] mt-4 border-snow border rounded-lg p-3 flex items-center justify-between cursor-pointer hover:bg-pale-azure hover:shadow-lg popup-btn"
              data-popup="appointmentRequestDetail">
              <div class="flex items-center gap-2">
                <img src="/static/images/patient-4.svg" alt="Patient Profile">
                <div class="flex flex-col gap-1">
                  <p class="font-semibold text-sm ">Pt. Dolly Paris</p>
                  <p class="font-normal text-xs text-spanish-gray">Kidney Stone</p>
                </div>
              </div>
              <p class="font-normal text-sm pl-2">22/07/2025, 12:30 PM</p>
              <p class="font-normal text-sm">Hospital Visit</p>
              <div class="flex items-center gap-4">
                <span class="material-symbols-outlined text-dodger-blue cursor-pointer accept-icon">
                  check_circle
                </span>
                <span class="material-symbols-outlined text-strong-red reject-icon">
                  cancel
                </span>
                <span class="text-dodger-blue hidden accepted">Accepted</span>
                <span class="text-strong-red hidden rejected">Rejected</span>
              </div>
            </div>

            <div
              class="bg-white shadow-md w-full h-[72px] mt-4 border-snow border rounded-lg p-3 flex items-center justify-between cursor-pointer hover:bg-pale-azure hover:shadow-lg popup-btn"
              data-popup="appointmentRequestDetail">
              <div class="flex items-center gap-2">
                <img src="/static/images/patient-5.svg" alt="Patient Profile">
                <div class="flex flex-col gap-1">
                  <p class="font-semibold text-sm">Pt. Steve Lamark</p>
                  <p class="font-normal text-xs text-spanish-gray">Vascular Disease</p>
                </div>
              </div>
              <p class="font-normal text-sm pr-6">22/07/2025, 01:30 PM</p>
              <p class="font-normal text-sm pr-4">Home Visit</p>
              <div class="flex items-center gap-4">
                <span class="material-symbols-outlined text-dodger-blue cursor-pointer accept-icon">
                  check_circle
                </span>
                <span class="material-symbols-outlined text-strong-red reject-icon">
                  cancel
                </span>
                <span class="text-dodger-blue hidden accepted">Accepted</span>
                <span class="text-strong-red hidden rejected">Rejected</span>
              </div>
            </div>

            <div
              class="bg-white shadow-md w-full h-[72px] mt-4 border-snow border rounded-lg p-3 flex items-center justify-between cursor-pointer hover:bg-pale-azure hover:shadow-lg popup-btn"
              data-popup="appointmentRequestDetail">
              <div class="flex items-center gap-2">
                <img src="/static/images/patient-4.svg" alt="Patient Profile">
                <div class="flex flex-col gap-1">
                  <p class="font-semibold text-sm">Pt. Rachel Kate</p>
                  <p class="font-normal text-xs text-spanish-gray">Lung Disease</p>
                </div>
              </div>
              <p class="font-normal text-sm">22/07/2025, 10:30 AM</p>
              <p class="font-normal text-sm">Home Visit</p>
              <div class="flex items-center gap-4">
                <span class=" text-dodger-blue">
                  Accepted
                </span>
              </div>
            </div>

            <div
              class="bg-white shadow-md w-full h-[72px] mt-4 border-snow border rounded-lg p-3 flex items-center justify-between cursor-pointer hover:bg-pale-azure hover:shadow-lg popup-btn"
              data-popup="appointmentRequestDetail">
              <div class="flex items-center gap-2">
                <img src="/static/images/patient-4.svg" alt="Patient Profile">
                <div class="flex flex-col gap-1">
                  <p class="font-semibold text-sm">Pt. Joolen Smith</p>
                  <p class="font-normal text-xs text-spanish-gray">Heart Disease</p>
                </div>
              </div>
              <p class="font-normal text-sm">22/07/2025, 10:30 AM</p>
              <p class="font-normal text-sm">Hospital Visit</p>
              <div class="flex items-center gap-4">
                <span class=" text-strong-red">
                  Rejected
                </span>
              </div>
            </div>
          </div>

          <!--Appointment Request Detail Popup-->
          <div
            class="fixed inset-0 flex items-center justify-center bg-semi-transparent-black appointmentRequestDetail hidden">
            <div class="bg-white w-[680px]  p-4 rounded-lg">
              <div class="flex items-center justify-between">
                <p class="font-semibold text-sm">Appointment Details</p>
                <div class="flex items-center gap-4">
                  <button class="cursor-pointer">
                    <span class="material-symbols-outlined !text-xl">share</span>
                  </button>
                  <button class="close-popup cursor-pointer" data-popup="appointmentRequestDetail">
                    <span class="material-symbols-outlined !text-2xl">close</span>
                  </button>
                </div>
              </div>
              <hr class="mt-4 text-blue-haze">
              <div class="mt-4 bg-pale-azure p-4 w-[648px] h-[196px] flex items-center gap-4">
                <div class="flex flex-col ">
                  <img src="/static/images/patient-7.svg" alt="">
                  <p class="font-normal text-sm text-center pt-4">Dolly Paris</p>
                </div>
                <div class="flex flex-col gap-4 w-[180px]">
                  <div class="flex  gap-2">
                    <div class="border border-blue-haze rounded-lg w-6 h-6 flex items-center justify-center">
                      <span class="material-symbols-outlined text-dodger-blue !text-lg">
                        female
                      </span>
                    </div>
                    <div class="flex flex-col gap-2">
                      <p class="font-normal text-xs text-spanish-gray">Gender</p>
                      <p class="font-normal text-sm">Female</p>
                    </div>
                  </div>

                  <div class="flex  gap-2">
                    <div class="border border-blue-haze rounded-lg w-6 h-6 flex items-center justify-center">
                      <span class="material-symbols-outlined text-dodger-blue !text-lg">
                        hourglass
                      </span>
                    </div>
                    <div class="flex flex-col gap-2">
                      <p class="font-normal text-xs text-spanish-gray">Age</p>
                      <p class="font-normal text-sm">25</p>
                    </div>
                  </div>

                  <div class="flex  gap-2">
                    <div class="border border-blue-haze rounded-lg w-6 h-6 flex items-center justify-center">
                      <img src="/static/images/visit-icon.svg" alt="">
                    </div>
                    <div class="flex flex-col gap-2">
                      <p class="font-normal text-xs text-spanish-gray">Visit Type</p>
                      <p class="font-normal text-sm">Hospital Visit</p>
                    </div>
                  </div>
                </div>
                <div class="flex flex-col gap-4">
                  <div class="flex  gap-2">
                    <div class="border border-blue-haze rounded-lg w-6 h-6 flex items-center justify-center">
                      <span class="material-symbols-outlined text-dodger-blue !text-lg">
                        call
                      </span>
                    </div>
                    <div class="flex flex-col gap-2">
                      <p class="font-normal text-xs text-spanish-gray">Phone no.</p>
                      <p class="font-normal text-sm">+91 7737533456</p>
                    </div>
                  </div>

                  <div class="flex  gap-2">
                    <div class="border border-blue-haze rounded-lg w-6 h-6 flex items-center justify-center">
                      <span class="material-symbols-outlined text-dodger-blue !text-lg">
                        calendar_today
                      </span>
                    </div>
                    <div class="flex flex-col gap-2">
                      <p class="font-normal text-xs text-spanish-gray">Appointment date</p>
                      <p class="font-normal text-sm">22/07/2025,12:30 PM</p>
                    </div>
                  </div>

                  <div class="flex  gap-2">
                    <div class="border border-blue-haze rounded-lg w-6 h-6 flex items-center justify-center">
                      <img src="/static/images/address-icon.svg" alt="">
                    </div>
                    <div class="flex flex-col gap-2">
                      <p class="font-normal text-xs text-spanish-gray">Address</p>
                      <p class="font-normal text-sm">123 maple los Angeles, CA 90001 usa</p>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="mt-4 text-blue-haze">
              <div class="pt-4">
                <p class="font-semibold text-sm">Medical Information</p>
                <div class="pt-4 flex gap-4">
                  <div class="flex gap-2">
                    <div class="border border-blue-haze rounded-lg w-6 h-6 flex items-center justify-center">
                      <span class="material-symbols-outlined text-dodger-blue !text-lg">
                        medical_services
                      </span>
                    </div>
                    <div class="flex flex-col gap-2">
                      <p class="font-normal text-xs text-spanish-gray whitespace-nowrap">Medical Requirement</p>
                      <p class="font-normal text-sm">Kidney Stone</p>
                    </div>
                  </div>

                  <div class="flex gap-2">
                    <div class="border border-blue-haze rounded-lg w-6 h-6 flex items-center justify-center">
                      <span class="material-symbols-outlined text-dodger-blue !text-lg p-2">
                        details
                      </span>
                    </div>
                    <div class="flex flex-col gap-2">
                      <p class="font-normal text-xs text-spanish-gray">Details</p>
                      <p class="font-normal text-sm">Severe lower back pain, burning while urinating, and suspected
                        kidney stone. History of recurrence</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="enquiredDetail">
                <div class="flex flex-col mt-4 py-4 gap-4">
                  <div class=" flex justify-center items-center gap-1">
                    <div class="w-2 h-2 bg-dodger-blue rounded-full"></div>
                    <div class="w-[138px] h-0.5 flex">
                      <div class="w-1/2 h-full bg-dodger-blue"></div>
                      <div class="w-1/2 h-full bg-blue-haze"></div>
                    </div>
                    <div class="w-2 h-2 bg-blue-haze rounded-full"></div>
                    <div class="w-[138px] h-0.5 bg-blue-haze"></div>
                    <div class="w-2 h-2 bg-blue-haze rounded-full"></div>
                    <div class="w-[138px] h-0.5 bg-blue-haze"></div>
                    <div class="w-2 h-2 bg-blue-haze rounded-full"></div>
                  </div>
                  <div class="flex items-center justify-between mx-10">
                    <p class="pl-6  font-normal text-sm">Enquiry</p>
                    <p class="pl-2 text-spanish-gray font-normal text-sm">Appointment</p>
                    <p class="text-spanish-gray font-normal text-sm">Completed</p>
                    <p class="text-spanish-gray font-normal text-sm">Cancel/Expired</p>
                  </div>
                </div>
                <div class="pt-4 flex flex-col gap-2">
                  <div class="flex justify-between items-center">
                    <p class="font-normal text-sm">Order ID</p>
                    <p class="font-normal text-sm">Budget</p>
                  </div>
                  <div class="flex justify-between items-center">
                    <p class="font-normal text-sm text-blue-gray">Order #R32512</p>
                    <p class="text-dodger-blue font-normal text-sm">&#8377;500</p>
                  </div>
                </div>
                <div class="pt-4 flex justify-center items-center gap-2 mb-2">
                  <button
                    class="bg-dodger-blue text-white rounded-lg w-[180px] h-10 px-4 py-2 cursor-pointer accept-button">Accept</button>
                  <button
                    class="border border-strong-red text-strong-red rounded-lg w-[180px] h-10 px-4 py-2 cursor-pointer close-popup"
                    data-popup="appointmentRequestDetail">Reject</button>
                </div>
              </div>

              <!--When Clicked on Accept Button-->
              <div class="acceptedDetail hidden">
                <div class="flex flex-col mt-4 py-4 gap-4">
                  <div class=" flex justify-center items-center gap-1">
                    <div class="w-2 h-2 bg-dodger-blue rounded-full"></div>
                    <div class="w-[138px] h-0.5 bg-dodger-blue"></div>
                    <div class="w-2 h-2 bg-dodger-blue rounded-full"></div>
                    <div class="w-[138px] h-0.5 bg-dodger-blue"></div>
                    <div class="w-2 h-2 bg-blue-haze rounded-full"></div>
                    <div class="w-[138px] h-0.5 bg-blue-haze"></div>
                    <div class="w-2 h-2 bg-blue-haze rounded-full"></div>
                  </div>
                  <div class="flex items-center justify-between mx-10">
                    <p class="pl-6  font-normal text-sm">Enquiry</p>
                    <p class="pl-2  font-normal text-sm">Appointment</p>
                    <p class="text-spanish-gray font-normal text-sm">Completed</p>
                    <p class="text-spanish-gray font-normal text-sm">Cancel/Expired</p>
                  </div>
                </div>
                <div class="pt-4 flex flex-col gap-2">
                  <div class="flex justify-between items-center">
                    <p class="font-normal text-sm">Order ID</p>
                    <p class="font-normal text-sm">6 km</p>
                  </div>
                  <div class="flex justify-between items-center">
                    <p class="font-normal text-sm text-blue-gray">Order #R32512</p>
                    <p class=" font-normal text-sm">20 mins away</p>
                  </div>
                </div>
                <div class="pt-4 flex justify-between items-center">
                  <div class="flex gap-2 items-center">
                    <p class="font-normal text-sm">No Show</p>
                    <input type="checkbox" class="w-4 h-4 border-2">
                  </div>
                  <p class="font-normal text-sm text-spanish-gray">Patient didn’t show up</p>
                </div>
                <div class="pt-4 flex justify-between items-center">
                  <div class="flex gap-2 items-center">
                    <p class="font-normal text-sm">Home Visit</p>
                    <p class="font-normal text-sm text-dodger-blue">&#8377;500</p>
                  </div>
                  <div
                    class="border border-dodger-blue bg-pale-azure px-2.5 py-1 rounded-lg flex items-center gap-2 cursor-pointer">
                    <p class="font-normal text-sm">Proforma Bill</p>
                    <span class="material-symbols-outlined !text-lg">visibility</span>
                  </div>
                </div>
                <div class="pt-4 flex justify-center items-center gap-2 mb-2">
                  <button
                    class="bg-dodger-blue text-white rounded-lg w-[180px] h-10 px-4 py-2 cursor-pointer complete-btn">Complete</button>
                  <button
                    class="border border-strong-red text-strong-red rounded-lg w-[180px] h-10 px-4 py-2 cursor-pointer text-nowrap popup-btn"
                    data-popup="cancelAppointmentPopup">Cancel Appointment</button>
                </div>
                <div
                  class="cancelAppointmentPopup fixed inset-0 flex items-center justify-center hidden bg-semi-transparent-black">
                  <div
                    class="bg-white w-[452px] h-[213px] p-5 rounded-[10px] flex flex-col gap-4 relative items-center">
                    <button class="close-popup absolute right-4 top-8 cursor-pointer"
                      data-popup="cancelAppointmentPopup">
                      <span class="material-symbols-outlined">close</span>
                    </button>
                    <div class="w-15 h-15 rounded-full bg-rosewater p-3 flex items-center justify-center">
                      <img src="/static/images/appointment.svg" alt="">
                    </div>
                    <p class="font-normal text-base">Are you sure you want to cancel this appointment ?</p>
                    <div
                      class="bg-rosewater text-error w-[198px] h-12 rounded-md p-2.5 cursor-pointer cancelAppointmentBtn flex items-center justify-center font-semibold">
                      Cancel Appointment</div>
                  </div>
                </div>
              </div>

              <!--Clicked on Complete button in accepted details popup-->
              <div class="completeDetail hidden">
                <div class="flex flex-col mt-4 py-4 gap-4">
                  <div class=" flex justify-center items-center gap-1">
                    <div class="w-2 h-2 bg-dodger-blue rounded-full"></div>
                    <div class="w-[138px] h-0.5 bg-dodger-blue"></div>
                    <div class="w-2 h-2 bg-dodger-blue rounded-full"></div>
                    <div class="w-[138px] h-0.5 bg-dodger-blue"></div>
                    <div class="w-2 h-2 bg-blue-haze rounded-full"></div>
                    <div class="w-[138px] h-0.5 bg-blue-haze"></div>
                    <div class="w-2 h-2 bg-blue-haze rounded-full"></div>
                  </div>
                  <div class="flex items-center justify-between mx-10">
                    <p class="pl-6  font-normal text-sm">Enquiry</p>
                    <p class="pl-2  font-normal text-sm">Appointment</p>
                    <p class="text-spanish-gray font-normal text-sm">Completed</p>
                    <p class="text-spanish-gray font-normal text-sm">Cancel/Expired</p>
                  </div>
                </div>
                <div class="pt-4 flex flex-col gap-2">
                  <div class="flex justify-between items-center">
                    <p class="font-normal text-sm">Order ID</p>
                    <p class="font-normal text-sm">6 km</p>
                  </div>
                  <div class="flex justify-between items-center">
                    <p class="font-normal text-sm text-blue-gray">Order #R32512</p>
                    <p class=" font-normal text-sm">20 mins away</p>
                  </div>
                </div>
                <div class="pt-4 flex justify-between items-center">
                  <div class="flex gap-2 items-center">
                    <p class="font-normal text-sm">No Show</p>
                    <input type="checkbox" class="w-4 h-4 border-2" checked>
                  </div>
                  <p class="font-normal text-sm  text-strong-red">Patient didn’t show up</p>
                </div>
                <div class="pt-4 flex justify-between items-center">
                  <div class="flex gap-2 items-center">
                    <p class="font-normal text-sm">Home Visit</p>
                    <p class="font-normal text-sm text-dodger-blue">&#8377;500</p>
                  </div>
                  <div
                    class="border border-dodger-blue bg-pale-azure px-2.5 py-1 rounded-lg flex items-center gap-2 cursor-pointer">
                    <p class="font-normal text-sm">Proforma Bill</p>
                    <span class="material-symbols-outlined !text-lg">visibility</span>
                  </div>
                </div>
                <div class="pt-4 flex justify-center items-center gap-2 mb-2">
                  <button
                    class="bg-dodger-blue text-white rounded-lg w-[180px] h-10 px-4 py-2 cursor-pointer save-btn">Save</button>
                  <button
                    class="border border-strong-red text-strong-red rounded-lg w-[180px] h-10 px-4 py-2 cursor-pointer close-popup text-nowrap"
                    data-popup="appointmentRequestDetail">Cancel</button>
                </div>
              </div>

              <!--Clicked on Save btn after completing-->
              <div class="missingDetails hidden">
                <div class="flex flex-col mt-4 py-4 gap-4">
                  <div class=" flex justify-center items-center gap-1">
                    <div class="w-2 h-2 bg-dodger-blue rounded-full"></div>
                    <div class="w-[192px] h-0.5 bg-dodger-blue"></div>
                    <div class="w-2 h-2 bg-dodger-blue rounded-full"></div>
                    <div class="w-[192px] h-0.5 bg-dodger-blue"></div>
                    <div class="w-2 h-2 bg-dodger-blue rounded-full"></div>
                  </div>
                  <div class="flex items-center justify-between mx-20">
                    <p class="font-normal text-sm">Enquiry</p>
                    <p class="font-normal text-sm">Appointment</p>
                    <p class="font-normal text-sm">No Show</p>
                  </div>
                </div>
                <div class="pt-4 flex flex-col gap-2">
                  <div class="flex justify-between items-center">
                    <p class="font-normal text-sm">Order ID</p>
                    <p class="font-normal text-sm">Missing Reason</p>
                  </div>
                  <div class="flex justify-between items-center">
                    <p class="font-normal text-sm text-blue-gray">Order #R32512</p>
                    <p class="font-normal text-sm  text-strong-red">Patient didn’t show up</p>
                  </div>
                </div>
              </div>

              <!--Clicked on cancel Appointment-->
              <div class="cancelDetails hidden">
                <div class="flex flex-col mt-4 py-4 gap-4">
                  <div class=" flex justify-center items-center gap-1">
                    <div class="w-2 h-2 bg-dodger-blue rounded-full"></div>
                    <div class="w-[192px] h-0.5 bg-dodger-blue"></div>
                    <div class="w-2 h-2 bg-dodger-blue rounded-full"></div>
                    <div class="w-[192px] h-0.5 bg-dodger-blue"></div>
                    <div class="w-2 h-2 bg-dodger-blue rounded-full"></div>
                  </div>
                  <div class="flex items-center justify-between mx-20">
                    <p class="font-normal text-sm">Enquiry</p>
                    <p class="font-normal text-sm">Appointment</p>
                    <p class="font-normal text-sm">Cancelled</p>
                  </div>
                </div>
                <div class="pt-4 flex flex-col gap-2">
                  <div class="flex justify-between items-center">
                    <p class="font-normal text-sm">Order ID</p>
                    <p class="font-normal text-sm">Cancelled by</p>
                  </div>
                  <div class="flex justify-between items-center">
                    <p class="font-normal text-sm text-blue-gray">Order #R32512</p>
                    <p class="font-normal text-sm  text-strong-red">Doctor</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
{% endblock %}