{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Dashboard{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'images/logo.svg' %}" >
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400..700,0..1,0" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    <!-- add other head includes -->
</head>
<body>
<main class="h-screen w-full">
    <!-- Header -->
    {% include 'dashboard/header.html' %}
    <div class="h-[calc(100vh-72px)] w-full flex">
        <!-- Sidebar -->
        {% include 'dashboard/sidebar.html' %}
        <!-- Main Content Area -->
        <div class="flex-1 overflow-y-auto scroll p-4">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</main>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
<script src="{% static 'js/sidebar.js' %}"></script>
<script src="{% static 'js/common.js' %}"></script>
<script src="{% static 'js/home.js' %}"></script>
<script src="{% static 'js/dropdown.js' %}"></script>
{% block extra_js %} 
{% endblock %}    
</html>
