{% load static %}
                    <div class="services-without-subscription flex flex-col gap-5 hidden">
                        <!--Hospital Image and Admin Details-->
                        <div class="flex flex-col lg:flex-row gap-3 w-full lg:h-[494px]">
                            <div class="relative flex-1">
                                <img src="/static/images/lab-bg.png" alt="Lab"
                                    class="w-full h-full object-cover rounded-lg">
                                <div class="absolute inset-0 flex items-end">
                                    <div
                                        class=" bg-semi-transparent-black backdrop-blur-sm w-full text-white px-6 py-3 rounded-lg">
                                        <div class="flex flex-col gap-2">
                                            <div class="flex items-center gap-2">
                                                <span class="material-symbols-outlined">home</span>
                                                <p class="text-base font-semibold">Lifecare Multispeciality Hospital</p>
                                            </div>
                                            <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between">
                                                <p class="font-semibold text-sm">221/A, 2nd Floor, Shanti Nagar Road,
                                                    Sector 10, Andheri East, <br> Mumbai, Maharashtra – 400093
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="w-full lg:max-w-[448px] h-full rounded-lg overflow-hidden border-2 border-[#E2E8F0] shadow-16">
                                <div
                                    class="h-[120px] sm:h-[136px] bg-dodger-blue relative flex flex-col gap-3 px-7 py-6">
                                    <span class="text-sm sm:text-base font-bold text-white">Subscription Details</span>
                                    <span class="text-[30px] sm:text-[35px] font-bold text-white">
                                        ₹999 <span class="text-sm sm:text-base font-bold text-white">/month</span>
                                    </span>
                                    <div
                                        class="absolute right-5 top-4 bg-premium-yellow px-5 py-0.5 text-xs sm:text-sm font-bold text-black rounded-full">
                                        PREMIUM
                                    </div>
                                </div>
                                <div>
                                    <ul class="px-4 py-4 sm:py-5 space-y-6 sm:space-y-7">
                                        <li>
                                            <div class="flex items-start justify-between gap-3">
                                                <div class="flex items-start gap-3">
                                                    <div
                                                        class="w-10 h-10 rounded-[10px] bg-premium-light-blue shrink-0 flex items-center justify-center">
                                                        <img src="/static/images/subscription-1.svg"
                                                            alt="subscription-1">
                                                    </div>
                                                    <div class="flex flex-col gap-1">
                                                        <span
                                                            class="text-sm sm:text-base font-bold text-black">High-value
                                                            leads</span>
                                                        <p class="text-xs sm:text-sm font-normal text-foggy-silver">
                                                            Connect with premium prospects ready to engage</p>
                                                    </div>
                                                </div>
                                                <span class="material-symbols-outlined text-light-green">
                                                    check
                                                </span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="flex items-start justify-between gap-3">
                                                <div class="flex items-start gap-3">
                                                    <div
                                                        class="w-10 h-10 rounded-[10px] bg-premium-light-blue shrink-0 flex items-center justify-center">
                                                        <img src="/static/images/subscription-2.svg"
                                                            alt="subscription-2">
                                                    </div>
                                                    <div class="flex flex-col gap-1">
                                                        <span class="text-sm sm:text-base font-bold text-black">Fewer
                                                            but richer bids</span>
                                                        <p class="text-xs sm:text-sm font-normal text-foggy-silver">
                                                            Quality over quantity with higher conversion rates</p>
                                                    </div>
                                                </div>
                                                <span class="material-symbols-outlined text-light-green">
                                                    check
                                                </span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="flex items-start justify-between gap-3">
                                                <div class="flex items-start gap-3">
                                                    <div
                                                        class="w-10 h-10 rounded-[10px] bg-premium-light-blue shrink-0 flex items-center justify-center">
                                                        <img src="/static/images/subscription-3.svg"
                                                            alt="subscription-3">
                                                    </div>
                                                    <div class="flex flex-col gap-1">
                                                        <span
                                                            class="text-sm sm:text-base font-bold text-black">Hospitals
                                                            gain in efficiency</span>
                                                        <p class="text-xs sm:text-sm font-normal text-foggy-silver">
                                                            Streamlined processes for healthcare institutions</p>
                                                    </div>
                                                </div>
                                                <span class="material-symbols-outlined text-light-green">
                                                    check
                                                </span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="px-4 py-2">
                                    <button
                                        class="w-full bg-primary-blue py-3 text-white text-xs sm:text-sm font-semibold rounded-lg cursor-pointer">
                                        Get Started Now
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="w-full rounded-lg shadow-17 py-4 px-6 flex flex-col gap-5">
                            <div class="tabs tabs-inner w-[200px] sm:w-[350px]">
                                <div class="flex flex-nowrap items-center justify-between py-0.5 text-sm px-2 relative">
                                    <div class="tab-indicator border border-blue-tint"></div>
                                    <button class="tab-btn active shrink-0" data-type="test-packages">Test &
                                        Packages</button>
                                    <button class="tab-btn shrink-0" data-type="collection-mode">Collection
                                        Mode</button>
                                </div>
                            </div>
                            <!-- Test & Packages Content -->
                            <div class="tab-content tabs-inner-content" data-type="test-packages">
                                <div class="bg-[#F9FAFB] rounded-[10px] w-full p-3 space-y-3">
                                    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
                                        <div
                                            class="service-card bg-white border border-frost-white rounded-md shadow-12 h-[120px] w-full flex flex-col items-start px-4 py-3 relative">
                                            <div
                                                class="flex items-start justify-between w-full border-b border-[#E8E8E8] pb-3">
                                                <div class="flex flex-col gap-2">
                                                    <h3 class="text-sm sm:text-base font-semibold text-black">Pathology
                                                    </h3>
                                                    <p class="text-xs sm:text-sm font-normal text-black">Thyroid Profile
                                                        (Clinic Walk-in)</p>
                                                </div>
                                                <span
                                                    class="material-symbols-outlined cursor-pointer more-btn">more_vert</span>
                                                <!-- Dropdown -->
                                                <div
                                                    class="more-dropdown hidden absolute right-4 top-10 bg-white rounded-2xl w-40 z-20 px-4 shadow-12">
                                                    <button
                                                        class="open-popup w-full text-left py-2.5 text-ebony text-sm sm:text-base font-semibold flex items-center gap-4 border-b border-light-grayish-blue cursor-pointer"
                                                        data-target="add-service">
                                                        <img src="/static/images/edit-icon.svg" alt="edit">
                                                        Edit
                                                    </button>
                                                    <button
                                                        class="delete-btn w-full text-left py-2.5 text-sm sm:text-base text-ebony font-semibold flex items-center gap-4 cursor-pointer">
                                                        <img src="/static/images/delete-icon.svg" alt="delete">
                                                        Delete
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="flex items-center justify-between w-full py-2">
                                                <p class="text-xs sm:text-sm font-normal text-black">Same Day</p>
                                                <span
                                                    class="text-base sm:text-lg text-primary-blue font-bold">₹400,00</span>
                                            </div>
                                        </div>
                                        <div
                                            class="service-card bg-white border border-frost-white rounded-md shadow-12 h-[120px] w-full flex flex-col items-start px-4 py-3 relative">
                                            <div
                                                class="flex items-start justify-between w-full border-b border-[#E8E8E8] pb-3">
                                                <div class="flex flex-col gap-2">
                                                    <h3 class="text-sm sm:text-base font-semibold text-black">Pathology
                                                    </h3>
                                                    <p class="text-xs sm:text-sm font-normal text-black">Thyroid Profile
                                                        (Clinic Walk-in)</p>
                                                </div>
                                                <span
                                                    class="material-symbols-outlined cursor-pointer more-btn">more_vert</span>
                                                <!-- Dropdown -->
                                                <div
                                                    class="more-dropdown hidden absolute right-4 top-10 bg-white rounded-2xl w-40 z-20 px-4 shadow-12">
                                                    <button
                                                        class="open-popup w-full text-left py-2.5 text-ebony text-sm sm:text-base font-semibold flex items-center gap-4 border-b border-light-grayish-blue cursor-pointer"
                                                        data-target="add-service">
                                                        <img src="/static/images/edit-icon.svg" alt="edit">
                                                        Edit
                                                    </button>
                                                    <button
                                                        class="delete-btn w-full text-left py-2.5 text-sm sm:text-base text-ebony font-semibold flex items-center gap-4 cursor-pointer">
                                                        <img src="/static/images/delete-icon.svg" alt="delete">
                                                        Delete
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="flex items-center justify-between w-full py-2">
                                                <p class="text-xs sm:text-sm font-normal text-black">Same Day</p>
                                                <span
                                                    class="text-base sm:text-lg text-primary-blue font-bold">₹400,00</span>
                                            </div>
                                        </div>
                                        <div
                                            class="service-card bg-white border border-frost-white rounded-md shadow-12 h-[120px] w-full flex flex-col items-start px-4 py-3 relative">
                                            <div
                                                class="flex items-start justify-between w-full border-b border-[#E8E8E8] pb-3">
                                                <div class="flex flex-col gap-2">
                                                    <h3 class="text-sm sm:text-base font-semibold text-black">Pathology
                                                    </h3>
                                                    <p class="text-xs sm:text-sm font-normal text-black">Thyroid Profile
                                                        (Clinic Walk-in)</p>
                                                </div>
                                                <span
                                                    class="material-symbols-outlined cursor-pointer more-btn">more_vert</span>
                                                <!-- Dropdown -->
                                                <div
                                                    class="more-dropdown hidden absolute right-4 top-10 bg-white rounded-2xl w-40 z-20 px-4 shadow-12">
                                                    <button
                                                        class="open-popup w-full text-left py-2.5 text-ebony text-sm sm:text-base font-semibold flex items-center gap-4 border-b border-light-grayish-blue cursor-pointer"
                                                        data-target="add-service">
                                                        <img src="/static/images/edit-icon.svg" alt="edit">
                                                        Edit
                                                    </button>
                                                    <button
                                                        class="delete-btn w-full text-left py-2.5 text-sm sm:text-base text-ebony font-semibold flex items-center gap-4 cursor-pointer">
                                                        <img src="/static/images/delete-icon.svg" alt="delete">
                                                        Delete
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="flex items-center justify-between w-full py-2">
                                                <p class="text-xs sm:text-sm font-normal text-black">Same Day</p>
                                                <span
                                                    class="text-base sm:text-lg text-primary-blue font-bold">₹400,00</span>
                                            </div>
                                        </div>
                                        <div
                                            class="service-card bg-white border border-frost-white rounded-md shadow-12 h-[120px] w-full flex flex-col items-start px-4 py-3 relative">
                                            <div
                                                class="flex items-start justify-between w-full border-b border-[#E8E8E8] pb-3">
                                                <div class="flex flex-col gap-2">
                                                    <h3 class="text-sm sm:text-base font-semibold text-black">Pathology
                                                    </h3>
                                                    <p class="text-xs sm:text-sm font-normal text-black">Thyroid Profile
                                                        (Clinic Walk-in)</p>
                                                </div>
                                                <span
                                                    class="material-symbols-outlined cursor-pointer more-btn">more_vert</span>
                                                <!-- Dropdown -->
                                                <div
                                                    class="more-dropdown hidden absolute right-4 top-10 bg-white rounded-2xl w-40 z-20 px-4 shadow-12">
                                                    <button
                                                        class="open-popup w-full text-left py-2.5 text-ebony text-sm sm:text-base font-semibold flex items-center gap-4 border-b border-light-grayish-blue cursor-pointer"
                                                        data-target="add-service">
                                                        <img src="/static/images/edit-icon.svg" alt="edit">
                                                        Edit
                                                    </button>
                                                    <button
                                                        class="delete-btn w-full text-left py-2.5 text-sm sm:text-base text-ebony font-semibold flex items-center gap-4 cursor-pointer">
                                                        <img src="/static/images/delete-icon.svg" alt="delete">
                                                        Delete
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="flex items-center justify-between w-full py-2">
                                                <p class="text-xs sm:text-sm font-normal text-black">Same Day</p>
                                                <span
                                                    class="text-base sm:text-lg text-primary-blue font-bold">₹400,00</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex items-center justify-end">
                                        <button
                                            class="w-14 h-14 bg-primary-blue rounded-full flex items-center justify-center cursor-pointer">
                                            <span class="material-symbols-outlined text-white">add_2</span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <!-- Collection Mode Content -->
                            <div class="tab-content tabs-inner-content hidden" data-type="collection-mode">
                                <div class="bg-[#F9FAFB] rounded-[10px] w-full p-3 space-y-3">
                                    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
                                        <div
                                            class="service-card bg-white border border-frost-white rounded-md shadow-12 h-[120px] w-full flex flex-col items-start px-4 py-3 relative">
                                            <div
                                                class="flex items-start justify-between w-full border-b border-[#E8E8E8] pb-3">
                                                <div class="flex flex-col gap-2">
                                                    <h3 class="text-sm sm:text-base font-semibold text-black">Walk-in
                                                        Only</h3>
                                                    <p class="text-xs sm:text-sm font-normal text-black">Within 5 Km</p>
                                                </div>
                                                <span
                                                    class="material-symbols-outlined cursor-pointer more-btn">more_vert</span>
                                                <!-- Dropdown -->
                                                <div
                                                    class="more-dropdown hidden absolute right-4 top-10 bg-white rounded-2xl w-40 z-20 px-4 shadow-12">
                                                    <button
                                                        class="open-popup w-full text-left py-2.5 text-ebony text-sm sm:text-base font-semibold flex items-center gap-4 border-b border-light-grayish-blue cursor-pointer"
                                                        data-target="add-service">
                                                        <img src="/static/images/edit-icon.svg" alt="edit">
                                                        Edit
                                                    </button>
                                                    <button
                                                        class="delete-btn w-full text-left py-2.5 text-sm sm:text-base text-ebony font-semibold flex items-center gap-4 cursor-pointer">
                                                        <img src="/static/images/delete-icon.svg" alt="delete">
                                                        Delete
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="flex items-center w-full py-2">
                                                <span
                                                    class="text-base sm:text-lg text-primary-blue font-bold">₹400,00</span>
                                            </div>
                                        </div>
                                        <div
                                            class="service-card bg-white border border-frost-white rounded-md shadow-12 h-[120px] w-full flex flex-col items-start px-4 py-3 relative">
                                            <div
                                                class="flex items-start justify-between w-full border-b border-[#E8E8E8] pb-3">
                                                <div class="flex flex-col gap-2">
                                                    <h3 class="text-sm sm:text-base font-semibold text-black">Walk-in
                                                        Only</h3>
                                                    <p class="text-xs sm:text-sm font-normal text-black">Within 5 Km</p>
                                                </div>
                                                <span
                                                    class="material-symbols-outlined cursor-pointer more-btn">more_vert</span>
                                                <!-- Dropdown -->
                                                <div
                                                    class="more-dropdown hidden absolute right-4 top-10 bg-white rounded-2xl w-40 z-20 px-4 shadow-12">
                                                    <button
                                                        class="open-popup w-full text-left py-2.5 text-ebony text-sm sm:text-base font-semibold flex items-center gap-4 border-b border-light-grayish-blue cursor-pointer"
                                                        data-target="add-service">
                                                        <img src="/static/images/edit-icon.svg" alt="edit">
                                                        Edit
                                                    </button>
                                                    <button
                                                        class="delete-btn w-full text-left py-2.5 text-sm sm:text-base text-ebony font-semibold flex items-center gap-4 cursor-pointer">
                                                        <img src="/static/images/delete-icon.svg" alt="delete">
                                                        Delete
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="flex items-center w-full py-2">
                                                <span
                                                    class="text-base sm:text-lg text-primary-blue font-bold">₹400,00</span>
                                            </div>
                                        </div>
                                        <div
                                            class="service-card bg-white border border-frost-white rounded-md shadow-12 h-[120px] w-full flex flex-col items-start px-4 py-3 relative">
                                            <div
                                                class="flex items-start justify-between w-full border-b border-[#E8E8E8] pb-3">
                                                <div class="flex flex-col gap-2">
                                                    <h3 class="text-sm sm:text-base font-semibold text-black">Walk-in
                                                        Only</h3>
                                                    <p class="text-xs sm:text-sm font-normal text-black">Within 5 Km</p>
                                                </div>
                                                <span
                                                    class="material-symbols-outlined cursor-pointer more-btn">more_vert</span>
                                                <!-- Dropdown -->
                                                <div
                                                    class="more-dropdown hidden absolute right-4 top-10 bg-white rounded-2xl w-40 z-20 px-4 shadow-12">
                                                    <button
                                                        class="open-popup w-full text-left py-2.5 text-ebony text-sm sm:text-base font-semibold flex items-center gap-4 border-b border-light-grayish-blue cursor-pointer"
                                                        data-target="add-service">
                                                        <img src="/static/images/edit-icon.svg" alt="edit">
                                                        Edit
                                                    </button>
                                                    <button
                                                        class="delete-btn w-full text-left py-2.5 text-sm sm:text-base text-ebony font-semibold flex items-center gap-4 cursor-pointer">
                                                        <img src="/static/images/delete-icon.svg" alt="delete">
                                                        Delete
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="flex items-center w-full py-2">
                                                <span
                                                    class="text-base sm:text-lg text-primary-blue font-bold">₹400,00</span>
                                            </div>
                                        </div>
                                        <div
                                            class="service-card bg-white border border-frost-white rounded-md shadow-12 h-[120px] w-full flex flex-col items-start px-4 py-3 relative">
                                            <div
                                                class="flex items-start justify-between w-full border-b border-[#E8E8E8] pb-3">
                                                <div class="flex flex-col gap-2">
                                                    <h3 class="text-sm sm:text-base font-semibold text-black">Walk-in
                                                        Only</h3>
                                                    <p class="text-xs sm:text-sm font-normal text-black">Within 5 Km</p>
                                                </div>
                                                <span
                                                    class="material-symbols-outlined cursor-pointer more-btn">more_vert</span>
                                                <!-- Dropdown -->
                                                <div
                                                    class="more-dropdown hidden absolute right-4 top-10 bg-white rounded-2xl w-40 z-20 px-4 shadow-12">
                                                    <button
                                                        class="open-popup w-full text-left py-2.5 text-ebony text-sm sm:text-base font-semibold flex items-center gap-4 border-b border-light-grayish-blue cursor-pointer"
                                                        data-target="add-service">
                                                        <img src="/static/images/edit-icon.svg" alt="edit">
                                                        Edit
                                                    </button>
                                                    <button
                                                        class="delete-btn w-full text-left py-2.5 text-sm sm:text-base text-ebony font-semibold flex items-center gap-4 cursor-pointer">
                                                        <img src="/static/images/delete-icon.svg" alt="delete">
                                                        Delete
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="flex items-center w-full py-2">
                                                <span
                                                    class="text-base sm:text-lg text-primary-blue font-bold">₹400,00</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex items-center justify-end">
                                        <button
                                            class="w-14 h-14 bg-primary-blue rounded-full flex items-center justify-center cursor-pointer">
                                            <span class="material-symbols-outlined text-white">add_2</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>