{% extends 'dashboard/layout.html' %}
{% load static %}
{% block title %}Maps{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.css"
        integrity="sha512-Zcn6bjR/8RZbLEpLIeOwNtzREBAJnUKESxces60Mpoj+2okopSAcSUIUOseddDm0cxnGQzxIR7vJgsLZbdLE3w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <!-- Leaflet Routing Machine CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
{% endblock %}
{% block content %}
    <!-- Main Content -->
    <div class="bg-snow-gray relative transition-all duration-300 text-dark-gray main-content h-full flex-1 flex flex-col gap-8 overflow-y-auto scroll">
        <div class="show-sidebar-toggle hidden absolute top-24 left-0 z-50 h-10 w-10 bg-{{ secondary_bg }} items-center justify-center rounded-r-md cursor-pointer">
            <span class="material-symbols-outlined text-{{ text }} font-bold text-2xl">
            arrow_forward_ios
            </span>
        </div>
        <!-- Map View -->
        <div class="relative map-view mt-4 mx-4 z-0">
            <div id="map" class="rounded-lg" style="height: 82vh;"></div>
            <div class="absolute top-5 z-1000 flex flex-wrap gap-8 ml-14">
            <div class="bg-pale-lavender backdrop-blur-sm shadow-[4px_4px_10px_2px_#00000026] rounded-md flex p-2 px-4">
                <div class="flex items-center gap-2">
                <span class="text-sm font-medium">List View</span>
                <label class="inline-flex items-center cursor-pointer relative">
                    <input type="checkbox" class="sr-only peer view-toggle" checked>
                    <div
                    class="w-11 h-[1.55rem] bg-gray-color peer-focus:outline-none rounded-full peer peer-checked:bg-{{ primary_bg }} transition duration-300">
                    </div>
                    <div
                    class="absolute w-5 h-5 mr-[0.20rem] bg-white rounded-full transition-all duration-300 transform peer-checked:translate-x-5">
                    </div>
                </label>
                <span class="ml-3 text-sm font-medium">Map View</span>
                </div>
            </div>
            <div
                class="bg-pale-lavender backdrop-blur-sm shadow-[4px_4px_10px_2px_#00000026] rounded-md flex flex-wrap">
                <button class="map-search-btn rounded-l-md hover:bg-{{ primary_bg }}">Doctor</button>
                <button class="map-search-btn hover:bg-{{ primary_bg }}">Hospital</button>
                <button class="map-search-btn hover:bg-{{ primary_bg }}">Pharmacy</button>
                <button class="map-search-btn rounded-r-md hover:bg-{{ primary_bg }}">Lab</button>
            </div>
            <div
                class="h-10 bg-pale-lavender backdrop-blur-sm shadow-[4px_4px_10px_2px_#00000026] rounded-md flex relative">
                <span class="material-symbols-outlined absolute left-0 top-2 pl-2 search z-60"> search </span>
                <input type="text" placeholder="Search by name"
                class="w-full pl-10 pr-16 bg-transparent border-none focus:ring-0 focus:outline-none z-50 map-search rounded-md" />
                <span
                class="material-symbols-outlined absolute right-10 top-2 border-l border-{{ border }} pl-1 z-50 bookmark-icon cursor-pointer">
                bookmark </span>
                <span class="material-symbols-outlined absolute right-0 top-2 pr-2 z-50 history-icon cursor-pointer">
                history </span>
                <span
                class="material-symbols-outlined absolute right-0 top-2 pr-2 z-50 close-icon cursor-pointer !hidden">
                close </span>
                <div
                class="absolute -left-2 w-[105%] -top-4 bg-pale-lavender backdrop-blur-sm shadow-[4px_4px_10px_2px_#00000026] mt-1 rounded-md z-0 suggestion">
                </div>
            </div>
            </div>
        </div>
        <!-- List View -->
        <div class="listview">
            <div class="rounded-md bg-white flex flex-col gap-4 p-2 px-4 m-4">
            <div class="list">
                <p class="font-semibold text-xl">Nearby</p>
                <p class="text-jet-black text-sm mt-2">List View - Select or search option to see details </p>
            </div>
            <div class="flex justify-between w-full mt-4">
                <div class="flex items-center gap-2">
                <span class="text-sm font-medium text-jet-black">List View</span>
                <label class="inline-flex items-center cursor-pointer relative">
                    <input type="checkbox" class="sr-only peer view-toggle">
                    <div
                    class="w-11 h-[1.55rem] bg-pale-lavender border border-dark-gray peer-focus:outline-none rounded-full peer peer-checked:bg-{{ primary_bg }} transition duration-300">
                    </div>
                    <div
                    class="absolute w-5 h-5 bg-dark-gray ml-[0.20rem] rounded-full transition-all duration-300 transform peer-checked:translate-x-5">
                    </div>
                </label>
                <span class="text-sm font-medium text-jet-black">Map View</span>
                </div>
                <div class="flex items-center justify-center gap-4">
                <div class="flex flex-col text-dark-gray" id="user-location"
                    data-city="{{ city }}"
                    data-state="{{ state }}"
                    data-address="{{ address }}"
                    data-pincode="{{ pincode }}">
                    <p class="text-xs">Current Location</p>
                    <p class="font-semibold">{{ city }}, {{ state }}</p>
                </div>
                <!-- Filter Dropdown -->
                <div class="relative dropdown">
                    <button class="filterToggle  flex items-center border border-slate-gray rounded-md p-1 w-8 h-8  cursor-pointer">
                    <span class="material-symbols-outlined flex justify-center items-center">tune</span>
                    </button>
                    <div class="filterDropdown mt-2 absolute right-0 bg-white text-dark-gray shadow-[4px_4px_10px_2px_#00000026] hidden rounded-md w-44 z-10">
                    <div class="p-2 pl-4 flex justify-between items-center cursor-pointer hover:bg-{{ primary_bg }} hover:text-white rounded">
                        Custom date<span class="material-symbols-outlined calendar-icon">calendar_today</span>
                    </div>
                    <div class="p-2 pl-4 hover:bg-{{ primary_bg }} hover:text-white rounded cursor-pointer" >1 Week</div>
                    <div class="p-2 pl-4 hover:bg-{{ primary_bg }} hover:text-white rounded cursor-pointer">1 Month</div>
                    <div class="p-2 pl-4 hover:bg-{{ primary_bg }} hover:text-white rounded cursor-pointer">1 Year</div>
                    </div>
                    <div class="datepicker-container hidden px-4 pb-3 absolute  right-43 z-100">
                    <div class="datepicker-inline border border-black rounded-md" inline-datepicker data-date="06/23/2025"></div>
                    </div>
                </div>
                </div>
            </div>
            <div class="flex flex-wrap gap-5 items-center justify-end xl:justify-start w-full">
                <div
                class="w-full xl:w-auto bg-pale-lavender backdrop-blur-sm shadow-[4px_4px_10px_2px_#00000026] rounded-md flex flex-wrap justify-between gap-1">
                <button class="list-search-btn rounded-l-md hover:bg-{{ primary_bg }}" data-type="Doctor">Doctor</button>
                <button class="list-search-btn hover:bg-{{ primary_bg }}" data-type="Hospital">Hospital</button>
                <button class="list-search-btn hover:bg-{{ primary_bg }}" data-type="Pharmacy">Pharmacy</button>
                <button class="list-search-btn hover:bg-{{ primary_bg }}" data-type="Lab">Lab</button>
                <button class="list-saved-btn p-2 px-4 xl:px-6 2xl:px-8 cursor-pointer hover:text-white flex gap-2 items-center hover:bg-{{ primary_bg }} bookmark-icon"data-view="list"><span
                    class="material-symbols-outlined"> bookmark </span>Saved</button>
                <button class="list-saved-btn p-2 px-4 xl:px-6 2xl:px-8 cursor-pointer hover:text-white flex gap-2 items-center rounded-r-md hover:bg-{{ primary_bg }} history-icon" data-view="list"><span
                    class="material-symbols-outlined"> history </span>Recent</button>
                </div>
                <div
                class="h-10 bg-pale-lavender backdrop-blur-sm shadow-[4px_4px_10px_2px_#00000026] rounded-md flex p-2 relative">
                <span class="material-symbols-outlined absolute left-0 top-2 pl-2 z-50"> search </span>
                <input type="text" placeholder="Search"
                    class="w-full pl-8 bg-transparent border-none focus:ring-0 focus:outline-none z-50" />
                </div>
                <div class="dropdown relative">
                    <button class="filterToggle activity-buttons w-full max-w-[114px] p-2 h-[40px] border border-{{ border }} rounded-[10px] text-{{ text }} flex items-center justify-center gap-1 cursor-pointer group hover:bg-{{ primary_bg }} hover:text-white">
                        <span class="material-symbols-outlined text-{{ text }} group-hover:text-white">
                        keyboard_arrow_down
                        </span>
                        <span class="">View</span>
                    </button>
                    <div class="filterDropdown absolute right-0 top-12 bg-white text-dark-gray shadow-[4px_4px_10px_2px_#00000026] hidden rounded-md w-20 z-1000">
                        <div class="p-2 pl-4 cursor-pointer hover:bg-{{ text }} hover:text-white rounded">1 Week</div>
                        <div class="p-2 pl-4 cursor-pointer hover:bg-{{ text }} hover:text-white rounded">2 Week</div>
                        <div class="p-2 pl-4 cursor-pointer hover:bg-{{ text }} hover:text-white rounded">3 Week</div>
                    </div>
                </div>
            </div>
            <div class="flex items-center justify-center h-44 text-jet-black placeholder font-semibold">Select option to see details
            </div>
            <!-- Cards -->
            <div class="overflow-y-auto scroll" style="max-height: 50vh;">
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-5 lg:gap-3 place-items-center cards mb-2">
                </div>
                <div id="pagination" class="flex justify-center space-x-2 mt-6 col-span-full"></div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
<script>
    window.colorData = {
        primary_bg: "{{ primary_bg|escapejs }}",
        text: "{{ text|escapejs }}",
        border: "{{ border|escapejs }}"
    };
</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.js"
    integrity="sha512-BwHfrr4c9kmRkLw6iXFdzcdWV/PGkVgiIyIWLLlTSXzWQzxuSg4DiQUCpauz/EWjgk5TYQqX/kvn9pG1NpYfqg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="{% static 'js/new-maps.js' %}"></script>
{% endblock %}