                    <div class="tab-content cancelled hidden">
                        <!-- === ORDER CARD 1=== -->
                        <div class="order-card popup-btn mb-4 mt-6 rounded-lg shadow-(--box-shadow-5) overflow-hidden"
                            data-popup="order-missed-popup">
                            <!-- Header -->
                            <div class="bg-frost-green p-3 h-[63px]">
                                <p
                                    class="w-fit sm:w-[104px] rounded-[6px] text-[10px] sm:text-xs p-1 font-medium text-electric-purple bg-lavendar-dream mb-1">
                                    Order ID #8942
                                </p>
                                <div
                                    class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-1 text-[10px] sm:text-xs font-regular text-desaturated-blue">
                                    <span class="flex items-center gap-1">
                                        <img src="/static/images/alarm.svg" alt="calendar icon"
                                            class="w-[10px] h-[10px] sm:w-[12px] sm:h-[12px]" />
                                        Today · 9:45 AM
                                    </span>
                                    <span class="flex items-center gap-1">
                                        <img src="/static/images/time.svg" alt="calendar icon"
                                            class="w-[10px] h-[10px] sm:w-[12px] sm:h-[12px]" />
                                        ETA : 20min
                                    </span>
                                </div>
                            </div>
                            <!-- Body -->
                            <div class="bg-white">
                                <!-- MEDICINE LIST -->
                                <div class="flex items-start gap-3 px-4 sm:px-6 py-4 sm:py-5 border-b border-gainsboro">
                                    <img src="/static/images/Medicinebg.svg" alt="calendar icon"
                                        class="w-[32px] h-[32px] sm:w-[37px] sm:h-[37px]" />
                                    <div>
                                        <p class="font-regular text-foggy-silver mb-2 text-[10px] sm:text-xs">Medicines List</p>
                                        <ul class="text-xs sm:text-sm text-dark-grayish-blue font-semibold space-y-1">
                                            <li>• Azithromycin 500mg x 1 strip</li>
                                            <li>• Glucose D Packets x 4</li>
                                            <li>• Multivitamin (2 strip)</li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- CUSTOMER DETAILS -->
                                <div class="flex items-start gap-3 px-4 sm:px-6 py-4 sm:py-5 border-b border-gainsboro">
                                    <img src="/static/images/customer.svg" alt="calendar icon"
                                        class="w-[32px] h-[32px] sm:w-[37px] sm:h-[37px]" />
                                    <div>
                                        <p class="font-regular text-foggy-silver mb-2 text-[10px] sm:text-xs">Customer Details</p>
                                        <p class="text-xs sm:text-sm text-dark-grayish-blue font-semibold">Ahmed R </p>
                                    </div>
                                </div>
                                <!-- BUTTONS -->
                                <div class="flex justify-center px-4 sm:px-6 py-4 sm:py-5">
                                    <button
                                        class="w-full border sm:w-[155px] px-4 py-2 rounded-[8px] text-deep-teal border-dark-cyan text-xs sm:text-sm font-medium">
                                        View Invoice
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- Order missed Popup -->
                        <div
                            class="order-missed-popup popup-overlay fixed inset-0 bg-black/40 hidden items-center justify-center z-50 px-3">
                            <div
                                class="popup-content rounded-[8px] w-[680px] max-h-[90vh] overflow-y-auto relative shadow-xl bg-white p-4 scroll">
                                <!-- Header -->
                                <div class="flex items-center justify-between p-4 border-b border-blue-haze z-10">
                                    <h3 class="text-black font-semibold text-sm">Order Details</h3>
                                    <span
                                        class="close-popup material-symbols-outlined close-icon cursor-pointer text-black text-[13.15px]"
                                        data-popup="order-missed-popup">close</span>
                                </div>
                                <!-- Content -->
                                <div class="space-y-4">
                                    <div class="border border-light-grayish-blue rounded-[12px] p-4 space-y-6">
                                        <!-- Customer Info -->
                                        <div class="flex items-start justify-between">
                                            <div class="flex items-center gap-3 w-full">

                                                <!-- PROFILE IMAGE -->
                                                <img src="/static/images/image_placeholderr.svg"
                                                    class="w-[55px] h-[55px] rounded-full object-cover" alt="User">

                                                <!-- TEXT SECTION -->
                                                <div class="w-full">

                                                    <p class="text-deep-blue text-base font-semibold">Ahmad R</p>
                                                    <p class="text-deep-teal-green text-sm font-semibold mb-1">45 Years,
                                                        Male</p>

                                                    <!-- ROW 1 — Phone + Distance -->
                                                    <div class="flex justify-between w-full">
                                                        <p class="text-ebony font-medium text-sm">Ph no: +91 Male</p>
                                                        <p class="text-black font-medium text-xs">6 km</p>
                                                    </div>

                                                    <!-- ROW 2 — Order ID + ETA -->
                                                    <div class="flex justify-between w-full">
                                                        <p class="text-blue-gray font-regular text-xs">Order ID: 512345
                                                        </p>
                                                        <p class="text-black font-medium text-xs">20 mins away</p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <!-- Action Buttons -->
                                        <div class="flex justify-center gap-3">
                                            <button
                                                class="flex items-center justify-center w-[99px] gap-2 pt-[11px] pb-[11px] rounded-[6px] border border-light-grayish-blue">
                                                <img src="/static/images/directions.svg" alt="calendar icon"
                                                    class="w-[12px] h-[12px] " />
                                                <span class="text-ebony font-regular text-xs">Directions</span>
                                            </button>
                                            <button
                                                class="flex items-center justify-center gap-2 w-[99px] pt-[11px] pb-[11px] rounded-[6px] border border-light-grayish-blue">
                                                <img src="/static/images/call_icon.svg" alt="calendar icon"
                                                    class="w-[12px] h-[12px] " />
                                                <span class="text-ebony font-regular text-xs">Call</span>
                                            </button>
                                            <button
                                                class="flex items-center justify-center gap-2 w-[99px] pt-[11px] pb-[11px] rounded-[6px] border border-light-grayish-blue">
                                                <img src="/static/images/share_icon.svg" alt="calendar icon"
                                                    class="w-[12px] h-[12px] " />
                                                <span class="text-ebony font-regular text-xs">Share</span>
                                            </button>
                                        </div>

                                        <!-- Progress Bar -->
                                        <div class="enquiredDetail">
                                            <div class="flex flex-col mt-4 py-4 gap-4">
                                                <div class=" flex justify-center items-center gap-1">
                                                    <div class="w-2 h-2 bg-deep-teal-green rounded-full"></div>
                                                    <div class="w-[192px] h-0.5 bg-deep-teal-green"></div>
                                                    <div class="w-2 h-2 bg-deep-teal-green rounded-full"></div>
                                                    <div class="w-[192px] h-0.5 bg-deep-teal-green"></div>
                                                    <div class="w-2 h-2 bg-deep-teal-green rounded-full"></div>
                                                </div>
                                                <div class="flex items-center justify-between mx-20">
                                                    <p class="text-ebony font-normal text-sm">Enquiry</p>
                                                    <p class="text-ebony font-normal text-sm">Appointment</p>
                                                    <p class="text-ebony font-normal text-sm">No Show</p>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Medicine Items -->
                                        <div class="space-y-3">
                                            <!-- Item 1 -->
                                            <div class="flex items-start gap-3 border-b border-grayish-gray pb-3">
                                                <div
                                                    class="rounded-lg bg-off-white flex items-center justify-center overflow-hidden">
                                                    <img src="/static/images/medicine.svg" alt="medicine"
                                                        class="h-[92px] w-[92px]" />
                                                </div>
                                                <div class="flex-1">
                                                    <p class="text-ebony font-semibold text-sm mb-1">Shelcal 500mg Strip
                                                        of
                                                        15 Ta...</p>
                                                    <div class="flex items-center gap-2 mb-2">
                                                        <span class="text-sm font-regular text-blue-gray">1x1
                                                            unit</span>
                                                        <span
                                                            class="px-2 py-0.5 rounded-full bg-dark-crimson-red text-white text-[8px]">Prescription
                                                            Needed</span>
                                                        <img src="/static/images/view.svg" alt="visibility icon"
                                                            class="w-[16px] h-[16px]" />
                                                    </div>
                                                    <div class="flex items-center gap-2">
                                                        <span class="text-ebony font-regular text-sm">$20.00</span>
                                                        <span
                                                            class="text-arctic-gray font-regular text-sm line-through">$30.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Item 2 -->
                                            <div class="flex items-start gap-3 border-b border-grayish-gray pb-3">
                                                <div
                                                    class="rounded-lg bg-off-white flex items-center justify-center overflow-hidden">
                                                    <img src="/static/images/medicine.svg" alt="medicine"
                                                        class="h-[92px] w-[92px]" />
                                                </div>
                                                <div class="flex-1">
                                                    <p class="text-ebony font-semibold text-sm mb-1">Shelcal 500mg Strip
                                                        of
                                                        15 Ta...</p>
                                                    <div class="flex items-center gap-2 mb-2">
                                                        <span class="text-sm font-regular text-blue-gray">1x1
                                                            unit</span>
                                                        <span
                                                            class="px-2 py-0.5 rounded-full bg-ocean-green text-white text-[8px]">Prescription
                                                            Needed</span>
                                                        <img src="/static/images/view.svg" alt="visibility icon"
                                                            class="w-[16px] h-[16px]" />

                                                    </div>
                                                    <div class="flex items-center gap-2">
                                                        <span class="text-ebony font-regular text-sm">$20.00</span>
                                                        <span
                                                            class="text-arctic-gray font-regular text-sm line-through">$30.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Item 3 -->
                                            <div class="flex items-start gap-3 border-b border-grayish-gray pb-3">
                                                <div
                                                    class="rounded-lg bg-off-white flex items-center justify-center overflow-hidden">
                                                    <img src="/static/images/medicine.svg" alt="medicine"
                                                        class="h-[92px] w-[92px]" />
                                                </div>
                                                <div class="flex-1">
                                                    <p class="text-ebony font-semibold text-sm mb-1">Shelcal 500mg Strip
                                                        of
                                                        15 Ta...</p>
                                                    <div class="flex items-center gap-2 mb-2">
                                                        <span class="text-sm font-regular text-blue-gray">1x1
                                                            unit</span>
                                                        <span
                                                            class="px-2 py-0.5 rounded-full bg-ocean-green text-white text-[8px]">Prescription
                                                            Needed</span>
                                                        <img src="/static/images/view.svg" alt="visibility icon"
                                                            class="w-[16px] h-[16px]" />
                                                    </div>
                                                    <div class="flex items-center gap-2">
                                                        <span class="text-ebony font-regular text-sm">$20.00</span>
                                                        <span
                                                            class="text-arctic-gray font-regular text-sm line-through">$30.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Total and Invoice -->
                                        <div class="flex items-center justify-center gap-2">
                                            <p class="text-center text-base text-piano-black font-bold">You missed
                                                the Order</p>
                                            <img src="/static/images/missed.svg" alt="missed icon"
                                                class="w-[18px] h-[18px]" />
                                        </div>
                                        <div class="flex items-center justify-between">
                                            <span class="text-ebony font-regular text-sm">Total <span
                                                    class="text-deep-teal-green font-semibold test-sm">₹800</span></span>
                                            <button
                                                class="flex items-center gap-2 h-[30px] p-2 rounded-[8px] border border-deep-teal-green bg-green-teal text-vivid-blue">
                                                <span class="text-sm font-regular text-ebony">View Invoice</span>
                                                <img src="/static/images/view.svg" alt="visibility icon"
                                                    class="w-[16px] h-[16px]" />
                                            </button>
                                        </div>
                                    </div>
                                    <!-- Order Summary -->
                                    <div class="border border-light-grayish-blue rounded-[12px] p-4">
                                        <div class="">
                                            <div class="flex items-center justify-between cursor-pointer">
                                                <span class="text-dark-navy font-semibold text-sm">Order Summary</span>
                                                <span
                                                    class="material-symbols-outlined text-muted-blue">expand_more</span>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Review Summary-->
                                    <div class="border border-light-grayish-blue rounded-[12px] p-4">
                                        <div class="">
                                            <div class="flex items-center justify-between cursor-pointer">
                                                <span class="text-dark-navy font-semibold text-sm">Reviews</span>
                                                <span
                                                    class="material-symbols-outlined text-muted-blue">expand_more</span>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Help Section -->
                                    <div class="border border-light-grayish-blue rounded-[12px] p-4">
                                        <div class="flex items-center gap-3 rounded-[12px] ">
                                            <div>
                                                <img src="/static/images/Standalone.png" alt="Standalone icon"
                                                    class="w-[48px] h-[48px]" />
                                            </div>
                                            <div>
                                                <p class="text-blue-gray font-regular text-base mb-1">Need help with
                                                    anything
                                                    ? </p>
                                                <p class="text-ebony font-semibold text-base">Call: (239) 555-0108</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- === ORDER CARD 2 === -->
                        <div class="order-card popup-btn mb-4 mt-6 rounded-lg shadow-(--box-shadow-5) overflow-hidden"
                            data-popup="order-missed-popup">
                            <!-- Header -->
                            <div class="bg-frost-green p-3 h-[63px]">
                                <p
                                    class="w-fit sm:w-[104px] rounded-[6px] text-[10px] sm:text-xs p-1 font-medium text-electric-purple bg-lavendar-dream mb-1">
                                    Order ID #8942
                                </p>
                                <div
                                    class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-1 text-[10px] sm:text-xs font-regular text-desaturated-blue">
                                    <span class="flex items-center gap-1">
                                        <img src="/static/images/alarm.svg" alt="calendar icon"
                                            class="w-[10px] h-[10px] sm:w-[12px] sm:h-[12px]" />
                                        Today · 9:45 AM
                                    </span>
                                    <span class="flex items-center gap-1">
                                        <img src="/static/images/time.svg" alt="calendar icon"
                                            class="w-[10px] h-[10px] sm:w-[12px] sm:h-[12px]" />
                                        ETA : 20min
                                    </span>
                                </div>
                            </div>
                            <!-- Body -->
                            <div class="bg-white">
                                <!-- MEDICINE LIST -->
                                <div class="flex items-start gap-3 px-4 sm:px-6 py-4 sm:py-5 border-b border-gainsboro">
                                    <img src="/static/images/Medicinebg.svg" alt="calendar icon"
                                        class="w-[32px] h-[32px] sm:w-[37px] sm:h-[37px]" />
                                    <div>
                                        <p class="font-regular text-foggy-silver mb-2 text-[10px] sm:text-xs">Medicines List</p>
                                        <ul class="text-xs sm:text-sm text-dark-grayish-blue font-semibold space-y-1">
                                            <li>• Azithromycin 500mg x 1 strip</li>
                                            <li>• Glucose D Packets x 4</li>
                                            <li>• Multivitamin (2 strip)</li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- CUSTOMER DETAILS -->
                                <div class="flex items-start gap-3 px-4 sm:px-6 py-4 sm:py-5 border-b border-gainsboro">
                                    <img src="/static/images/customer.svg" alt="calendar icon"
                                        class="w-[32px] h-[32px] sm:w-[37px] sm:h-[37px]" />
                                    <div>
                                        <p class="font-regular text-foggy-silver mb-2 text-[10px] sm:text-xs">Customer Details</p>
                                        <p class="text-xs sm:text-sm text-dark-grayish-blue font-semibold">Ahmed R </p>
                                    </div>
                                </div>
                                <!-- BUTTONS -->
                                <div class="flex justify-center px-4 sm:px-6 py-4 sm:py-5">
                                    <button
                                        class="w-full border sm:w-[155px] px-4 py-2 rounded-[8px] text-deep-teal border-dark-cyan text-xs sm:text-sm font-medium">
                                        View Invoice
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- === ORDER CARD 3 === -->
                        <div class="order-card popup-btn mb-4 mt-6 rounded-lg shadow-(--box-shadow-5) overflow-hidden"
                            data-popup="order-missed-popup">
                            <!-- Header -->
                            <div class="bg-frost-green p-3 h-[63px]">
                                <p
                                    class="w-fit sm:w-[104px] rounded-[6px] text-[10px] sm:text-xs p-1 font-medium text-electric-purple bg-lavendar-dream mb-1">
                                    Order ID #8942
                                </p>
                                <div
                                    class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-1 text-[10px] sm:text-xs font-regular text-desaturated-blue">
                                    <span class="flex items-center gap-1">
                                        <img src="/static/images/alarm.svg" alt="calendar icon"
                                            class="w-[10px] h-[10px] sm:w-[12px] sm:h-[12px]" />
                                        Today · 9:45 AM
                                    </span>
                                    <span class="flex items-center gap-1">
                                        <img src="/static/images/time.svg" alt="calendar icon"
                                            class="w-[10px] h-[10px] sm:w-[12px] sm:h-[12px]" />
                                        ETA : 20min
                                    </span>
                                </div>
                            </div>
                            <!-- Body -->
                            <div class="bg-white">
                                <!-- MEDICINE LIST -->
                                <div class="flex items-start gap-3 px-4 sm:px-6 py-4 sm:py-5 border-b border-gainsboro">
                                    <img src="/static/images/Medicinebg.svg" alt="calendar icon"
                                        class="w-[32px] h-[32px] sm:w-[37px] sm:h-[37px]" />
                                    <div>
                                        <p class="font-regular text-foggy-silver mb-2 text-[10px] sm:text-xs">Medicines List</p>
                                        <ul class="text-xs sm:text-sm text-dark-grayish-blue font-semibold space-y-1">
                                            <li>• Azithromycin 500mg x 1 strip</li>
                                            <li>• Glucose D Packets x 4</li>
                                            <li>• Multivitamin (2 strip)</li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- CUSTOMER DETAILS -->
                                <div class="flex items-start gap-3 px-4 sm:px-6 py-4 sm:py-5 border-b border-gainsboro">
                                    <img src="/static/images/customer.svg" alt="calendar icon"
                                        class="w-[32px] h-[32px] sm:w-[37px] sm:h-[37px]" />
                                    <div>
                                        <p class="font-regular text-foggy-silver mb-2 text-[10px] sm:text-xs">Customer Details</p>
                                        <p class="text-xs sm:text-sm text-dark-grayish-blue font-semibold">Ahmed R </p>
                                    </div>
                                </div>
                                <!-- BUTTONS -->
                                <div class="flex justify-center px-4 sm:px-6 py-4 sm:py-5">
                                    <button
                                        class="w-full border sm:w-[155px] px-4 py-2 rounded-[8px] text-deep-teal border-dark-cyan text-xs sm:text-sm font-medium">
                                        View Invoice
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>