<div class="tab-content upcoming w-full">

{% for order in orders %}
<div class="order-card popup-btn mb-4 mt-4 sm:mt-6 rounded-lg shadow-(--box-shadow-5) overflow-hidden cursor-pointer"
     data-popup="order-details-popup">

    <!-- HEADER -->
    <div class="bg-{{primary_bg}} p-4 rounded-xl">

        <!-- Row 1 : Order ID & ETA -->
        <div class="flex items-center justify-between">
            <p
                class="rounded-[6px] text-[10px] sm:text-xs px-2 py-1 font-medium text-electric-purple bg-lavendar-dream">
                Order ID #{{ order.id }}
            </p>

            <span
                class="flex items-center gap-1 text-[10px] sm:text-xs font-medium text-desaturated-blue">
                <img src="/static/images/time.svg" alt="time"
                    class="w-[10px] h-[10px] sm:w-[12px] sm:h-[12px]" />
                ETA : 20 min
            </span>
        </div>

        <!-- Row 2 : Status & Date -->
        <div class="flex items-center justify-between mt-1 text-[10px] sm:text-sm">
            <span class="font-semibold text-dodger-blue">
                Upcoming
            </span>

            <span class="flex items-center gap-1 text-desaturated-blue">
                <img src="/static/images/alarm.svg" alt="alarm"
                    class="w-[10px] h-[10px] sm:w-[12px] sm:h-[12px]" />
                {{ order.created_at|date:"D · g:i A" }}
            </span>
        </div>

    </div>

    <!-- BODY -->
    <div class="bg-white">

        <!-- MEDICINES -->
        <div class="flex items-start gap-3 px-6 py-5 border-b border-gainsboro">
            <img src="/static/images/Medicinebg.svg" class="w-[37px] h-[37px]" />
            <div>
                <p class="text-xs text-foggy-silver mb-2">Medicines List</p>
                <ul class="text-sm font-semibold space-y-1">
                    {% for med in order.medicines.all %}
                        <li>• {{ med.product_name }} × {{ med.quantity }}</li>
                    {% empty %}
                        <li class="text-gray-400">No medicines</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!-- CUSTOMER -->
        <div class="flex items-start gap-3 px-6 py-5 border-b border-gainsboro">
            <img src="/static/images/customer.svg" class="w-[37px] h-[37px]" />
            <div>
                <p class="text-xs text-foggy-silver">Customer Details</p>
                <p class="text-sm font-semibold">Hidden until Accepted</p>
            </div>
        </div>

        <!-- BUTTONS -->
        <div class="flex gap-3 px-6 py-5">
            <button
                class="border px-4 py-2 rounded text-sm open-popup"
                data-popup="order-details-popup">
                View Invoice
            </button>
            <button class="ml-auto bg-dodger-blue text-white px-4 py-2 rounded text-sm">
                Call Customer
            </button>
        </div>

    </div>
</div>
{% empty %}
<p class="text-center text-gray-400 mt-6">No orders found</p>
{% endfor %}

</div>

