{% load static %}

<div class="saved-post tab-content hidden py-6 space-y-6 postDiv" data-div="postSaved" id="postSaved">
    <!-- Header -->
    <div class="px-2 flex flex-col md:flex-row items-start md:items-center justify-between gap-2">
        <p class="text-sm font-semibold whitespace-nowrap">Saved Post history</p>
        <div class="flex items-center justify-end gap-5 w-full sm:w-5/6">
            <div class="w-full max-w-[280px] rounded-[6px] bg-light-white flex items-center gap-2 px-2">
                <span class="material-symbols-outlined text-dark-gray">
                search
                </span>
                <input id="post_history_query" name="post_history_query" type="text" placeholder="Search by name or categories"
                class="w-full py-2.5 border-none bg-transparent focus:outline-none focus:ring-0 placeholder:text-medium-gray" />
            </div>
            <div class="dropdown relative flex justify-end">
                <button
                class="filterToggle w-full max-w-[90px] h-[40px] border border-living-coral rounded-[10px] text-living-coral flex items-center justify-center gap-1 cursor-pointer group hover:bg-living-coral hover:text-white px-3"
            >
                <span class="material-symbols-outlined text-living-coral group-hover:text-white">
                keyboard_arrow_down
                </span>
                Filter
            </button>
                <div
                class="filterDropdown hidden absolute right-0 top-10 bg-white text-dark-gray shadow-[4px_4px_10px_2px_#00000026] rounded-md w-44 z-10"
                >
                <div
                    class="p-2 pl-4 flex justify-between items-center hover:bg-voilet-sky hover:text-white rounded"
                >
                    Custom date<span class="material-symbols-outlined calendar-icon"
                    >calendar_today
                    </span>
                </div>
                <div 
                    class="postdaterange p-2 pl-4 cursor-pointer hover:bg-living-coral hover:text-white rounded"
                    data-range="1 Week"
                >
                    1 Week
                </div>
                <div 
                    class="postdaterange p-2 pl-4 cursor-pointer hover:bg-living-coral hover:text-white rounded"
                    data-range="1 Month"
                >
                    1 Month
                </div>
                <div 
                    class="postdaterange p-2 pl-4 cursor-pointer hover:bg-living-coral hover:text-white rounded"
                    data-range="1 Year"
                >
                    1 Year
                </div>
                </div>
                <div
                    class="datepicker-container hidden px-4 pb-3 absolute top-full right-0 lg:right-[180px] z-50 bg-white shadow-md rounded">
                    <div class="datepicker-inline"></div>
                </div>
            </div>
            <button
                class="view-saved-post-history-btn w-full max-w-[100px] h-[40px] border border-living-coral rounded-[10px] text-living-coral flex items-center justify-center gap-1 cursor-pointer group hover:bg-living-coral hover:text-white">
                <span class="material-symbols-outlined text-living-coral group-hover:text-white">
                file_export
                </span>
                <span class="hidden sm:block">Export</span>
            </button>
        </div>
    </div>

    <!-- Table -->
    <div class="overflow-x-auto">
        <table class="min-w-full table-auto whitespace-nowrap postHistoryTable">
        <thead class="bg-violet-sky text-white text-sm sm:text-18-b">
            <tr>
            <th class="text-center px-4 py-6 border-r border-white">
                <div class="flex items-center justify-center gap-2">Date & Time<img src="/static/images/sort-alt.svg" alt="sort" loading="lazy" /></div>
            </th>
            <th class="text-center px-4 py-6 border-r border-white">Post</th>
            <th class="text-center px-4 py-6 border-r border-white">Post Type</th>
            <th class="text-center px-4 py-6 border-r border-white">Views</th>
            <th class="text-center px-4 py-6 border-r border-white">
                <div class="flex flex-col items-center justify-center"><p>Target</p><p>Donation</p></div>
            </th>
            <th class="text-center px-4 py-6 border-r border-white">
                <div class="flex flex-col items-center justify-center"><p>Donation</p><p>Received</p></div>
            </th>
            <th class="text-center px-4 py-6 border-r border-white">
                <div class="flex flex-col items-center justify-center"><p>Status</p><p>(Edit if required)</p></div>
            </th>
            <th class="text-center px-4 py-6">Actions</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
        </table>
        <div id="pagination-container" class="flex justify-center gap-2 mt-4"></div>
    </div>
</div>