{% load static %}

<div class="view-post-history-popup popup hidden fixed inset-0 items-center justify-center" style="background: rgba(0, 0, 0, 0.4); padding-left: 0.75rem; padding-right: 0.75rem; z-index: 50;">
  <div style="background-color: #ffffff; border-radius: 10px; max-width: 1000px; max-height: 640px; width: 100%; overflow-y: auto; box-shadow: 0 4px 6px rgba(0,0,0,0.1); padding-bottom: 12px; display: flex; flex-direction: column; gap: 16px;">
    
    <!-- Header -->
    <div style="display: flex; align-items: center; justify-content: space-between; height: 40px; background-color: rgba(107, 121, 245, 1); color: #ffffff; padding: 0 12px;">
      <div style="display: flex; gap: 16px; align-items: center;">
        <span class="material-symbols-outlined share-btn" style="cursor: pointer;">share</span>
        <span class="material-symbols-outlined download-btn" style="cursor: pointer;">download</span>
      </div>
      <span style="font-weight: 500;">Post History</span>
      <span class="material-symbols-outlined close-post-history-popup" style="cursor: pointer;">close</span>
    </div>

    <div class="download-container" style="height: calc(100% - 40px); overflow-y: auto; scroll-behavior: smooth; padding-bottom: 6px;">
        <div style="display: flex; justify-content: space-between; align-items: center; padding: 12px 16px;">
            <span style="font-weight: 600; font-size: 1.125rem;">NGO Pvt Ltd</span>
            <span style="font-size: 1rem; font-weight: 400;">Last 7 days (12/05/25 to 18/05/25)</span>
        </div>
        <div style="overflow-x: auto;">
            <table style="min-width: 100%; table-layout: auto; white-space: nowrap;">
            <thead style="background-color: rgba(107, 121, 245, 1); color: white; font-size: 0.875rem;">
                <tr>
                <th style="text-align: center; padding: 16px 20px; font-size: 0.875rem; border-right: 1px solid white;">
                    <div style="display: flex; align-items: center; justify-content: center; gap: 8px;">
                    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                        <p>Date & Time</p>
                    </div>
                    <img src="/static/images/sort-alt.svg" alt="sort" loading="lazy" />
                    </div>
                </th>
                <th style="text-align: center; padding: 0.25rem; font-size: 0.875rem; border-right: 1px solid white;">Post</th>
                <th style="text-align: center; padding: 0.25rem; font-size: 0.875rem; border-right: 1px solid white;">Post Type</th>
                <th style="text-align: center; padding: 0.25rem; font-size: 0.875rem; border-right: 1px solid white;">
                    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <p>Views</p>
                    </div>
                </th>
                <th style="text-align: center; padding: 0.25rem; font-size: 0.875rem; border-right: 1px solid white;">
                    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <p>Target</p>
                    <p>Donation</p>
                    </div>
                </th>
                <th style="text-align: center; padding: 0.25rem; font-size: 0.875rem; border-right: 1px solid white;">
                    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <p>Donation</p>
                    <p>Received</p>
                    </div>
                </th>
                <th style="text-align: center; padding: 0.25rem; font-size: 0.875rem; border-right: 1px solid white;">Status (Edit if required)</th>
                </tr>
            </thead>
            <tbody style="background-color: #F5F5F5; color: #484848; font-size: 0.875rem;" id="postHistoryTableExport">
            </tbody>
            </table>
        </div>
    </div>
  </div>
</div>
