{% load static %}

{% comment %} <div id="donationHistory" class="donation-history tab-content pt-8 space-y-6 hidden postDiv">
    <!-- Regular donation history content -->
    <div class="px-2 flex flex-col md:flex-row items-start md:items-center justify-between gap-2">
    <p class="text-sm font-semibold whitespace-nowrap">Saved Coupon</p>
    <div class="flex items-center justify-end gap-5 w-full sm:w-5/6">
        <div class="w-full max-w-[280px] rounded-[6px] bg-light-white flex items-center gap-2 px-2">
            <span class="material-symbols-outlined text-dark-gray">search</span>
            <input id="donation_history_query_regular" name="donation_history_query" type="text" placeholder="Search by Post Type or NGO Name"
                class="w-full py-2.5 border-none bg-transparent focus:outline-none focus:ring-0 placeholder:text-medium-gray" />
        </div>

        <div class="dropdown relative flex justify-end">
            <button
                class="filterToggle w-full max-w-[90px] h-[40px] border border-living-coral rounded-[10px] text-living-coral flex items-center justify-center gap-1 cursor-pointer group hover:bg-living-coral hover:text-white px-3">
                <span class="material-symbols-outlined text-living-coral group-hover:text-white">keyboard_arrow_down</span>
                Filter
            </button>

            <div class="filterDropdown hidden absolute right-0 top-10 bg-white text-dark-gray shadow-[4px_4px_10px_2px_#00000026] rounded-md w-44 z-10">
                <div 
                    class="donationdaterange p-2 pl-4 cursor-pointer hover:bg-living-coral hover:text-white rounded"
                    data-range="Custom">
                    Custom date
                    <span class="material-symbols-outlined calendar-icon">calendar_today</span>
                </div>
                <div 
                    class="donationdaterange p-2 pl-4 cursor-pointer hover:bg-living-coral hover:text-white rounded"
                    data-range="1 Week">
                    1 Week
                </div>
                <div 
                    class="donationdaterange p-2 pl-4 cursor-pointer hover:bg-living-coral hover:text-white rounded"
                    data-range="1 Month">
                    1 Month
                </div>
                <div 
                    class="donationdaterange p-2 pl-4 cursor-pointer hover:bg-living-coral hover:text-white rounded"
                    data-range="1 Year">
                    1 Year
                </div>
            </div>

            <div class="datepicker-container hidden px-4 pb-3 absolute top-full right-0 lg:right-[180px] z-50 bg-white shadow-md rounded">
                <div class="datepicker-inline"></div>
            </div>
        </div>

        <button
            class="view-donation-history-btn w-full max-w-[100px] h-[40px] border border-living-coral rounded-[10px] text-living-coral flex items-center justify-center gap-1 cursor-pointer group hover:bg-living-coral hover:text-white">
            <span class="material-symbols-outlined text-living-coral group-hover:text-white">file_export</span>
            <span class="hidden sm:block">Export</span>
        </button>
    </div>

    <div class="relative max-h-[calc(9*2rem)] overflow-y-auto overflow-x-auto no-scrollbar mt-10">
        <table class="table-auto min-w-full text-sm text-dark-gray whitespace-nowrap">
            <thead class="bg-living-coral text-white">
                <tr>
                    <th class="text-center px-4 py-4 border-r border-white">Date & Time
                        <img src="{% static 'images/sort-alt.svg' %}" alt="sort" class="inline ml-2" />
                    </th>
                    <th class="px-4 py-4 text-center border-r border-white">Post Name</th>
                    <th class="text-center px-4 py-4 border-r border-white">NGO Name</th>
                    <th class="text-center px-4 py-4 border-r border-white">Post Type</th>
                    <th class="text-center px-4 py-4 border-r border-white">Paid Donation</th>
                    <th class="text-center px-4 py-4 border-r border-white">Status</th>
                    <th class="text-center px-4 py-4 border-r border-white">Actions</th>
                </tr>
            </thead>
            <tbody class="donate-history">
                {% include 'advertiser/partials/donate-history.html' %}
            </tbody>
        </table>
        <div id="pagination-container-regular" class="pagination-wrapper flex justify-center gap-2 mt-4"></div>
    </div>
</div> {% endcomment %}

<!-- Saved Donation History Section -->
<div id="donationSaved" class="donationSaved tab-content py-6 space-y-6 hidden donationDiv">
    <div class="px-2 flex flex-col md:flex-row items-start md:items-center justify-between gap-2">
        <h1 class="font-semibold text-base text-dark-gray">Saved Donation History</h1>

        <div class="flex items-center justify-end gap-5 w-full sm:w-5/6">
            <div class="w-full max-w-[280px] rounded-[6px] bg-light-white flex items-center gap-2 px-2">
                <span class="material-symbols-outlined text-dark-gray">search</span>
                <input id="donation_history_query" name="donation_history_query" type="text" placeholder="Search by Post Type or NGO Name"
                    class="w-full py-2.5 border-none bg-transparent focus:outline-none focus:ring-0 placeholder:text-medium-gray" />
            </div>

            <div class="dropdown relative flex justify-end">
                <button
                    class="filterToggle w-full max-w-[90px] h-[40px] border border-living-coral rounded-[10px] text-living-coral flex items-center justify-center gap-1 cursor-pointer group hover:bg-living-coral hover:text-white px-3">
                    <span class="material-symbols-outlined text-living-coral group-hover:text-white">keyboard_arrow_down</span>
                    Filter
                </button>

                <div class="filterDropdown hidden absolute right-0 top-10 bg-white text-dark-gray shadow-[4px_4px_10px_2px_#00000026] rounded-md w-44 z-10">
                    <div 
                        class="saveddonationdaterange p-2 pl-4 cursor-pointer hover:bg-living-coral hover:text-white rounded"
                        data-range="Custom">
                        Custom date
                        <span class="material-symbols-outlined calendar-icon">calendar_today</span>
                    </div>
                    <div 
                        class="saveddonationdaterange p-2 pl-4 cursor-pointer hover:bg-living-coral hover:text-white rounded"
                        data-range="1 Week">
                        1 Week
                    </div>
                    <div 
                        class="saveddonationdaterange p-2 pl-4 cursor-pointer hover:bg-living-coral hover:text-white rounded"
                        data-range="1 Month">
                        1 Month
                    </div>
                    <div 
                        class="saveddonationdaterange p-2 pl-4 cursor-pointer hover:bg-living-coral hover:text-white rounded"
                        data-range="1 Year">
                        1 Year
                    </div>
                </div>

                <div class="datepicker-container hidden px-4 pb-3 absolute top-full right-0 lg:right-[180px] z-50 bg-white shadow-md rounded">
                    <div class="datepicker-inline"></div>
                </div>
            </div>

            <button
                class="view-saved-donation-history-btn w-full max-w-[100px] h-[40px] border border-living-coral rounded-[10px] text-living-coral flex items-center justify-center gap-1 cursor-pointer group hover:bg-living-coral hover:text-white">
                <span class="material-symbols-outlined text-living-coral group-hover:text-white">file_export</span>
                <span class="hidden sm:block">Export</span>
            </button>
        </div>
    </div>

    <div class="relative max-h-[calc(9*2rem)] overflow-y-auto overflow-x-auto no-scrollbar">
        <table class="table-auto min-w-full text-sm text-dark-gray whitespace-nowrap">
            <thead class="bg-living-coral text-white">
                <tr>
                    <th class="text-center px-4 py-4 border-r border-white">Date & Time
                        <img src="{% static 'images/sort-alt.svg' %}" alt="sort" class="inline ml-2" />
                    </th>
                    <th class="px-4 py-4 text-center border-r border-white">Post Name</th>
                    <th class="text-center px-4 py-4 border-r border-white">NGO Name</th>
                    <th class="text-center px-4 py-4 border-r border-white">Post Type</th>
                    <th class="text-center px-4 py-4 border-r border-white">Paid Donation</th>
                    <th class="text-center px-4 py-4 border-r border-white">Status</th>
                    <th class="text-center px-4 py-4 border-r border-white">Actions</th>
                </tr>
            </thead>
            <tbody class="donate-history">
                {% include 'advertiser/partials/donate-history.html' %}
            </tbody>
        </table>
    </div>

    <div id="pagination-container-saved" class="pagination-wrapper flex justify-center gap-2 mt-4"></div>
</div>
