{% extends "dashboard/layout.html" %}
{% load static %}
{% block title %}Services{% endblock %}


{% block content %}
             <!--Main Content-->
            <div class="main-section relative transition-all duration-300  main-content h-full flex-1 flex flex-col p-6 overflow-y-auto scroll">
                <div class="show-sidebar-toggle hidden fixed top-[100px] left-12 z-50 h-10 w-10 bg-light-teal items-center justify-center rounded-r-md cursor-pointer">
                    <span class="material-symbols-outlined bold-weight text-deep-teal-green">
                        arrow_forward_ios
                    </span>
                </div>
                <div class="bg-white rounded-[10px] p-5 space-y-5">
                    <div class="flex flex-col gap-3 sm:gap-0 sm:flex-row sm:items-center sm:justify-between">
                        <div class="flex flex-col  gap-2">
                            <div class="flex items-center gap-2">
                                <span class="material-symbols-outlined text-xl! font-semibold!">home</span>
                                <h1 class="text-base font-semibold">Home</h1>
                            </div>
                            <div id="date" class="font-normal text-base"></div>
                        </div>
                        <div class="flex flex-col  gap-2 lg:items-center " id="infoSection">
                            <div class="flex flex-col gap-2">
                                <div id="location" class="font-normal text-base flex items-center gap-2">
                                    <span class="material-symbols-outlined !text-base"> location_on </span>
                                    <span id="location-text">Fetching location...</span>
                                </div>
                                <div class="flex items-center gap-2">
                                    <p>Auto Bid </p>
                                    <label class="relative inline-block w-12 h-6 cursor-pointer mt-1">
                                        <input type="checkbox" class="sr-only peer">
                                        <div
                                            class="w-11 h-4 rounded-full bg-gray-300 peer-checked:bg-powder-teal transition-colors mt-0.5">
                                        </div>
                                        <div
                                            class="absolute -top-0.5 left-0 w-6 h-6 bg-gray-500 rounded-full transition-transform peer-checked:translate-x-6 peer-checked:bg-deep-teal">
                                        </div>
                                    </label>
                                    <div
                                        class="bg-gradient-to-r from-caribbean-green to-azure-radiance w-6 h-6 rounded-[7px] text-white text-xs flex items-center justify-center">
                                        Rx</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Home Section -->
                    <div class="home-section flex flex-col gap-5">
                        <!--Hospital Image and Admin Details-->
                        <div class="flex flex-col lg:flex-row gap-3 w-full lg:h-[494px]">
                            <div class="relative flex-1">
                                <img src="/static/images/lab-bg.png" alt="Lab" class="w-full h-full object-cover rounded-lg">
                                <div class="absolute inset-0 flex items-end">
                                    <div class=" bg-semi-transparent-black backdrop-blur-sm w-full text-white px-6 py-3 rounded-lg">
                                        <div class="flex flex-col gap-2">
                                            <div class="flex items-center gap-2">
                                                <span class="material-symbols-outlined">home</span>
                                                <p class="text-base font-semibold">Lifecare Multispeciality Hospital</p>
                                            </div>
                                            <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between">
                                                <p class="font-semibold text-sm">221/A, 2nd Floor, Shanti Nagar Road, Sector 10, Andheri East, <br> Mumbai, Maharashtra – 400093
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w-full lg:max-w-[448px] h-full rounded-lg overflow-hidden border-2 border-[#E2E8F0] shadow-16">
                                <div class="h-[120px] sm:h-[136px] bg-deep-teal-green relative flex flex-col gap-3 px-7 py-6">
                                    <span class="text-sm sm:text-base font-bold text-white">Subscription Details</span>
                                    <span class="text-[30px] sm:text-[35px] font-bold text-white">
                                        ₹999 <span class="text-sm sm:text-base font-bold text-white">/month</span>
                                    </span>
                                    <div class="absolute right-5 top-4 bg-premium-yellow px-5 py-0.5 text-xs sm:text-sm font-bold text-black rounded-full">
                                        PREMIUM
                                    </div>
                                </div>
                                <div>
                                    <ul class="px-4 py-4 sm:py-5 space-y-6 sm:space-y-7">
                                        <li>
                                            <div class="flex items-start justify-between gap-3">
                                                <div class="flex items-start gap-3">
                                                    <div class="w-10 h-10 rounded-[10px] bg-premium-light-blue shrink-0 flex items-center justify-center">
                                                        <img src="/static/images/subscription-1.svg" alt="subscription-1">
                                                    </div>
                                                    <div class="flex flex-col gap-1">
                                                        <span class="text-sm sm:text-base font-bold text-black">High-value leads</span>
                                                        <p class="text-xs sm:text-sm font-normal text-foggy-silver">Connect with premium prospects ready to engage</p>
                                                    </div>
                                                </div>
                                                <span class="material-symbols-outlined text-light-green">
                                                    check
                                                </span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="flex items-start justify-between gap-3">
                                                <div class="flex items-start gap-3">
                                                    <div class="w-10 h-10 rounded-[10px] bg-premium-light-blue shrink-0 flex items-center justify-center">
                                                        <img src="/static/images/subscription-2.svg" alt="subscription-2">
                                                    </div>
                                                    <div class="flex flex-col gap-1">
                                                        <span class="text-sm sm:text-base font-bold text-black">Fewer but richer bids</span>
                                                        <p class="text-xs sm:text-sm font-normal text-foggy-silver">Quality over quantity with higher conversion rates</p>
                                                    </div>
                                                </div>
                                                <span class="material-symbols-outlined text-light-green">
                                                    check
                                                </span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="flex items-start justify-between gap-3">
                                                <div class="flex items-start gap-3">
                                                    <div class="w-10 h-10 rounded-[10px] bg-premium-light-blue shrink-0 flex items-center justify-center">
                                                        <img src="/static/images/subscription-3.svg" alt="subscription-3">
                                                    </div>
                                                    <div class="flex flex-col gap-1">
                                                        <span class="text-sm sm:text-base font-bold text-black">Hospitals gain in efficiency</span>
                                                        <p class="text-xs sm:text-sm font-normal text-foggy-silver">Streamlined processes for healthcare institutions</p>
                                                    </div>
                                                </div>
                                                <span class="material-symbols-outlined text-light-green">
                                                    check
                                                </span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="px-4 py-2">
                                    <button class="w-full bg-deep-teal-green py-3 text-white text-xs sm:text-sm font-semibold rounded-lg cursor-pointer">
                                        Get Started Now
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="w-full h-[415px] shadow-17 rounded-lg px-5 py-5">
                            <h2 class="text-[20px] font-bold text-blue-charcoal">Medicines</h2>
                            <div class="w-full flex items-center justify-center mt-5">
                                <div class="flex flex-col items-center gap-6 w-3/4 sm:w-3/5">
                                    <img src="/static/images/services-bg.svg" alt="services">
                                    <span class="text-sm sm:text-base text-center font-normal text-black">At the moment, there are no Services in queue. We'll keep you updated!</span>
                                    <button class="home-add-service w-full max-w-[352px] h-[40px] rounded-lg border border-deep-teal-green text-deep-teal-green text-xs sm:text-sm font-semibold cursor-pointer">
                                        Add Services
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Services Section -->
                     {% include 'pharmacy/partials/services_section.html' %}


                    <!-- Premium Section -->
                     {% include 'partials/premium_section.html' %}
                </div>    
            </div>

            <!-- Add Service Popup -->
             {% include 'pharmacy/partials/add_service_popup.html' %}
{% endblock %}

{% block extra_js %}
  <script src="/static/js/tabs.js"></script>
    <script src="/static/js/common-services.js"></script>
  <script src="/static/js/table-pagination.js"></script>
{% endblock %}